In [110]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import string
import re

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
pd.set_option('display.max_rows', 500)

In [311]:
accumulate_metrics = []

In [ ]:
# root_dir = r"E:\Nextstep\MLChallenge\DeHaDo_AI"
root_dir = r"F:\Muthu_2023\Personal\NextStep\Hackathon\DeHaDo_AI"
file = 'Inference_test_trocr_large.csv'

In [ ]:
# model_res_path = root_dir + "/" + r"tokenwise-dehado-ai\results\OCR_Results"
model_res_path = root_dir + "/" + r"tokenwise-dehado-ai\results\TrOCR_Results"
df_pred = pd.read_csv(model_res_path + "/" + file)

In [ ]:
label_file = root_dir + "/" + r"results\OCR_Results\test.csv"
df_act = pd.read_csv(label_file)

# Preprocessing

In [ ]:
df_act['folder'] = df_act['image'].apply(lambda x: x.split("/")[2])
df_act['file'] = df_act['image'].apply(lambda x: x.split("/")[-1].replace(".jpg", ""))
df_act.drop('image', axis=1, inplace=True)
df_act.head()

In [ ]:
df_pred.drop('Unnamed: 0', axis=1, inplace=True)

In [160]:
df_pred.rename(columns={'text': 'pred_text'}, inplace=True)
df_pred.head()

    folder               file                                pred_text
0  MIT_290        nationality                                 Indian .
1  MIT_290        Dateofbirth                             3/6 ( 1972 .
2  MIT_290  Fatherhusbandname                      Bahadurjit Aggarwal
3  MIT_290   permanentaddress  H.NO. 18 , LOYAL CURCLE , JALANDHAR-309
4  MIT_290         experience                7 . YEARS AT TALWAR-SHA .

# Combine Label and Predictions

In [ ]:
df_comb = pd.merge(df_pred, df_act, on = ['folder', 'file'], how='left')

In [ ]:
df_comb.rename(columns={'text': 'actual_text'}, inplace=True)
df_comb.head()

In [ ]:
df_comb.to_csv('Combined_Inference_Large.csv')

# EDA on Labels

- Special character distibution by field
- Distribution of special characters across field

In [ ]:
d_special = {}
def count_special_characters(data):
    cnt = 0
    for char in data:
        if char in string.punctuation:
            cnt += 1
            if char in d_special:
                d_special[char] += 1
            else:
                d_special[char] = 1
    return cnt

In [ ]:
df_comb['n_special'] = df_comb['actual_text'].apply(count_special_characters)

In [ ]:
res = df_comb.groupby('file')['n_special'].sum()
res[res>0].sort_values(ascending=False).plot(kind='bar')

In [ ]:
d_special

### Inference:
- Only 6 different special characters are present with '&' being neglegible

In [ ]:
def count_special_character(data, s_chr):
    cnt = 0
    if 
    for char in data:
        if char in string.punctuation:
            cnt += 1
            if char in d_special:
                d_special[char] += 1
            else:
                d_special[char] = 1
    return cnt

In [ ]:
df_comb['n_hipen'] = df_comb['actual_text'].apply(lambda x: x.count('-'))
df_comb['n_dot'] = df_comb['actual_text'].apply(lambda x: x.count('.'))
df_comb['n_comma'] = df_comb['actual_text'].apply(lambda x: x.count(','))
df_comb['n_plus'] = df_comb['actual_text'].apply(lambda x: x.count('+'))
df_comb['n_slash'] = df_comb['actual_text'].apply(lambda x: x.count('/'))
df_comb.head()

In [ ]:
df_comb[df_comb['n_special'] > 0].groupby('file').sum()

# Compute Metrics

In [ ]:
df_comb_base = pd.read_csv(r"E:\Nextstep\MLChallenge\DeHaDo_AI\Results\OCR\Combined_Inference_Base.csv")
df_comb_base.head()

In [ ]:
compute_cer_wer(df_comb_base['pred_text'], df_comb_base['actual_text'])

In [ ]:
print("CER: ", char_error_rate(df_comb_base['actual_text'], df_comb_base['pred_text']))
print("WER: ", word_error_rate(df_comb_base['actual_text'], df_comb_base['pred_text']))

In [ ]:
import time
import psutil
import numpy as np

# --- METRICS & EFFICIENCY ---
def levenshtein_distance(s1, s2):
    if isinstance(s1, str):
        s1 = list(s1)
    if isinstance(s2, str):
        s2 = list(s2)
    if len(s1) < len(s2):
        return levenshtein_distance(s2, s1)
    if len(s2) == 0:
        return len(s1)
    previous_row = range(len(s2) + 1)
    for i, c1 in enumerate(s1):
        current_row = [i + 1]
        for j, c2 in enumerate(s2):
            insertions = previous_row[j + 1] + 1
            deletions = current_row[j] + 1
            substitutions = previous_row[j] + (c1 != c2)
            current_row.append(min(insertions, deletions, substitutions))
        previous_row = current_row
    return previous_row[-1]

def word_error_rate(y_true, y_pred):
    total_words = 0
    total_errors = 0
    for t, p in zip(y_true, y_pred):
        t_words = t.split()
        p_words = p.split()
        total_words += len(t_words)
        total_errors += levenshtein_distance(t_words, p_words)
    return total_errors / total_words if total_words > 0 else 0.0

def char_error_rate(y_true, y_pred):
    total_chars = 0
    total_errors = 0
    for t, p in zip(y_true, y_pred):
        total_chars += len(t)
        total_errors += levenshtein_distance(t, p)
    return total_errors / total_chars if total_chars > 0 else 0.0

def field_accuracy(y_true, y_pred):
    from sklearn.metrics import accuracy_score
    return accuracy_score(y_true, y_pred)

def document_level_accuracy(y_true, y_pred, doc_ids):
    from collections import defaultdict
    doc_true = defaultdict(list)
    doc_pred = defaultdict(list)
    for doc_id, t, p in zip(doc_ids, y_true, y_pred):
        doc_true[doc_id].append(t)
        doc_pred[doc_id].append(p)
    correct_docs = 0
    for doc_id in doc_true:
        if doc_true[doc_id] == doc_pred[doc_id]:
            correct_docs += 1
    return correct_docs / len(doc_true) if doc_true else 0.0

In [318]:
word_error_rate('Muthu Kumar asdf', 'muthu Kumar')

0.1

In [ ]:
char_error_rate(df_comb[df_comb['file'] == 'Dateofbirth']['actual_text'], df_comb[df_comb['file'] == 'Dateofbirth']['pred_text'])

In [ ]:
field_list = df_comb['file'].unique()
cer = {}
wer = {}
for field in field_list:
    # print(field)
    predictions = df_comb[df_comb['file'] == field]['pred_text']
    actual = df_comb[df_comb['file'] == field]['actual_text']
    cer[field] = char_error_rate(actual, predictions)
    wer[field] = word_error_rate(actual, predictions)

In [ ]:
metrics_large = pd.DataFrame(cer.values(), columns=['cer'], index = cer.keys())
metrics_large['wer'] = wer
metrics_large

In [ ]:
df_processed = df_comb.copy()
df_processed['processed_text'] = df_processed['pred_text']

In [ ]:
def remove_special_char(text):
    cleaned_text = re.sub(r'[^A-Za-z0-9]+', '', text)
    return cleaned_text

In [ ]:
def numeric_only(text):
    cleaned_text = re.sub(r'[^0-9]+', '', text)
    return cleaned_text

In [ ]:
def char_space(text):
    cleaned_text = re.sub(r'[^A-Za-z ]+', '', text)
    return cleaned_text.strip()

In [237]:
lang_specific("Tamil, Englsh, Hdi")

'Tamil, English, Hindi'

In [236]:
def lang_specific(text, camelcase=True):
    text = re.sub(r'[^A-Za-z ,]+', '', text)
    text = re.sub(r'^[^A-Za-z0-9]+|[^A-Za-z0-9]+$', '', text) # Remove special character at start and end
    text = re.sub(r'[^A-Za-z0-9, ]+', ',', text) # Remove single special character to comma
    text = re.sub(r'\s+,', ',', text) # Remove extra spaces before comma
    words = []
    for word in text.split():
        if camelcase:
            capital_letters = sum(1 for char in text if char.isupper())
            if capital_letters <= len(word)//2:
                # word = word.strip().lower()
                word = word.capitalize().strip()
            else:
                word = word.strip()
        else:
            word = word.strip()
        word = autocorrect_words(word.replace(",",""), 'language') + ","
        words.append(word)
    return " ".join(words)[:-1]

In [330]:
def date_specific(text):
#     text = text.replace('(', '/').replace(')', '/') # Slash is mis represented as ( by model
    cleaned_text = re.sub(r'[^0-9]+', '/', text)
    cleaned_text = re.sub(r'/+', '/', cleaned_text)
    cleaned_text = re.sub(r'^[^0-9]+|[^0-9]+$', '', cleaned_text)
#     cleaned_text = re.sub(r'[^0-9\-/]+', '', text)
    return cleaned_text

In [ ]:
def bloodgroup_specific(text):
    cleaned_text = re.sub(r'[^ABOTabot0-1+\-]+', '', text)
    cleaned_text = cleaned_text.replace('t', '+').replace('0', 'O')
    return cleaned_text.upper().strip()

In [ ]:
def generic(text):
    cleaned_text = re.sub(r'[^A-Za-z0-9 +\-]+', '', text)
    return cleaned_text.strip()

In [265]:
with open("field_vocabulary.json", "r") as f:
    field_vocab = json.load(f)

In [284]:
def autocorrect_words(text, field):
    accept_flag = False
    if field in field_vocab:
        training_labels = field_vocab[field]
        dist = [levenshtein_distance(text, ele) for ele in training_labels]
        
        min_dist, min_dist_ind = np.min(dist), np.argmin(dist)
        corrected = training_labels[min_dist_ind]
        if ((min_dist <= 1) or (min_dist <= 2 and len(corrected) > 4) or (min_dist <= 3 and len(corrected) > 8)) and dist.count(min_dist) <= 1:
            return corrected
        else:
            return text
    else:
        return text

In [ ]:
def process_words2(text):
    words = []
    for word in text.split():
        word = word.capitalize().strip()
        word = autocorrect_words(word, field)
        words.append(word)
    return " ".join(words)

In [ ]:
def alphabets_only(text):
    cleaned_text = re.sub(r'[^A-Za-z]+', '', text)
    return cleaned_text.capitalize()

In [ ]:
def process_words(text, camelcase=False):
    words = []
    for word in text.split():
        if camelcase:
            capital_letters = sum(1 for char in text if char.isupper())
            if capital_letters <= len(word)//2:
                # word = word.strip().lower()
                word = word.capitalize()
            else:
                word = word.strip()
        else:
            word = word.strip()
        words.append(word)
    return " ".join(words)

In [ ]:
def alphanum_specialchar(text):
    cleaned_text = re.sub(r'[^A-Za-z0-9 +\-/,.]+', '', text)
    return cleaned_text.strip()

In [301]:
def address_specific(text):
    text = re.sub(r'^[^A-Za-z0-9]+|[^A-Za-z0-9]+$', '', text) # Remove special character at start and end
    text = re.sub(r'[^A-Za-z0-9, /\-.]+', ',', text) # Remove single special character to comma
    text = re.sub(r'\s+,', ',', text) # Remove extra spaces before comma
    return text

In [103]:
alphatonum = {"o": "0", "O": "0", "b": "6", "z": "2", "Z": "2", "B": "8", "G": "6", "I": "1", "T":"7"}
numtoalpha = {val: key for key, val in alphatonum.items()}
schartonum = {"/": "1", "\\": "1", "(": "1"}


def alpha2num(text):
    text_transform = ""
    for char in text:
        if char.isalpha():
            if char in alphatonum:
                text_transform += alphatonum[char]
            else:
                text_transform += char
        else:
            text_transform += char
    return text_transform

def num2alpha(text):
    text_transform = ""
    for char in text:
        if char.isdigit():
            if char in numtoalpha:
                text_transform += numtoalpha[char]
            else:
                text_transform += char
        else:
            text_transform += char
    return text_transform

def special2num(text):
    text_transform = ""
    for char in text:
        if not char.isalnum():
            if char in schartonum:
                text_transform += schartonum[char]
            else:
                text_transform += char
        else:
            text_transform += char
    return text_transform

In [78]:
def pan_specific(text):
    text = remove_special_char(text)
    text_transform = ""
    if len(text) == 10:
        text_transform = num2alpha(text[:5])
        text_transform += alpha2num(text[5:-1])
        text_transform += num2alpha(text[-1])
    else:
        text_transform = text
    
    return text_transform.upper()

In [305]:
def post_processing(data):
    if data[0] in ['Dateofbirth', 'date']:
        return date_specific(data[1])
    elif data[0] in ['nationality', 'gender', 'maritalstatus']:
        clean_text = alphabets_only(data[1])
        return autocorrect_words(clean_text, data[0])    
    elif data[0] in ['candidatename', 'Fatherhusbandname']:
        clean_text = char_space(data[1])
        return process_words(clean_text, True)
    elif data[0] in ['place']:
        clean_text = alphabets_only(data[1])
#         clean_text = process_words(clean_text, True)
        return autocorrect_words(clean_text, data[0])
    elif data[0] in ['contactnumber', 'AlternateNo', 'aadhaarcard']:
        clean_text = special2num(alpha2num(data[1]))
        return numeric_only(clean_text)
    elif data[0] in ['permanentaddress', 'presentaddress']:
        clean_text = alphanum_specialchar(data[1])
        clean_text = address_specific(clean_text)
        return process_words(clean_text, True)
    elif data[0] in ['bloodgroup']:
        return bloodgroup_specific(data[1])
    elif data[0] in ['experience', 'experience1']:
        clean_text = generic(data[1])
        return process_words(clean_text, False)
    elif data[0] in ['qualification']:
        clean_text = generic(data[1])
        clean_text = process_words(clean_text, True)        
        return autocorrect_words(clean_text, data[0]) 
    elif data[0] in ['referencescmob1', 'referencescmob2']:
        clean_text = reference_specific(data[1])
        return clean_text
    elif data[0] in ['pancard']:
        return pan_specific(data[1])
    elif data[0] in ['languageknown']:
        return lang_specific(data[1])
    else:
        return ""

In [331]:
df_processed_backup = df_processed.copy()

In [332]:
df_processed['processed_text'] = df_processed[['file', 'pred_text']].apply(post_processing, axis=1)

In [333]:
char_error_rate(df_processed['actual_text'], df_processed['processed_text'])

0.14786107673491247

In [334]:
word_error_rate(df_processed['actual_text'], df_processed['processed_text'])

0.4220161560154868

In [329]:
df_test = df_processed[(df_processed['file'] != 'date') & (df_processed['file'] != 'Dateofbirth')]
char_error_rate(df_test['actual_text'], df_test['processed_text']), word_error_rate(df_test['actual_text'], df_test['processed_text'])

(0.14177324283977408, 0.4051517571884984)

In [335]:
df_processed['field_acc_pred'] = df_processed['pred_text'] == df_processed['actual_text']
df_processed['field_acc_processed'] = df_processed['processed_text'] == df_processed['actual_text']

# Metrics

- CER and WER between predicted and processed texts

In [256]:
def final_score(data):
    cer_score = (100 - (data[0] * 100)) * 0.35
    wer_score = (100 - (data[1] * 100)) * 0.35
    field_score = data[2] * 15
    return cer_score + wer_score + field_score

In [257]:
data = [0.059, 0.099, 0.9]
final_score(data)

77.97

In [336]:
cer = {}
wer = {}
f_acc = {}
for field in field_list:
    df_temp = df_processed[df_processed['file']==field]
    cer[field] = [char_error_rate(df_temp['actual_text'], df_temp['pred_text']), char_error_rate(df_temp['actual_text'], df_temp['processed_text'])]
    wer[field] = [word_error_rate(df_temp['actual_text'], df_temp['pred_text']), word_error_rate(df_temp['actual_text'], df_temp['processed_text'])]
    f_acc[field] = [field_accuracy(df_temp['actual_text'], df_temp['pred_text']), field_accuracy(df_temp['actual_text'], df_temp['processed_text'])]
cer['All'] = [char_error_rate(df_processed['actual_text'], df_processed['pred_text']), char_error_rate(df_processed['actual_text'], df_processed['processed_text'])]
wer['All'] = [word_error_rate(df_processed['actual_text'], df_processed['pred_text']), word_error_rate(df_processed['actual_text'], df_processed['processed_text'])]
f_acc['All'] = [field_accuracy(df_processed['actual_text'], df_processed['pred_text']), field_accuracy(df_processed['actual_text'], df_processed['processed_text'])]

cer_df = pd.DataFrame.from_dict(cer, orient='index', columns = ['cer_pred', 'cer_processed'])
wer_df = pd.DataFrame.from_dict(wer, orient='index', columns = ['wer_pred', 'wer_processed'])
facc_df = pd.DataFrame.from_dict(f_acc, orient='index', columns = ['facc_pred', 'facc_processed'])
metrics_df = pd.concat([cer_df, wer_df, facc_df], axis=1)

metrics_df['final_score_pred'] = metrics_df[['cer_pred', 'wer_pred', 'facc_pred']].apply(final_score, axis=1)
metrics_df['final_score_processed'] = metrics_df[['cer_processed', 'wer_processed', 'facc_processed']].apply(final_score, axis=1)                                                                                     
metrics_df

,cer_pred,cer_processed,wer_pred,wer_processed,facc_pred,facc_processed,final_score_pred,final_score_processed
nationality,0.304676,0.059578,0.852941,0.099548,0.352941,0.900452,34.777526,77.937406
Dateofbirth,0.687696,0.219359,3.839644,0.668151,0.004454,0.331849,-88.390060,43.914845
Fatherhusbandname,0.252202,0.113788,0.830000,0.388889,0.082222,0.404444,33.356262,58.472992
permanentaddress,0.310923,0.251514,1.300696,0.758701,0.000000,0.031111,13.593322,35.109166
experience,0.176803,0.145936,0.422158,0.341845,0.051111,0.144444,49.803012,55.094341
date,0.824570,0.269287,4.268182,0.938636,0.000000,0.061364,-108.246314,28.643120
presentaddress,0.315119,0.253325,1.297668,0.737997,0.000000,0.033333,13.552447,35.803722
gender,0.459750,0.008497,1.328090,0.015730,0.031461,0.984270,7.897530,83.916077
bloodgroup,0.976954,0.135271,1.578231,0.290249,0.074830,0.709751,-18.309033,65.753059
experience1,0.187324,0.152242,0.454582,0.365784,0.035556,0.124444,48.066600,53.735743
qualification,0.379851,0.074043,1.236273,0.163062,0.024444,0.862222,13.802318,74.634656
languageknown,0.172529,0.041070,1.492999,0.083272,0.000000,0.818792,11.706495,77.929919
referencescmob2,0.185652,0.108000,0.680556,0.367778,0.068889,0.193333,40.716063,56.247778
pancard,0.482692,0.132692,2.615385,0.596154,0.009615,0.403846,-38.288462,50.548077
maritalstatus,0.435948,0.020523,1.720000,0.040000,0.006667,0.960000,-5.358193,82.281695
contactnumber,0.354889,0.088667,2.451111,0.493333,0.077778,0.506667,-27.043333,57.230000
AlternateNo,0.367489,0.084305,2.549327,0.475336,0.076233,0.524664,-30.945067,58.282511
place,0.400965,0.055773,1.530337,0.116854,0.053933,0.883146,3.213426,77.205238
candidatename,0.228124,0.093986,0.741111,0.331111,0.091111,0.497778,37.443442,62.588257
referencescmob1,0.196804,0.109519,0.727222,0.373333,0.033333,0.175556,38.159086,55.733507
aadhaarcard,0.381110,0.312087,1.871111,0.888889,0.053333,0.111111,-8.027726,29.632504
NONE,2.000000,1.000000,4.000000,1.000000,0.000000,0.000000,-140.000000,0.000000
All,0.298689,0.147861,1.154677,0.422016,0.055235,0.470289,19.960696,57.108626

In [337]:
accumulate_metrics.append(metrics_df.loc['All'])
accumulate_metrics

[cer_pred                  0.298689
 cer_processed             0.147535
 wer_pred                  1.154677
 wer_processed             0.422160
 facc_pred                 0.055235
 facc_processed            0.469949
 final_score_pred         19.960696
 final_score_processed    57.109912
 Name: All, dtype: float64,
 cer_pred                  0.298689
 cer_processed             0.147861
 wer_pred                  1.154677
 wer_processed             0.422016
 facc_pred                 0.055235
 facc_processed            0.470289
 final_score_pred         19.960696
 final_score_processed    57.108626
 Name: All, dtype: float64]

In [ ]:
metrics_df.to_csv("metrics_test_set.csv")

In [250]:
1.85*0.35 + (0.9*0.15)

0.7825

In [247]:
df_processed[df_processed['file'] == 'place']['actual_text'].unique()

array(['Patna', 'Ranchi', 'Hyderabad', 'Bengaluru', 'Gangtok',
       'Gandhinagar', 'Chandigarh', 'Thiruvananthapuram', 'Mumbai',
       'Kavaratti', 'Bhopal', 'Dehradun', 'Kohima', 'Delhi', 'Lucknow',
       'Shillong', 'Raipur', 'Chennai', 'Dispur', 'Kolkata', 'Panaji',
       'Agartala', 'Aizawl', 'Imphal', 'Itanagar', 'Jaipur', 'Shimla'],
      dtype=object)

# WER Analysis

# Field Metric Analysis

### Language Analysis

In [233]:
field_name = 'languageknown'
df_processed[(df_processed['field_acc_processed'] == False) & (df_processed['file'] == field_name)]

,folder,file,pred_text,actual_text,processed_text,field_acc_pred,field_acc_processed
11,MIT_290,languageknown,"Tamil , English , Malayalam , Gusarati","Tamil, Malayalam, English, Gujarati",Tamil English Malayalam Gujarati,False,False
31,MIT_207,languageknown,"Tamil , Marathi , Kannada , Gujarati","Tamil, Marathi, Kannada, Gujarati",Tamil Marathi Kannada Gujarati,False,False
51,MIT_484,languageknown,"English , Tamil .","English, Tamil",English Tamil,False,False
72,MIT_101,languageknown,"Tamil , Kannada","Tamil, Kannada",Tamil Kannada,False,False
92,VIT_778,languageknown,"Malayalam , English , Hindi , Tamil","Malayalam, English, Hindi, Tamil",Malayalam English Hindi Tamil,False,False
113,MIT_587,languageknown,"Kannada , Hindi , Malayalam","Kannada, Hindi, Malayalam",Kannada Hindi Malayalam,False,False
133,MIT_52,languageknown,English . Telugu .,"English, Telugu",English Telugu,False,False
153,MIT_482,languageknown,"Telugu , Tamil .","Telugu, Tamil",Telugu Tamil,False,False
173,MIT_565,languageknown,"Hindi , English","Hindi, English",Hindi English,False,False
193,TCE_1368,languageknown,"Tarnil , English , trade .","Tamil, English, Hindi","Tarnil, English Trade",False,False
212,TCE_1047,languageknown,"Tamil , Kannada .","Tamil, Kannada",Tamil Kannada,False,False
231,MIT_233,languageknown,"Kannada , Marathi , malayalam , Bengali","Kannada, Marathi, Malayalam, Bengali",Kannada Marathi Malayalam Bengali,False,False
251,TCE_1073,languageknown,"Kannada , English , Gujarati , Telugu","Kannada, English, Gujarati, Telugu",Kannada English Gujarati Telugu,False,False
270,TCE_1390,languageknown,"English , Malayalam , Kannada , Bengali","English, Malayalam, Kannada, Bengali",English Malayalam Kannada Bengali,False,False
289,TCE_1039,languageknown,"Madayalam , Manathi , Louisiana","Malayalam, Marathi, Gujarati",Malayalam Marathi Louisiana,False,False
308,TCE_1465,languageknown,"Kannada , Tamil","Kannada, Tamil",Kannada Tamil,False,False
326,TCE_1266,languageknown,"Gumajati , Marathi , Huischi , Malayalam","Gujarati, Marathi, Hindi, Malayalam","Gumajati, Marathi Huischi, Malayalam",False,False
345,TCE_1174,languageknown,"Hindi's Telugu , Bengali , Gujarati","Hindi, Telugu, Bengali, Gujarati",Hindi Telugu Bengali Gujarati,False,False
364,MIT_274,languageknown,"Gujarati , Malayalam .","Gujarati, Malayalam",Gujarati Malayalam,False,False
384,TCE_1157,languageknown,"Bengali , Hindi","Bengali, Hindi",Bengali Hindi,False,False
403,MIT_200,languageknown,"Kannada , Gujarati , Bengali , Malayalam","Kannada, Gujarati, Bengali, Malayalam",Kannada Gujarati Bengali Malayalam,False,False
422,TCE_1413,languageknown,"English ; Malayalam , Telugu","English, Malayalam, Telugu",English Malayalam Telugu,False,False
440,MIT_110,languageknown,"Gujmati , Telugu .","Gujarati, Telugu","Gujmati, Telugu",False,False
460,VIT_921,languageknown,"Bengali , Tarsil , Guitarate","Bengali, Tamil, Gujarati","Bengali Tarsil, Guitarate",False,False
480,MIT_547,languageknown,"Maratti , Kannada , Telugu .","Marathi, Kannada, Telugu",Marathi Kannada Telugu,False,False
500,VIT_734,languageknown,"Telugu , Malayalam , Tamil , Beng","Telugu, Malayalam, Tamil, Bengali",Telugu Malayalam Tamil Beng,False,False
520,MIT_605,languageknown,"Kannada , Marathi .","Kannada, Marathi",Kannada Marathi,False,False
540,TCE_1203,languageknown,Bengali-Telugu,"Bengali, Telugu",Bengalitelugu,False,False
559,TCE_1247,languageknown,"banada , Malayalam .","Kannada, Malayalam",Kanada Malayalam,False,False
578,MIT_416,languageknown,"Valayalam , Telungu , Kannada , English","Malayalam, Telugu, Kannada, English",Malayalam Telugu Kannada English,False,False
599,MIT_122,languageknown,"Tamil , Bengali , Gujarati , Marathi","Tamil, Bengali, Gujarati, Marathi",Tamil Bengali Gujarati Marathi,False,False
620,TCE_1262,languageknown,"Yujarati , Kannada","Gujarati, Kannada",Gujarati Kannada,False,False
639,MIT_501,languageknown,"Kannad a , Marathi .","Kannada, Marathi","Kannada a, Marathi",False,False
659,TCE_1310,languageknown,"Tamil , Telugu , Kannada","Tamil, Telugu, Kannada",Tamil Telugu Kannada,False,False
678,TCE_1332,languageknown,"Marathi , Hindi , Gujarati , Telugu","Marathi, Hindi, Gujarati, Telugu",Marathi Hindi Gujarati Telugu,False,False
697,VIT_766,languageknown,"Tamil , English , malayalam .","Tamil, English, Malayalam",Tamil English Malayalam,False,False
716,MIT_447,languageknown,"Telugu , Bengali .","Telugu, Bengali",Telugu Bengali,False,False
736,TCE_1193,languageknown,"Kannada , Marathi , English , Bengali .","Kannada, Marathi, English, Bengali",Kannada Marathi English Bengali,False,False
755,TCE_1054,languageknown,"Bengali . Kannado . Tamil , Hindi","Bengali, Kannada, Tamil, Hindi",Bengali Kannada Tamil Hindi,False,False
774,MIT_431,languageknown,"Hindi , Tamil , Bengali","Hindi, Tamil, Bengali",Hindi Tamil Bengali,False,False
794,MIT_35,languageknown,"Tamil , Hindi , Guigarati","Tamil, Hindi, Gujarati",Tamil Hindi Gujarati,False,False
814,VIT_877,languageknown,"Telinger , Marathi , Gujarat","Telugu, Marathi, Gujarati","Telinger, Marathi Gujarati",False,False
834,MIT_385,languageknown,"Malayalam , Bengali , Tamil","Malayalam, Bengali, Tamil",Malayalam Bengali Tamil,False,False
854,TCE_1468,languageknown,"English , Malayalam","English, Malayalam",English Malayalam,False,False
873,VIT_914,languageknown,"Hindi , English","Hindi, English",Hindi English,False,False
893,TCE_1409,languageknown,Kannada English . Tamil,"Kannada, English, Tamil",Kannada English Tamil,False,False
912,MIT_174,languageknown,"Gujarati , Telugu","Gujarati, Telugu",Gujarati Telugu,False,False
933,TCE_1251,languageknown,"Malayalam , Tamil , Bengali","Malayalam, Tamil, Bengali",Malayalam Tamil Bengali,False,False
952,VIT_786,languageknown,"Kannada , Bengali , Telugu , Hindi","Kannada, Bengali, Telugu, Hindi",Kannada Bengali Telugu Hindi,False,False
972,MIT_488,languageknown,"English , Gujarati , Bengali .","English, Gujarati, Bengali",English Gujarati Bengali,False,False
992,MIT_662,languageknown,"Malayalam , Kannada , Gujarati , Tamil","Malayalam, Kannada, Gujarati, Tamil",Malayalam Kannada Gujarati Tamil,False,False
1013,MIT_199,languageknown,"Telugu , English","Telugu, English",Telugu English,False,False
1033,VIT_870,languageknown,"Tamil , Gujarati , Kannada , Malayalam","Tamil, Gujarati, Kannada, Malayalam",Tamil Gujarati Kannada Malayalam,False,False
1053,MIT_45,languageknown,"Bengali , Hindi , Malayalam","Bengali, Hindi, Malayalam",Bengali Hindi Malayalam,False,False
1073,VIT_867,languageknown,"Brujorati , Morathi , Malafoupalam , English","Gujarati, Marathi, Malayalam, English","Brujorati, Marathi Malafoupalam, English",False,False
1093,TCE_1201,languageknown,"Hindi , Telugu , Bengali","Hindi, Telugu, Bengali",Hindi Telugu Bengali,False,False
1112,VIT_961,languageknown,Grigoratic English Kannada .,"Gujarati, English, Kannada",Grigoratic English Kannada,False,False
1132,MIT_163,languageknown,"Gujarati , manathi","Gujarati, Marathi",Gujarati Marathi,False,False
1151,TCE_1129,languageknown,"Hindi , Malayalam , teammate","Hindi, Malayalam, Kannada",Hindi Malayalam Teammate,False,False
1170,MIT_456,languageknown,"Telugu , marathi , Bengali'","Telugu, Marathi, Bengali",Telugu Marathi Bengali,False,False
1190,MIT_687,languageknown,"Gujarati , Telugu Bengali .","Gujarati, Telugu, Bengali",Gujarati Telugu Bengali,False,False
1210,MIT_185,languageknown,"Tamil , Marathi .","Tamil, Marathi",Tamil Marathi,False,False
1228,VIT_795,languageknown,"Hindi , Teluga , Bengali , English","Hindi, Telugu, Bengali, English",Hindi Telugu Bengali English,False,False
1248,TCE_1402,languageknown,"Ikannada , Bengali , Gujarati","Kannada, Bengali, Gujarati","Ikannada, Bengali Gujarati",False,False
1268,MIT_558,languageknown,"Kannada , Marathi .","Kannada, Marathi",Kannada Marathi,False,False
1288,TCE_1168,languageknown,"Gurarachi , Tamil . English .","Gujarati, Tamil, English","Gurarachi, Tamil English",False,False
1307,VIT_727,languageknown,"Gujarathi , Hindi , Marathi , ' to","Gujarati, Hindi, Marathi, Tamil",Gujarati Hindi Marathi to,False,False
1326,MIT_494,languageknown,"Marathi , Hindi , Telugu , Kannada","Marathi, Hindi, Telugu, Kannada",Marathi Hindi Telugu Kannada,False,False
1346,VIT_882,languageknown,"Telugu , Kannada .","Telugu, Kannada",Telugu Kannada,False,False
1366,VIT_894,languageknown,"Tamil , macathi , Greg arrati .","Tamil, Marathi, Gujarati",Tamil Marathi Greg Arrati,False,False
1386,TCE_1085,languageknown,"Malayalam , Gujarati , Kannada , English","Malayalam, Gujarati, Kannada, English",Malayalam Gujarati Kannada English,False,False
1405,MIT_433,languageknown,"Marathi , Telugu , Malayalam , Bengali","Marathi, Telugu, Malayalam, Bengali",Marathi Telugu Malayalam Bengali,False,False
1425,MIT_135,languageknown,"Hindi , Morlayalam , Kannader , Marathi","Hindi, Malayalam, Kannada, Marathi","Hindi Morlayalam, Kannader, Marathi",False,False
1445,MIT_142,languageknown,"Marathi , English , Kannada","Marathi, English, Kannada",Marathi English Kannada,False,False
1465,TCE_1394,languageknown,"Malayalam , Hindi , Telugu","Malayalam, Hindi, Telugu",Malayalam Hindi Telugu,False,False
1485,VIT_927,languageknown,"marathi , Bengali , Gujarasi","Marathi, Bengali, Gujarati",Marathi Bengali Gujarati,False,False
1504,TCE_1041,languageknown,"Marafteri , Pangaki . Telugu Malayalam","Marathi, Bengali, Telugu, Malayalam","Marafteri, Pangaki Telugu Malayalam",False,False
1523,MIT_570,languageknown,"Malayalam , Telugu , English","Malayalam, Telugu, English",Malayalam Telugu English,False,False
1543,MIT_99,languageknown,"Telegue , Marathi , Hindi , Malayalam ,","Telugu, Marathi, Hindi, Malayalam","Telegue, Marathi Hindi Malayalam",False,False
1563,TCE_1347,languageknown,"Bengali , Grujarati , Kannada , English","Bengali, Gujarati, Kannada, English",Bengali Gujarati Kannada English,False,False
1582,TCE_1096,languageknown,"Kannada , Bengali .","Kannada, Bengali",Kannada Bengali,False,False
1601,MIT_323,languageknown,"Tamil , Bengali","Tamil, Bengali",Tamil Bengali,False,False
1621,VIT_879,languageknown,"English , Bengali .","English, Bengali",English Bengali,False,False
1641,MIT_424,languageknown,"Telugu , Morathi , Tamil","Telugu, Marathi, Tamil",Telugu Marathi Tamil,False,False
1661,MIT_642,languageknown,"English , Tamil , Gujarati , Telugu","English, Tamil, Gujarati, Telugu",English Tamil Gujarati Telugu,False,False
1681,MIT_466,languageknown,"English , Gujarati , Hindi , Kannad-","English, Gujarati, Hindi, Kannada",English Gujarati Hindi Kannada,False,False
1701,TCE_1023,languageknown,"Glujarati , Telugu"" Tamil","Gujarati, Telugu, Tamil",Gujarati Telugu Tamil,False,False
1720,TCE_1357,languageknown,"Masathi , Bersali .","Marathi, Bengali",Marathi Bengali,False,False
1739,TCE_1435,languageknown,"Kannada , English iTelurgy , Tamil","Kannada, English, Telugu, Tamil","Kannada English Itelurgy, Tamil",False,False
1758,TCE_1192,languageknown,"English Gujarati , Malyalam","English, Gujarati, Malayalam",English Gujarati Malayalam,False,False
1777,TCE_1050,languageknown,"malayam , Hindi .","Malayalam, Hindi","Malayam, Hindi",False,False
1796,MIT_47,languageknown,"Bengali , Kanada , Guycurati","Bengali, Kannada, Gujarati",Bengali Kanada Guycurati,False,False
1816,MIT_32,languageknown,"Marathi . Malayalam , English .","Marathi, Malayalam, English",Marathi Malayalam English,False,False
1836,TCE_1428,languageknown,"Hindi , Telugu .","Hindi, Telugu",Hindi Telugu,False,False
1855,MIT_106,languageknown,"English , Hindi , Kannada , malayalam","English, Hindi, Kannada, Malayalam",English Hindi Kannada Malayalam,False,False
1875,MIT_692,languageknown,"English , Mauathi , Kannada , Bengali","English, Marathi, Kannada, Bengali",English Marathi Kannada Bengali,False,False
1895,TCE_1103,languageknown,"Talugu , English , Hindi , Gujaraki","Telugu, English, Hindi, Gujarati",Telugu English Hindi Gujarati,False,False
1914,VIT_957,languageknown,"Hindi , Bryanati , English , Marathi .","Hindi, English, Gujarati, Marathi","Hindi Bryanati, English Marathi",False,False
1934,TCE_1421,languageknown,"Telugu , Bengali , Tamil Gujarati","Telugu, Bengali, Tamil, Gujarati",Telugu Bengali Tamil Gujarati,False,False
1952,MIT_612,languageknown,"Gujarati , Kannada , Tamil , MARATHI","Gujarati, Kannada, Tamil, Marathi",Gujarati Kannada Tamil MARATHI,False,False
1972,MIT_398,languageknown,"Telugu , Malayalam","Telugu, Malayalam",Telugu Malayalam,False,False
1992,MIT_340,languageknown,"Hindi , Maratai .","Hindi, Marathi",Hindi Marathi,False,False
2012,TCE_1431,languageknown,"Bengli , Tamil","Bengali, Tamil",Bengali Tamil,False,False
2031,MIT_7,languageknown,"Gujarati , English .","Gujarati, English",Gujarati English,False,False
2051,TCE_1441,languageknown,"Tamil , Kanna da , Malayalam , Bengali","Tamil, Kannada, Malayalam, Bengali","Tamil Kanna da, Malayalam Bengali",False,False
2070,MIT_604,languageknown,"Marathi , English","Marathi, English",Marathi English,False,False
2090,TCE_1482,languageknown,"English , Telugu , Bengals , Malayalam","English, Telugu, Bengali, Malayalam",English Telugu Bengali Malayalam,False,False
2109,TCE_1381,languageknown,"Marathi , Gujarathi , Hindi","Marathi, Gujarati, Hindi",Marathi Gujarati Hindi,False,False
2128,TCE_1344,languageknown,"findir Gujaratir Kannade , Malouably","Hindi, Gujarati, Kannada, Malayalam",Hindi Gujarati Kannada Malouably,False,False
2147,TCE_1030,languageknown,Gujausts : Herdi . Malayalam .,"Gujarati, Hindi, Malayalam",Gujausts Hindi Malayalam,False,False
2166,VIT_721,languageknown,"Gujarati , Kannada , Marathi :","Gujarati, Kannada, Marathi",Gujarati Kannada Marathi,False,False
2186,MIT_507,languageknown,"Hindi , Guyarati , Tamil , Malayalam","Hindi, Gujarati, Tamil, Malayalam",Hindi Gujarati Tamil Malayalam,False,False
2206,MIT_691,languageknown,"Hinde , Tambble .","Hindi, Tamil",Hindi Tambble,False,False
2227,VIT_732,languageknown,"Marathi , Komada , Bengali , Tamil","Marathi, Kannada, Bengali, Tamil","Marathi Komada, Bengali Tamil",False,False
2247,TCE_1029,languageknown,"Kannada , Tamil","Kannada, Tamil",Kannada Tamil,False,False
2266,MIT_675,languageknown,"Ikannada , Bengali , Gujarati , Telugu","Kannada, Bengali, Gujarati, Telugu","Ikannada, Bengali Gujarati Telugu",False,False
2286,MIT_267,languageknown,"Marathi , Bengali , Grujarati .","Marathi, Bengali, Gujarati",Marathi Bengali Gujarati,False,False
2306,MIT_365,languageknown,"Marathi , Telugu","Marathi, Telugu",Marathi Telugu,False,False
2326,TCE_1489,languageknown,"Bengali , Gujarati , Malayalam , Tamil","Bengali, Gujarati, Malayalam, Tamil",Bengali Gujarati Malayalam Tamil,False,False
2345,TCE_1238,languageknown,"Gujarathi , Marathi .","Gujarati, Marathi",Gujarati Marathi,False,False
2364,TCE_1415,languageknown,"Tamil , English","Tamil, English",Tamil English,False,False
2384,TCE_1456,languageknown,"Hindi , Kannada , Tamil , Malangalam","Hindi, Kannada, Tamil, Malayalam",Hindi Kannada Tamil Malayalam,False,False
2403,MIT_401,languageknown,"Valayalam , Bungali , Kannada , Guyorati","Malayalam, Bengali, Kannada, Gujarati",Malayalam Bengali Kannada Gujarati,False,False
2423,MIT_25,languageknown,"Kannada , Malayalam , Marathi","Kannada, Malayalam, Marathi",Kannada Malayalam Marathi,False,False
2443,VIT_924,languageknown,"Kannada , Bengali .","Kannada, Bengali",Kannada Bengali,False,False
2463,VIT_995,languageknown,"Grujarati , English , Marathi-","Gujarati, English, Marathi",Gujarati English Marathi,False,False
2483,MIT_165,languageknown,"English , Marathi .","English, Marathi",English Marathi,False,False
2503,TCE_1469,languageknown,"Marathi , Kannada , Telugu","Marathi, Kannada, Telugu",Marathi Kannada Telugu,False,False
2522,VIT_976,languageknown,"Marathi , Bengali , Malyalam .","Marathi, Bengali, Malayalam",Marathi Bengali Malayalam,False,False
2542,MIT_224,languageknown,"Marathi , English , Tamil , Telugu","Marathi, English, Tamil, Telugu",Marathi English Tamil Telugu,False,False
2561,MIT_9,languageknown,"Tammil , English","Kannada, Gujarati, Malayalam, English",Tamil English,False,False
2581,MIT_84,languageknown,"Tamil , Malayalam , Kannada","Tamil, Malayalam, Kannada",Tamil Malayalam Kannada,False,False
2601,VIT_852,languageknown,"Marathi , Gujarati , English , Malayalam ,","Marathi, Gujarati, English, Malayalam",Marathi Gujarati English Malayalam,False,False
2621,TCE_1388,languageknown,"marachiipelugu , English , family","Marathi, Telugu, English, Tamil","Marachiipelugu, English Tamil",False,False
2640,MIT_59,languageknown,"English , Bengali , Gujarati , Kannada","English, Bengali, Gujarati, Kannada",English Bengali Gujarati Kannada,False,False
2661,VIT_973,languageknown,"Marathi , English","Marathi, English",Marathi English,False,False
2681,TCE_1230,languageknown,"Kassada , Marathi .","Kannada, Marathi","Kassada, Marathi",False,False
2700,VIT_790,languageknown,"Gujarati , Kannada , HINDI .","Gujarati, Kannada, Hindi",Gujarati Kannada HINDI,False,False
2720,TCE_1158,languageknown,"English , Bengale , M mrathi , Tarnil","English, Bengali, Marathi, Tamil","English Bengali M mrathi, Tamil",False,False
2739,TCE_1223,languageknown,"Telugu , malayalam","Telugu, Malayalam",Telugu Malayalam,False,False
2758,VIT_741,languageknown,"Hindi , Gujarati , English , kanna","Hindi, Gujarati, English, Kannada",Hindi Gujarati English kanna,False,False
2777,MIT_489,languageknown,"Telugu , Malaylam , English , Bengali-","Telugu, Malayalam, English, Bengali",Telugu Malayalam English Bengali,False,False
2798,TCE_1324,languageknown,"Tamil , Kannada , English","Tamil, Kannada, English",Tamil Kannada English,False,False
2816,MIT_317,languageknown,"KANNALD , ENALISH , Tamil","Kannada, English, Tamil","KANNALD, ENALISH, Tamil",False,False
2836,MIT_541,languageknown,"Kannada , English .","Kannada, English",Kannada English,False,False
2856,MIT_526,languageknown,"raodeyalam , Itindi , Tamil","Malayalam, Hindi, Tamil","Raodeyalam, Itindi, Tamil",False,False
2876,MIT_96,languageknown,"Kannada's Tamil , Bengali , Delugu","Kannada, Tamil, Bengali, Telugu",Kannada Tamil Bengali Telugu,False,False
2896,TCE_1303,languageknown,"English , Telugu , Marathi .","English, Telugu, Marathi",English Telugu Marathi,False,False
2915,MIT_117,languageknown,Karmnada . Tamil,"Kannada, Tamil",Karmnada Tamil,False,False
2935,TCE_1305,languageknown,"Kannada , Bengali , Tamil , Mindi","Kannada, Bengali, Tamil, Hindi",Kannada Bengali Tamil Hindi,False,False
2954,MIT_588,languageknown,"Tamil , Telgu , Kannada , Bengali","Tamil, Telugu, Kannada, Bengali",Tamil Telugu Kannada Bengali,False,False
2974,TCE_1485,languageknown,"Hindi , Kannada , Tamil , English","Hindi, Kannada, Tamil, English",Hindi Kannada Tamil English,False,False
2993,MIT_698,languageknown,"Telugu , Hindi , Marathi","Telugu, Hindi, Marathi",Telugu Hindi Marathi,False,False
3013,MIT_545,languageknown,"Bengali , Tamil , Hindi , Telugu","Bengali, Tamil, Hindi, Telugu",Bengali Tamil Hindi Telugu,False,False
3032,VIT_895,languageknown,"Hindi , Kannada .","Hindi, Kannada",Hindi Kannada,False,False
3052,MIT_361,languageknown,"English , Benghi , Malayalam","English, Bengali, Malayalam","English Benghi, Malayalam",False,False
3091,VIT_876,languageknown,"Marathi , Kannada , Gujarati , English .","Marathi, Kannada, Gujarati, English",Marathi Kannada Gujarati English,False,False
3111,TCE_1346,languageknown,"Tamil , Gujarati , Bengali , Marathi","Tamil, Gujarati, Bengali, Marathi",Tamil Gujarati Bengali Marathi,False,False
3130,VIT_782,languageknown,"Marathi , Hindi , Malayalam .","Marathi, Hindi, Malayalam",Marathi Hindi Malayalam,False,False
3150,VIT_707,languageknown,"Malayalam , Tamil , Marathi","Malayalam, Tamil, Marathi",Malayalam Tamil Marathi,False,False
3169,TCE_1058,languageknown,Marathi Kannada,"Marathi, Kannada",Marathi Kannada,False,False
3187,MIT_2,languageknown,"Bengali , Kannada .","Bengali, Kannada",Bengali Kannada,False,False
3207,TCE_1131,languageknown,"Telugu , Kannada , Gujarati","Telugu, Kannada, Gujarati",Telugu Kannada Gujarati,False,False

### Place Analysis

In [291]:
field_name = 'place'
df_processed[(df_processed['field_acc_processed'] == False) & (df_processed['file'] == field_name)]

,folder,file,pred_text,actual_text,processed_text,field_acc_pred,field_acc_processed
139,MIT_52,place,Orkendhinagar .,Gandhinagar,Orkendhinagar,False,False
275,TCE_1390,place,Dehraelum .,Dehradun,Dehraelum,False,False
466,VIT_921,place,( Weignovo .,Lucknow,Weignovo,False,False
780,MIT_431,place,Isonima .,Kohima,Isonima,False,False
999,MIT_662,place,Gavarok,Gangtok,Gavarok,False,False
1156,TCE_1129,place,Ipanna,Patna,Ipanna,False,False
1234,VIT_795,place,bramatoke,Gangtok,Bramatoke,False,False
1607,MIT_323,place,dulenow .,Lucknow,Dulenow,False,False
1647,MIT_424,place,against a cantala .,Agartala,Againstacantala,False,False
1725,TCE_1357,place,Impoka ) .,Imphal,Impoka,False,False
1841,TCE_1428,place,I Panais .,Panaji,Ipanais,False,False
1939,TCE_1421,place,feripur .,Jaipur,Feripur,False,False
2292,MIT_267,place,I Jampur .,Jaipur,Ijampur,False,False
2548,MIT_224,place,Taipen .,Jaipur,Taipen,False,False
2706,VIT_790,place,pairupur .,Jaipur,Pairupur,False,False
2862,MIT_526,place,fatner .,Patna,Fatner,False,False
3038,VIT_895,place,Ireneh .,Ranchi,Ireneh,False,False
3331,MIT_524,place,shills my,Shillong,Shillsmy,False,False
3391,MIT_522,place,scipur .,Raipur,Scipur,False,False
3745,TCE_1478,place,Pancui .,Panaji,Pancui,False,False
4121,VIT_773,place,"panay "" '",Panaji,Panay,False,False
4141,VIT_784,place,Seipur .,Jaipur,Seipur,False,False
4160,TCE_1016,place,Pramagar .,Itanagar,Pramagar,False,False
4571,MIT_20,place,Dranagers .,Itanagar,Dranagers,False,False
4730,MIT_48,place,Thiruvananthanthapuram .,Thiruvananthapuram,Thiruvananthanthapuram,False,False
5168,TCE_1407,place,I Paraji .,Panaji,Iparaji,False,False
5343,VIT_956,place,Saiper .,Jaipur,Saiper,False,False
5363,MIT_530,place,thiruvandhoepwem .,Thiruvananthapuram,Thiruvandhoepwem,False,False
5382,TCE_1172,place,I dampum .,Jaipur,Idampum,False,False
5422,MIT_643,place,Bhopenh .,Bhopal,Bhopenh,False,False
5462,MIT_55,place,Azankula .,Agartala,Azankula,False,False
5555,TCE_1162,place,"Taipur ,",Jaipur,Taipur,False,False
5634,VIT_722,place,year as arhi .,Kavaratti,Yearasarhi,False,False
5911,VIT_861,place,Taipur,Jaipur,Taipur,False,False
6105,VIT_883,place,Taipur .,Jaipur,Taipur,False,False
6204,TCE_1142,place,shirts .,Shimla,Shirts,False,False
6340,MIT_515,place,Tai pur,Jaipur,Taipur,False,False
6418,TCE_1497,place,TRaipur .,Raipur,Traipur,False,False
6438,MIT_529,place,Round him .,Ranchi,Roundhim,False,False
6930,MIT_60,place,It volkata .,Kolkata,Itvolkata,False,False
7462,MIT_436,place,Icot icata .,Kolkata,Icoticata,False,False
7481,VIT_753,place,pancifl .,Panaji,Pancifl,False,False
7694,VIT_843,place,I teenager,Itanagar,Iteenager,False,False
7793,VIT_842,place,Arsenal,Aizawl,Arsenal,False,False
7993,VIT_829,place,Grand himself,Gandhinagar,Grandhimself,False,False
8071,TCE_1100,place,Auckland,Lucknow,Auckland,False,False
8149,VIT_752,place,Dehraclup .,Dehradun,Dehraclup,False,False
8247,MIT_617,place,Thirwananthapmann,Thiruvananthapuram,Thirwananthapmann,False,False
8325,MIT_657,place,disqual,Aizawl,Disqual,False,False
8539,TCE_1126,place,Pekrapun,Dehradun,Pekrapun,False,False
8657,TCE_1331,place,Benquern .,Bengaluru,Benquern,False,False
8832,VIT_981,place,Taiper,Jaipur,Taiper,False,False

### Permanent Analysis

In [313]:
field_name = 'permanentaddress'
df_processed[(df_processed['field_acc_processed'] == False) & (df_processed['file'] == field_name)]

,folder,file,pred_text,actual_text,processed_text,field_acc_pred,field_acc_processed
3,MIT_290,permanentaddress,"H.NO. 18 , LOYAL CURCLE , JALANDHAR-309","H.No. 18, Loyal Circle, Jalandhar 309001","H.NO. 18, LOYAL CURCLE, JALANDHAR-309",False,False
23,MIT_207,permanentaddress,"H.No. 57 , Pandit Nagor : Thoothukudi 148026","H.No. 57, Pandit Nagar, Thoothukudi 148026","H.No. 57, Pandit Nagor Thoothukudi 148026",False,False
43,MIT_484,permanentaddress,"H.NO. 148 , Sampath , Begugorai -3","H.No. 148, Sampath, Begusarai-826493","H.NO. 148, Sampath, Begugorai -3",False,False
64,MIT_101,permanentaddress,"84187 , Dholiwal , Granette mayor - 4.28.39","84/87, Dhaliwal, Gandhinagar-420439","84187, Dholiwal, Granette Mayor - 4.28.39",False,False
84,VIT_778,permanentaddress,"22/42 , Taylor Path , Hospet-774575 .","22/42, Tailor Path, Hospet-774575","22/42, Taylor Path, Hospet-774575",False,False
105,MIT_587,permanentaddress,"H. No. 52 , Bhakta , Nagpur -600011","H.No. 52, Bhakta, Nagpur-600011","H. No. 52, Bhakta, Nagpur -600011",False,False
125,MIT_52,permanentaddress,"H. No. ie. Dhalinal Path , Aungaon","H.No. 12, Dhaliwal Path, Gurgaon 966278","H. No. ie. Dhalinal Path, Aungaon",False,False
145,MIT_482,permanentaddress,"26,655 , Bhodti , Morbi 253809 .","26/655, Bhatti, Morbi 253809","26,655, Bhodti, Morbi 253809",False,False
165,MIT_565,permanentaddress,"87/8b , Hole Nagour , Berhampur-213170","87/86, Gole Nagar, Berhampur-213170","87/8b, Hole Nagour, Berhampur-213170",False,False
185,TCE_1368,permanentaddress,"594 , Dhalimal Zila , Bangalore-567453","594, Dhaliwal Zila, Bangalore-567453","594, Dhalimal Zila, Bangalore-567453",False,False
223,MIT_233,permanentaddress,"H.NO. 1/2 , Greenal zila , Gurdivada 20357 ,","H.No. 112, Grewal Zila, Gudivada 203571","H.NO. 1/2, Greenal zila, Gurdivada 20357",False,False
243,TCE_1073,permanentaddress,"57, Sarkas , Road , British 1815645","57, Sarkar Road, Bettiah 785645","57, Sarkas, Road, British 1815645",False,False
262,TCE_1390,permanentaddress,"19/11 , Sindw , Batuinala 4.3108 .","19/17, Sidhu, Bathinda 973108","19/11, Sindw, Batuinala 4.3108",False,False
281,TCE_1039,permanentaddress,"286 , Uppal Road , Arkakulam 861462 .","266, Uppal Road, Srikakulam 861462","286, Uppal Road, Arkakulam 861462",False,False
300,TCE_1465,permanentaddress,"36,059 Divan Chawk , Hospe","36/05, Divan Chowk, Hospet 115676","36,059 Divan Chawk, Hospe",False,False
318,TCE_1266,permanentaddress,"H.NO : 15 , Bhavasar Street ,","H.No. 15, Bhavsar Street, Jodhpur 387300","H.NO 15, Bhavasar Street",False,False
337,TCE_1174,permanentaddress,"Hazaribagh than circle ,","H.No. 98, Dhar Circle, Hazaribagh 443373",Hazaribagh Than Circle,False,False
356,MIT_274,permanentaddress,"11 , Rail Path , Madhyangram 226602","77, Rau Path, Madhyamgram 226602","11, Rail Path, Madhyangram 226602",False,False
376,TCE_1157,permanentaddress,"HINDICT , Abluwalia chawk ,","H.No. 97, Ahluwalia Chowk, Rampur-140654","HINDICT, Abluwalia chawk",False,False
395,MIT_200,permanentaddress,"4Y39 , was on Nagar . Kadapa 351305","41/39, Wason Nagar, Kadapa 351305","4Y39, was on Nagar . Kadapa 351305",False,False
414,TCE_1413,permanentaddress,"03,00 , himself Mary , Parihati","03/00, Shroff Marg, Panihati 680606","03,00, Himself Mary, Parihati",False,False
433,MIT_110,permanentaddress,"58 )0 , Dalwensham Street , Dhanbad","58/70, Balakrishnan Street, Dhanbad 601662","58 0, Dalwensham Street, Dhanbad",False,False
452,VIT_921,permanentaddress,H. No.01 . M.ofychoukadi 655889,"H.No. 01, Murty Chowk, Thoothukudi 655899",H. No.01 . M.ofychoukadi 655889,False,False
472,MIT_547,permanentaddress,"37144 . Nanda , Tharfjavou 1353/","37/44, Nanda, Thanjavur 135317","37144 . Nanda, Tharfjavou 1353",False,False
492,VIT_734,permanentaddress,"48/10 , Mchand Naggar's,00 28 .","48/15, Mand Nagar, Jehanabad 356028","48/10, Mchand Naggars,00 28",False,False
512,MIT_605,permanentaddress,"428 , Khanna Path , Gopalpur","428, Khanna Path, Gopalpur-601991","428, Khanna Path, Gopalpur",False,False
532,TCE_1203,permanentaddress,"18-subramaniam zida , Ambassador -","18, Subramaniam Zila, Ambattur-096199","18-subramaniam Zida, Ambassador",False,False
551,TCE_1247,permanentaddress,"36/ Chakrabart Mary , Darangere","38/68, Chakrabarti Marg, Davanagere 879050","36/ Chakrabart Mary, Darangere",False,False
570,MIT_416,permanentaddress,"611 , Sehgal Ganj , Jalandhar 519857 ,","611, Sehgal Ganj, Jalandhar 519854","611, Sehgal Ganj, Jalandhar 519857",False,False
591,MIT_122,permanentaddress,"H.NO. 176 , 02a Street , Sagan 92983 ,","H.No. 776, Oza Street, Sagar 929831","H.NO. 176, 02a Street, Sagan 92983",False,False
612,TCE_1262,permanentaddress,HINDUS # # 24thnamworthy many,"H.No. 85, Krishnamurthy Marg, Kanpur 462404",HINDUS 24thnamworthy many,False,False
631,MIT_501,permanentaddress,"32,863 , Chowdhury Nagur , Ourgapur ,","32/863, Chowdhury Nagar, Durgapur-008484","32,863, Chowdhury Nagur, Ourgapur",False,False
651,TCE_1310,permanentaddress,"oba , Grokhale Mary , Budget-8-36 .","064, Gokhale Marg, Bidar-729836","oba, Grokhale Mary, Budget-8-36",False,False
689,VIT_766,permanentaddress,"G7J12 , Navang Mary , Kozhikode 829127","67/12, Narang Marg, Kozhikode 829127","G7J12, Navang Mary, Kozhikode 829127",False,False
708,MIT_447,permanentaddress,"H.NO.25 Reddy Ganj , Bhimavaram","H.No. 25, Reddy Ganj, Bhimavaram 237530","H.NO.25 Reddy Ganj, Bhimavaram",False,False
728,TCE_1193,permanentaddress,"13 , Sundamann Chaude , Ahmadnagar as 1960","13, Sundaram Chowk, Ahmednagar 951460","13, Sundamann Chaude, Ahmadnagar as 1960",False,False
747,TCE_1054,permanentaddress,"20 , Noise Zila , marnura -","20, Naik Zila, Mathura-003256","20, Noise Zila, Marnura",False,False
766,MIT_431,permanentaddress,"47163 , Amenwalia circle , Prusro-65402 :","47/63, Ahluwalia Circle, Phusro-654025","47163, Amenwalia Circle, Prusro-65402",False,False
786,MIT_35,permanentaddress,"13 , Dhawan path , Imphal-62.881","73, Dhawan Path, Imphal-625881","13, Dhawan Path, Imphal-62.881",False,False
806,VIT_877,permanentaddress,"H.NO. 38 , Secretary Choute . "" Duke - 3155667","H.No. 38, Saraf Chowk, Dhule-315567","H.NO. 38, Secretary Choute . Duke - 3155667",False,False
826,MIT_385,permanentaddress,"42 , Ray Road , Moradabad - 43/968","42, Ray Road, Moradabad-437968","42, Ray Road, Moradabad - 43/968",False,False
846,TCE_1468,permanentaddress,"941, Deep Street , Rajahmundry 10095 )","947, Deep Street, Rajahmundry 700951","941, Deep Street, Rajahmundry 10095",False,False
865,VIT_914,permanentaddress,"022 , Aurora Ganj , Phusro 57.3368","022, Aurora Ganj, Phusro 573368","022, Aurora Ganj, Phusro 57.3368",False,False
885,TCE_1409,permanentaddress,"021205 , Khatri Circle , Adoni-188083","02/205, Khatri Circle, Adoni 788083","021205, Khatri Circle, Adoni-188083",False,False
904,MIT_174,permanentaddress,"71/287 , Natonajan Zita , Ramganh-566863","71/287, Natarajan Zila, Ramgarh-566863","71/287, Natonajan Zita, Ramganh-566863",False,False
925,TCE_1251,permanentaddress,"36 , Dash path , Nandyal -470237","36, Dash Path, Nandyal-470237","36, Dash Path, Nandyal -470237",False,False
944,VIT_786,permanentaddress,"45 , Bandi Path , Saharanpur - 101 850 .","45, Bandi Path, Saharanpur-101850","45, Bandi Path, Saharanpur - 101 850",False,False
984,MIT_662,permanentaddress,"92/44 , Manwan Maria , Fariala 076937","92/44, Mannan Marg, Patiala 076955","92/44, Manwan Maria, Fariala 076937",False,False
1005,MIT_199,permanentaddress,"836, Behl Road 9Gwallor-0911-9 .","836, Behl Road, Gwalior-091179","836, Behl Road 9gwallor-0911-9",False,False
1025,VIT_870,permanentaddress,"335 , Choudherry Nagar , Gaya-nwo .","335, Choudhury Nagar, Gaya-251049","335, Choudherry Nagar, Gaya-nwo",False,False
1065,VIT_867,permanentaddress,"WFOT , MANDAL Zila , Kurnool 036808 .","11/07, Mandal Zila, Kurnool-036808","WFOT, MANDAL Zila, Kurnool 036808",False,False
1085,TCE_1201,permanentaddress,"it a No. 264 , pingle nagar , Sasaram 660178","H.No. 964, Pingle Nagar, Sasaram 660178","it a No. 264, Pingle Nagar, Sasaram 660178",False,False
1104,VIT_961,permanentaddress,"2429 , Polish circle , suburban for moire-","21/29, Parikh Circle, Sultan Pur Majra-405552","2429, Polish Circle, Suburban For Moire",False,False
1124,MIT_163,permanentaddress,"68/459 , Balay Nagan , Jannnagan-9999bb","68/459, Balay Nagar, Jamnagar-999966","68/459, Balay Nagan, Jannnagan-9999bb",False,False
1144,TCE_1129,permanentaddress,"47 , Pussy brang , Varanasi-7444 99","47, Pillay Ganj, Varanasi-744499","47, Pussy Brang, Varanasi-7444 99",False,False
1162,MIT_456,permanentaddress,"6' isyala "" Prakash 8 streets .","61/840, Prakash Street, Miryalaguda 036860",6 Isyala Prakash 8 Streets,False,False
1182,MIT_687,permanentaddress,"b8 , Sachdera Marg. Madurai-80595 )","68, Sachdeva Marg, Madurai-805951","b8, Sachdera Marg. Madurai-80595",False,False
1202,MIT_185,permanentaddress,"13/82 0 , Hampa Street , 6","73/820, Handa Street, Jamalpur 855716","13/82 0, Hampa Street, 6",False,False
1221,VIT_795,permanentaddress,"H.NO. 458 , Bondi Road , Bikaner 069906 .","H.No. 458, Bandi Road, Bikaner 069906","H.NO. 458, Bondi Road, Bikaner 069906",False,False
1240,TCE_1402,permanentaddress,"( 186 , Pingle Street , Ghaziabad , 639487","186, Pingle Street, Ghaziabad 639487","186, Pingle Street, Ghaziabad, 639487",False,False
1260,MIT_558,permanentaddress,"88 (68 , Mistry Nagar , Orai 930326 .","88/68, Mistry Nagar, Orai 930326","88 68, Mistry Nagar, Orai 930326",False,False
1280,TCE_1168,permanentaddress,"87/296 , Bahne Street , Trrunelui . -581014","87/296, Bahri Street, Tirunelveli-581014","87/296, Bahne Street, Trrunelui . -581014",False,False
1299,VIT_727,permanentaddress,"13,88 , Bhatia Lily , Salem","13/88, Bhatia Zila, Salem 567677","13,88, Bhatia Lily, Salem",False,False
1318,MIT_494,permanentaddress,"60124 , Pillay Street , Ghaziabad -332950","60/24, Pillay Street, Ghaziabad-332959","60124, Pillay Street, Ghaziabad -332950",False,False
1338,VIT_882,permanentaddress,"18/88 , Sawhney Gang , Madanapalle","12/88, Sawhney Ganj, Madanapalle-930822","18/88, Sawhney Gang, Madanapalle",False,False
1358,VIT_894,permanentaddress,"H.NO. G2a , Beta POoth . I chatKaranji-0318","H.No. 629, Bera Path, Ichalkaranji-031841","H.NO. G2a, Beta POoth . I chatKaranji-0318",False,False
1378,TCE_1085,permanentaddress,"H.NO.55 , Batta circle , Ambala -575751","H.No. 55, Batta Circle, Ambala-575751","H.NO.55, Batta circle, Ambala -575751",False,False
1397,MIT_433,permanentaddress,"H.NO. D. , Thomas Marg. Duke 332436","H.No. 03, Thaman Marg, Dhule 332436","H.NO. D., Thomas Marg. Duke 332436",False,False
1417,MIT_135,permanentaddress,"H. No. 04 , Batti , Tiruchirapalli-954198","H.No. 04, Ratti, Tiruchirappalli-954198","H. No. 04, Batti, Tiruchirapalli-954198",False,False
1437,MIT_142,permanentaddress,"H.N. 37. "" "" Ball Park , Bhilai -","H.No. 371, Bal Path, Bhilai-591520","H.N. 37. Ball Park, Bhilai",False,False
1457,TCE_1394,permanentaddress,"H.NO.136 , Devi Chowk , Naihgati,00","H.No. 136, Devi Chowk, Naihati 893200","H.NO.136, Devi Chowk, Naihgati,00",False,False
1477,VIT_927,permanentaddress,"614, mistra Gang , Dhule 15243 )","614, Misra Ganj, Dhule 152431","614, Mistra Gang, Dhule 15243",False,False
1496,TCE_1041,permanentaddress,"H.NO. F. Date , Vasai , Virar-286 348 .","H.No. 51, Date, Vasai-Virar 286348","H.NO. F. Date, Vasai, Virar-286 348",False,False
1515,MIT_570,permanentaddress,"24 , Ravi Street , Durgapur -549 203","24, Ravi Street, Durgapur-549203","24, Ravi Street, Durgapur -549 203",False,False
1535,MIT_99,permanentaddress,"571249 , Metal Zila , Guangtoke -10-566 ,","57/279, Mital Zila, Gangtok-105566","571249, Metal Zila, Guangtoke -10-566",False,False
1555,TCE_1347,permanentaddress,"HONO-49 , Dugardmarket , 16611 .","H.No. 49, Dugar Street, Haridwar 616611","HONO-49, Dugardmarket, 16611",False,False
1574,TCE_1096,permanentaddress,"09 , Chaudham tune-69-6-6-","09, Chaudhari Circle, Pune-091633","09, Chaudham Tune-69-6-6",False,False
1593,MIT_323,permanentaddress,"30""Varkey Nagas , Ghagiasad","30, Varkey Nagar, Ghaziabad 610168","30varkey Nagas, Ghagiasad",False,False
1613,VIT_879,permanentaddress,"73154 , Mardzila , Karnah 473116","73/54, Mand Zila, Karnal 473116","73154, Mardzila, Karnah 473116",False,False
1633,MIT_424,permanentaddress,"2016 , Barad , Madanapalle-857467","216, Barad, Madanapalle-857467","2016, Barad, Madanapalle-857467",False,False
1653,MIT_642,permanentaddress,"H. No. 95 , Rawal Nagan , Yugoslavia 806274","H.No. 95, Raval Nagar, Gudivada 806274","H. No. 95, Rawal Nagan, Yugoslavia 806274",False,False
1673,MIT_466,permanentaddress,"HONO.O'S , Sachdeva Zila , Nagercoll-512","H.No. 05, Sachdeva Zila, Nagercoil-512244","HONO.OS, Sachdeva Zila, Nagercoll-512",False,False
1693,TCE_1023,permanentaddress,"961 , ZARIA NAGAR , TEZPUR-910453","961, Zacharia Nagar, Tezpur-970453","961, ZARIA NAGAR, TEZPUR-910453",False,False
1712,TCE_1357,permanentaddress,"24 , Mandal Qarji Berkampore","94, Mandal Ganj, Berhampore 627664","24, Mandal Qarji Berkampore",False,False
1731,TCE_1435,permanentaddress,"43/80 , Sandal Nagar , Nararagirati","43/80, Sandal Nagar, Narasaraopet 782369","43/80, Sandal Nagar, Nararagirati",False,False
1750,TCE_1192,permanentaddress,"05 , Takstreet , nagen coil -8n1279 .","05, Tak Street, Nagercoil-841279","05, Takstreet, Nagen Coil -8n1279",False,False
1769,TCE_1050,permanentaddress,itinoiskudi-3 man's ',"H.No. 86, Sethi Ganj, Thoothukudi 327028",Itinoiskudi-3 Mans,False,False
1788,MIT_47,permanentaddress,"21 ( 8BO , Sankau Zila , Aurangabad 999 bsc","21/850, Sarkar Zila, Aurangabad 999650","21 8BO, Sankau Zila, Aurangabad 999 bsc",False,False
1808,MIT_32,permanentaddress,"96 , Sawhney Street , Anoroha 5 9640 ,","96, Sawhney Street, Amroha 596401","96, Sawhney Street, Anoroha 5 9640",False,False
1828,TCE_1428,permanentaddress,"17 , Dey Gianj , Bihar Sharif 0 76674 .","17, Dey Ganj, Bihar Sharif 076674","17, Dey Gianj, Bihar Sharif 0 76674",False,False
1847,MIT_106,permanentaddress,"H. No. 209 , Misra , Chandigath 16.249","H.No. 209, Misra, Chandigarh 162249","H. No. 209, Misra, Chandigath 16.249",False,False
1867,MIT_692,permanentaddress,"H.NO.44 , Halder , Ballia-719540","H.No. 44, Halder, Ballia-719540","H.NO.44, Halder, Ballia-719540",False,False
1887,TCE_1103,permanentaddress,"10. Si'bat Nagar , Ghaziabad 035336","70, Sibal Nagar, Ghaziabad 035336","10. Sibat Nagar, Ghaziabad 035336",False,False
1906,VIT_957,permanentaddress,"98172 , Ran Path Farrikhabad","98/72, Rau Path, Farrukhabad-135076","98172, Ran Path Farrikhabad",False,False
1926,TCE_1421,permanentaddress,"H. No. 09 , Shetty chawk , Gruwhati - 126405","H.No. 09, Setty Chowk, Guwahati-126405","H. No. 09, Shetty chawk, Gruwhati - 126405",False,False
1945,MIT_612,permanentaddress,"35, NANDA MARG , VIJAYANADA 288252 .","35, Nanda Marg, Vijayawada 288252","35, NANDA MARG, VIJAYANADA 288252",False,False
1964,MIT_398,permanentaddress,"H. No. 564 , Lal Zila , Bahrain","H.No. 564, Lal Zila, Bahraich 679087","H. No. 564, Lal Zila, Bahrain",False,False
1984,MIT_340,permanentaddress,"034 , Irish Nagar , Amarati 956797","034, Krish Nagar, Amravati 956797","034, Irish Nagar, Amarati 956797",False,False
2004,TCE_1431,permanentaddress,"2013 , Sunday Road , Kalyan - Dombivli","80/13, Sunder Road, Kalyan-Dombivli-738667","2013, Sunday Road, Kalyan - Dombivli",False,False
2023,MIT_7,permanentaddress,"045 , Parnar Nagar , Multi -586923","045, Parmar Nagar, Kulti-586923","045, Parnar Nagar, Multi -586923",False,False
2043,TCE_1441,permanentaddress,IHNO.20 Tara Granj's in Grauli 143140,"H.No. 20, Tara Ganj, Singrauli-143140",IHNO.20 Tara Granjs in Grauli 143140,False,False
2062,MIT_604,permanentaddress,"70 , Chadha Marg. Srikakulam 284268","70, Chadha Marg, Srikakulam 284268","70, Chadha Marg. Srikakulam 284268",False,False
2082,TCE_1482,permanentaddress,"59/169 , Babu Circle , Guma 178679","59/797, Babu Circle, Guna 178679","59/169, Babu Circle, Guma 178679",False,False
2101,TCE_1381,permanentaddress,"H.NO. 16 . Mohanty Bila ,thoothukudi","H.No. 16, Mohanty Zila, Thoothukudi 709238","H.NO. 16 . Mohanty Bila,thoothukudi",False,False
2120,TCE_1344,permanentaddress,"01 , Biswas Circle , Naihati 1938st","07, Biswas Circle, Naihati 193852","01, Biswas Circle, Naihati 1938st",False,False
2139,TCE_1030,permanentaddress,Hieraj 37nipbasah Road . Sangli-,"H.No. 37, Basak Road, Sangli-Miraj & Kupwad-26...",Hieraj 37nipbasah Road . Sangli,False,False
2158,VIT_721,permanentaddress,"95/186 , Naix , chardigarh 540883","95/186, Naik, Chandigarh 440883","95/186, Naix, Chardigarh 540883",False,False
2178,MIT_507,permanentaddress,"91 , Narasimhan 2ila , Jalandhaq 1k2500","91, Narasimhan Zila, Jalandhar 162600","91, Narasimhan 2ila, Jalandhaq 1k2500",False,False
2198,MIT_691,permanentaddress,"1/398 , would Zila , Brekalkulam - 2048 73 .","12/398, Walia Zila, Srikakulam-204873","1/398, Would Zila, Brekalkulam - 2048 73",False,False
2219,VIT_732,permanentaddress,"54/9.2 Venkataramann 2ila ,Khora .","74/912, Venkataraman Zila, Khora -650614","54/9.2 Venkataramann 2ila,khora",False,False
2239,TCE_1029,permanentaddress,"73/69 , Virtezila , Gandhinagar-9603314","73/52, Virk Zila, Gandhinagar-960334","73/69, Virtezila, Gandhinagar-9603314",False,False
2258,MIT_675,permanentaddress,"76,509 , Ramanathan Road , Ahmedabadbad -","76/509, Ramanathan Road, Ahmedabad-856227","76,509, Ramanathan Road, Ahmedabadbad",False,False
2278,MIT_267,permanentaddress,"850, Bhattachavyya Zila , Kadapa 925502","850, Bhattacharyya Zila, Kadapa 925502","850, Bhattachavyya Zila, Kadapa 925502",False,False
2298,MIT_365,permanentaddress,"H.NO. 679 , Arya , Sikar 801867","H.No. 679, Arya, Sikar 801867","H.NO. 679, Arya, Sikar 801867",False,False
2318,TCE_1489,permanentaddress,"83 , Ded Street , Housah-5.1322 .","83, Deol Street, Howrah-557322","83, Ded Street, Housah-5.1322",False,False
2337,TCE_1238,permanentaddress,"HONS. 80 , Cheema Chowk , Hosur-054508","H.No. 30, Cheema Chowk, Hosur 054508","HONS. 80, Cheema Chowk, Hosur-054508",False,False
2356,TCE_1415,permanentaddress,"4b , Sengupta Street , Exade-520593","46, Sengupta Street, Erode-520593","4b, Sengupta Street, Exade-520593",False,False
2376,TCE_1456,permanentaddress,"595 , vig circle , Anartapus -393974 .","595, Vig Circle, Anantapur-393974","595, Vig Circle, Anartapus -393974",False,False
2395,MIT_401,permanentaddress,"35/44Mauchet aide , Surendranagan","35/247, Merchant Circle, Surendranagar Dudhrej...","35/44mauchet Aide, Surendranagan",False,False
2415,MIT_25,permanentaddress,"H. No.91 , Morar Circle , Muzaffamegar -900343","H.No. 97, Morar Circle, Muzaffarnagar-900343","H. No.91, Morar Circle, Muzaffamegar -900343",False,False
2435,VIT_924,permanentaddress,"H.NO.H62 , DUTTA GAYA -833813 .","H.No. 462, Dutta, Gaya-833813","H.NO.H62, DUTTA GAYA -833813",False,False
2455,VIT_995,permanentaddress,"HANSW 58 , Sagan street , kozhikode ,","H.No. 58, Sagar Street, Kozhikode-894510","HANSW 58, Sagan street, kozhikode",False,False
2475,MIT_165,permanentaddress,"037248 , Bhavean Road , Kumbakoram 8151-","03/248, Bhavsar Road, Kumbakonam 815118","037248, Bhavean Road, Kumbakoram 8151",False,False
2495,TCE_1469,permanentaddress,"H. No. 85 , Karnik Road , Ultrasnagan 481873","H.No. 85, Karnik Road, Ulhasnagar 481873","H. No. 85, Karnik Road, Ultrasnagan 481873",False,False
2514,VIT_976,permanentaddress,"61. No.329 , sane , onward - 4.35.8.59","H.No. 329, Sane, Anand-435859","61. No.329, Sane, Onward - 4.35.8.59",False,False
2534,MIT_224,permanentaddress,"34(727 , Tangja street , Mira Bhayand","34/727, Taneja Street, Mira-Bhayandar-183061","34727, Tangja Street, Mira Bhayand",False,False
2554,MIT_9,permanentaddress,Innapara's handapam forest road .,"433, Bakshi Street, Sambalpur 917693",Innaparas Handapam Forest Road,False,False
2573,MIT_84,permanentaddress,"225 , Dani , Vijayanagaram 1/1139 .","225, Dani, Vijayanagaram 177739","225, Dani, Vijayanagaram 1/1139",False,False

### References

In [ ]:
field_name = 'referencescmob1'
df_processed[(df_processed['field_acc_processed'] == False) & (df_processed['file'] == field_name)]

In [ ]:
field_name = 'referencescmob1'
len(df_processed[(df_processed['field_acc_processed'] == False) & (df_processed['file'] == field_name)])

### Date/DOB

In [339]:
field_name = 'date'
df_processed[(df_processed['field_acc_processed'] == False) & (df_processed['file'] == field_name)][['folder','pred_text','actual_text','processed_text']]

        folder              pred_text actual_text  processed_text
5      MIT_290         12/05 ( 2025 .  12-05-2025      12/05/2025
25     MIT_207           4/20 (2023 .  11/20/2023       4/20/2023
45     MIT_484       01 ( 14 ) 2022 .   1/14/2022      01/14/2022
86     VIT_778         to3/90 (2022 .   3/30/2022       3/90/2022
107    MIT_587          or lobby 2022  07-06-2022            2022
127     MIT_52        or (29 ( 2025 .   7/29/2025         29/2025
147    MIT_482       03 ( 29 ( 2025 .   3/29/2025      03/29/2025
167    MIT_565         09 04 ( 2023 .  09-04-2023      09/04/2023
187   TCE_1368         orfirst 2023 .   7/11/2023            2023
206   TCE_1047         04 (071,2003 .    4/7/2023     04/071/2003
245   TCE_1073      " 1 (23 ) 20-24 .  11/23/2024      1/23/20/24
264   TCE_1390               "3 ( 2 .   1/31/2022             3/2
283   TCE_1039         12 (18 ( 2020-  12/18/2024      12/18/2020
302   TCE_1465            02 ( 2013 .   2/20/2023         02/2013
320   TCE_1266       08 ( 11 ( 2025 .   8/11/2025      08/11/2025
339   TCE_1174         12704 ( 2024 .   12/4/2024      12704/2024
358    MIT_274         08 (26 (2023 .   8/26/2023      08/26/2023
378   TCE_1157       01 ( 03 ( 2024 .    1/3/2024      01/03/2024
397    MIT_200         09/15 ( 2024 .   9/15/2024      09/15/2024
416   TCE_1413       01 ( 14 ( 2022 .   1/14/2022      01/14/2022
435    MIT_110        not different .  10-03-2025
454    VIT_921         6 (23 ( 2023 .   8/23/2023       6/23/2023
474    MIT_547         01 (23 (2022 .   1/23/2022      01/23/2022
494    VIT_734             10. b.2025  10-02-2025         10/2025
514    MIT_605        02 (02 ( 2023 .  02-02-2023      02/02/2023
534   TCE_1203             off 14,023   1/11/2023          14/023
553   TCE_1247            inf to ( as  11/17/2022
572    MIT_416          b2/9 ( 2025 .   2/19/2025        2/9/2025
593    MIT_122          07l131 2025 .   7/13/2025     07/131/2025
614   TCE_1262             91 29/2024   9/29/2024      91/29/2024
633    MIT_501        10 (08 ) 2025 .  10-08-2025      10/08/2025
653   TCE_1310         08 100,00095 .    8/2/2025    08/100/00095
672   TCE_1332         09 ( 15/2023 .   9/15/2023      09/15/2023
691    VIT_766         04 ( 12 ( 2022  04-12-2022      04/12/2022
710    MIT_447          9117 ( 2023 .   9/17/2023       9117/2023
730   TCE_1193           1212012022 .  12/20/2022      1212012022
749   TCE_1054        121 26 ( 2025 .  12/26/2025     121/26/2025
768    MIT_431         OLP 15 (2024 .   1/15/2024         15/2024
808    VIT_877        01 ( 06 (2024 .    1/6/2024      01/06/2024
828    MIT_385       (2 ( 21 ( 2023 .  12/21/2023       2/21/2023
848   TCE_1468         (10/02 (2025 .   10/2/2025      10/02/2025
867    VIT_914        0" I got 2024 .   1/30/2024          0/2024
887   TCE_1409         aq ( 20 ( 2022   9/20/2022         20/2022
906    MIT_174         10/18 (20.24 .  10/18/2024     10/18/20/24
946    VIT_786        09 104 ( 2023 .    9/4/2023     09/104/2023
966    MIT_488         08 (05 (2024 .    8/5/2024      08/05/2024
986    MIT_662          02108 12024 .    2/8/2024     02108/12024
1007   MIT_199          0wl 12 ( 2025   5/12/2025       0/12/2025
1027   VIT_870        ob (02 ( 2024 .  06-02-2024         02/2024
1047    MIT_45             03/01/2022  03-01-2022      03/01/2022
1087  TCE_1201      ( of (8 ( 2 023 .  10/18/2023         8/2/023
1106   VIT_961        07 ( Jul 2023 .   7/24/2023         07/2023
1126   MIT_163          08 (06 ) 2022  08-06-2022      08/06/2022
1146  TCE_1129            04 Laf 2022    4/1/2022         04/2022
1164   MIT_456           OF IIGI 2022   7/19/2022            2022
1184   MIT_687       07 ( 20 ( 2024 .   7/20/2024      07/20/2024
1204   MIT_185         03 ( 27/2023 .   3/27/2023      03/27/2023
1223   VIT_795          12 (0312025 .   12/3/2025      12/0312025
1242  TCE_1402           0,10b ) 2025  04/06/2025       0/10/2025
1262   MIT_558       09 ( 15 ( 2025 .   9/15/2025      09/15/2025
1282  TCE_1168         01/22 ( 2024 .   1/22/2024      01/22/2024
1301   VIT_727          05. 03.2024 .  05-03-2024      05/03/2024
1320   MIT_494         04124 ( 2024 .   4/24/2024      04124/2024
1340   VIT_882         to (24 (2025 .  10/24/2025         24/2025
1380  TCE_1085        07 ( 221 2023 .   7/22/2023     07/221/2023
1399   MIT_433          08 (6 (2022 .   8/16/2022       08/6/2022
1419   MIT_135            12/6/2024 .  12/16/2024       12/6/2024
1439   MIT_142         oql"cal 2024 .   9/19/2024            2024
1459  TCE_1394       06 ( 01 ) 2022 .    6/1/2022      06/01/2022
1479   VIT_927            07(5 ( 2025   7/15/2025       07/5/2025
1498  TCE_1041         03/14 ( 2024 "   3/14/2024      03/14/2024
1517   MIT_570       "2 ( 20 ( 2022 .  12/20/2022       2/20/2022
1537    MIT_99          ralubl 2024 .  12-06-2024            2024
1557  TCE_1347           03 ( 10/2023   3/10/2023      03/10/2023
1576  TCE_1096            CHOY ( 2023   11/4/2023            2023
1595   MIT_323            9 (26 feory   9/26/2024            9/26
1615   VIT_879        04 ( raf 2024 .  04-12-2024         04/2024
1635   MIT_424        07 ( 20 (2022 .   7/20/2022      07/20/2022
1655   MIT_642         07 ( 19 ) 2025   7/19/2025      07/19/2025
1675   MIT_466         06 ( 28 ) 2022   6/28/2022      06/28/2022
1695  TCE_1023          03103 )2022 .    3/3/2022      03103/2022
1714  TCE_1357         up for (2023 .   11/7/2023            2023
1733  TCE_1435               ql 82023    9/8/2023           82023
1752  TCE_1192           oblast2023 .    6/7/2023            2023
1771  TCE_1050         03 (11 (2024 .   3/11/2024      03/11/2024
1790    MIT_47       06 ( 09 ) 20.2 .  06-09-2022      06/09/20/2
1810    MIT_32         " ( 101 2024 .  11-10-2024        101/2024
1830  TCE_1428            10/5 ( 2022  10/15/2022       10/5/2022
1849   MIT_106         08 ( 28/2023 .   8/28/2023      08/28/2023
1869   MIT_692       03 ( lb ( 2024 .   3/16/2024         03/2024
1889  TCE_1103            04 1/2/2022   4/12/2022     04/1/2/2022
1908   VIT_957         121.29 (2022 .  12/29/2022     121/29/2022
1928  TCE_1421          08 (3 (2023 .   8/13/2023       08/3/2023
1947   MIT_612        06 (26 ( 2023 .   6/26/2023      06/26/2023
1966   MIT_398         05 (01/20 24 .  05-01-2024     05/01/20/24
1986   MIT_340       02 ( 17 ( 2023 .   2/17/2023      02/17/2023
2006  TCE_1431         10 (101 2023 .  10/10/2023     10/101/2023
2025     MIT_7       01 ( 25 ) 2024 .   1/25/2024      01/25/2024
2045  TCE_1441         # OL14 (2023 .  10/14/2023         14/2023
2064   MIT_604         4 ( 2 ) 2022 .  04-02-2022        4/2/2022
2103  TCE_1381         10 ( 41.2024 .   10/4/2024      10/41/2024
2122  TCE_1344        06 ( 28 (2023 .   6/28/2023      06/28/2023
2141  TCE_1030         02 (21 (2023 .   2/21/2023      02/21/2023
2160   VIT_721       09 ( 23 ( 2024 .   9/23/2024      09/23/2024
2180   MIT_507          021 10 ( 2025   2/10/2025     021/10/2025
2200   MIT_691           08 (13 (2025   8/13/2025      08/13/2025
2221   VIT_732      0.3 ) 12 ( 2022 .  03-12-2022     0/3/12/2022
2260   MIT_675          06/18 (2023 .   6/18/2023      06/18/2023
2280   MIT_267            07116 (2025   7/16/2025      07116/2025
2300   MIT_365             03122/2025   3/22/2025      03122/2025
2320  TCE_1489           orlsalzo24 .   1/29/2024              24
2339  TCE_1238         12 (02 (2023 .   12/2/2023      12/02/2023
2358  TCE_1415             04124125 .   4/24/2025        04124125
2378  TCE_1456           soto"10023 .   10/1/2023           10023
2397   MIT_401            01/29 (2022   1/29/2022      01/29/2022
2417    MIT_25          01/06 (2004 .  01-06-2024      01/06/2004
2437   VIT_924        05 ( 29 ( 2025-   5/29/2025      05/29/2025
2457   VIT_995         01 ( 21 ( 24 .   1/21/2024        01/21/24
2497  TCE_1469         11/03 ( 2024 .   11/3/2024      11/03/2024
2516   VIT_976           12 ( 27022 .  12/27/2022        12/27022
2536   MIT_224       08" ) 13 (2022 .   8/13/2022      08/13/2022
2556     MIT_9        05 ( 22 (2023 .   5/22/2023      05/22/2023
2575    MIT_84        05 ( 89,00023 .   5/27/2023     05/89/00023
2595   VIT_852           11/17/2026 ,  11/17/2024      11/17/2026
2615  TCE_1388        08 (25 ( 2024 .   8/25/2024      08/25/2024
2634    MIT_59          01/ 19,3022 .   1/19/2022      01/19/3022
2655   VIT_973        07 (01 ( 2022 .    7/1/2022      07/01/2022
2675  TCE_1230           0 3/3/20.4 .   3/31/2024      0/3/3/20/4
2694   VIT_790         04 ( 17/2024 .   4/17/2024      04/17/2024
2714  TCE_1158            3/30frons .   3/20/2023            3/30
2733  TCE_1223          11 ( 061 2023   11/6/2023     11/061/2023
2752   VIT_741         01 ( lb ( 2025   1/16/2025         01/2025
2792  TCE_1324          05 ( 1/2022 .    5/1/2022       05/1/2022
2810   MIT_317        0 ? ( 56,20.4 .   7/26/2024       0/56/20/4
2830   MIT_541        05 (05 ( 2024 .    5/5/2024      05/05/2024
2850   MIT_526       07 (0 7 ( 2023 .  07-07-2023     07/0/7/2023
2870    MIT_96           08 ( 0.202 .  08-02-2022        08/0/202
2890  TCE_1303         02124 ( 2023 .   2/24/2023      02124/2023
2909   MIT_117        01 (26 ) 2024 .   1/26/2024      01/26/2024
2929  TCE_1305           0af031so25 .   9/23/2025        0/031/25
2948   MIT_588       08 ( 15 ( 2025 .   8/15/2025      08/15/2025
2968  TCE_1485         05 (19 (2024 .   5/19/2024      05/19/2024
2987   MIT_698        or his ( away .   7/15/2025
3007   MIT_545       08 ) 12 ( 2023 .  08-12-2023      08/12/2023
3046   MIT_361        09 (13 ( 2024 .   9/13/2024      09/13/2024
3067   MIT_266        08 (06 ) 2023 .  08-06-2023      08/06/2023
3105  TCE_1346           06/10/2022 .   6/10/2022      06/10/2022
3124   VIT_782           06/10/2025 .   6/10/2025      06/10/2025
3144   VIT_707          06 1 2/2023 .   6/22/2023     06/1/2/2023
3181     MIT_2         04 (01 (2023 .  04-01-2023      04/01/2023
3201  TCE_1131         08 (29 (2023 .   8/29/2023      08/29/2023
3220  TCE_1207        12 ( 08 (2023 .   12/8/2023      12/08/2023
3239   VIT_706       04 ( 15 (2 024 .   4/15/2024     04/15/2/024
3259   MIT_390        " 1/06 ) 2023 .  11-06-2023       1/06/2023
3279   MIT_131          OFF. " 2024 .  07-11-2024            2024
3299    MIT_73       01 ( 05 ( 2024 .  01-05-2024      01/05/2024
3319   MIT_524        05 ( 16 (2022 .   5/16/2022      05/16/2022
3339  TCE_1442        07 ( 28 (2024 .   7/28/2024      07/28/2024
3358   MIT_187           12 (0.2025 .  12-03-2025       12/0/2025
3379   MIT_522         ou ( 25,2025 .   4/25/2025         25/2025
3419   MIT_332       08 ( 04 ( 2025 .  08-04-2025      08/04/2025
3458  TCE_1083     ( of 4.6 ( 2.2 in.  10/16/2024         4/6/2/2
3459  TCE_1083     ( of 4.6 ( 2.2 in.  10/16/2024         4/6/2/2
3478   VIT_906        03 (29 ) 2023 .   3/29/2023      03/29/2023
3499   MIT_145        of 101 ( 2022 .  04-01-2022        101/2022
3540  TCE_1156         06/25 ( 2023 .   6/25/2023      06/25/2023
3559   MIT_272         12 (0 ( 2023 .  12-01-2023       12/0/2023
3578   VIT_776         06/20 ( 2022 .   6/20/2022      06/20/2022
3598   VIT_739             8 (191,000   8/19/2025       8/191/000
3617  TCE_1179         12 (20 (20.4 .  12/20/2024      12/20/20/4
3636  TCE_1314          12/04 (2022 .   12/4/2022      12/04/2022
3655   MIT_553           02 (8/2023 .   2/18/2023       02/8/2023
3675   MIT_309       03 ( 29 ( 2024 .   3/29/2024      03/29/2024
3695   MIT_437         12109 ( 2024 .  12-09-2024      12109/2024
3714   MIT_619           refoufzoes .  12/30/2023
3734  TCE_1478          09 (01 ) 2022    9/1/2022      09/01/2022
3773   VIT_817         01/24 ( 2024 .   1/24/2024      01/24/2024
3792  TCE_1249              4 for for    4/1/2025               4
3811   MIT_218          07 (0210023 .  07-02-2023      07/0210023
3831   MIT_572           06 (0/2023 .  06-07-2023       06/0/2023
3851  TCE_1341         Lolisle 0.2022  10/12/2022          0/2022
3870   MIT_356             0313012022   3/30/2022      0313012022
3911   VIT_769         08 ( 14/2023 .   8/14/2023      08/14/2023
3931  TCE_1112             9/27 (25 .   9/27/2025         9/27/25
3950  TCE_1464          11th ( 2023 .   11/4/2023         11/2023
3969   MIT_430           02 ) 1012022  02-10-2022      02/1012022
3989   MIT_414        04 (05 ( 2004 .  04-05-2024      04/05/2004
4010   MIT_318      to ( see ) 2023 .  10-11-2023            2023
4031  TCE_1458            05/30 (2025   5/30/2025      05/30/2025
4050   MIT_258         02 ( 10 ( 2025  02-10-2025      02/10/2025
4070  TCE_1006      01 ( 05 ( 20 23 .    1/5/2023     01/05/20/23
4089   MIT_681        07 ( in (2095 .  07-11-2023         07/2095
4109   VIT_773         12 ( 89 ( 2022  12/29/2022      12/89/2022
4129   VIT_784       01 ( 04 ( 2022 .  01-04-2022      01/04/2022
4149  TCE_1016          L2l25l-2024 .  12/25/2024       2/25/2024
4168   VIT_808      1 2 ( 08 ( 2022 .  12-08-2022     1/2/08/2022
4188   MIT_536         09 ( 19/2023 .   9/19/2023      09/19/2023
4208    MIT_81          05 (28 ( 2025   5/28/2025      05/28/2025
4228  TCE_1248            09/15 (95 .   9/15/2025        09/15/95
4247    MIT_11          oblall 2025 .   3/21/2025            2025
4267   MIT_465       12 ( 20 ( 20.5 .  12/20/2025      12/20/20/5
4306   VIT_765       04 ( 21 ( 2025 .   7/21/2025      04/21/2025
4326  TCE_1419     #III ( 02 ( 2029 .   11/2/2024         02/2029
4345    MIT_50       08 ) 23 ( 2025 .   8/23/2025      08/23/2025
4365   VIT_945         01/ 19 (2023 .   1/19/2023      01/19/2023
4385  TCE_1136           08IOLL2023 .    2/1/2023         08/2023
4404   MIT_648       08 ( 24 ( 2024 .   8/24/2022      08/24/2024
4424    MIT_10       07 ( 30 ( 2022 .   7/30/2022      07/30/2022
4444  TCE_1282       05 ( 05 ( 2002 .    5/5/2024      05/05/2002
4463   VIT_939             0610212025    6/2/2025      0610212025
4483  TCE_1088       02 ( IT ( 9024 .   2/27/2024         02/9024
4502   VIT_943          1927 ( 2024 .  11/27/2024       1927/2024
4521  TCE_1228        101 22 ( 2023 .  10/22/2023     101/22/2023
4540  TCE_1498       02 ( 14 ( 2022 .   2/14/2022      02/14/2022
4559    MIT_20          05 ( 23 (2022   5/23/2022      05/23/2022
4579  TCE_1246       02 ( 02 ( 2022 .    2/2/2022      02/02/2022
4598   VIT_792       03 ( 02 ) 2024 .  03-02-2024      03/02/2024
4618   MIT_253       01 ( 07 ( 2023 .    1/7/2023      01/07/2023
4638  TCE_1152       05 ( 88 ( 2024 .   5/28/2024      05/88/2024
4657   MIT_448          (III ) 2025 .   3/11/2025            2025
4678    MIT_68           03 (0-2024 .  03-07-2024       03/0/2024
4698  TCE_1272           1,2 ( 2024 .   12/6/2024        1/2/2024
4718    MIT_48          01 (2 (2023 .   1/12/2023       01/2/2023
4738   VIT_966        06 (21 ( 2023 .   6/21/2023      06/21/2023
4758  TCE_1145          " lastaosen .  11/28/2024
4777   MIT_378         09 ( 22 ( 2022   9/22/2022      09/22/2022
4797   MIT_396         08 ( 18 ( 2025   8/18/2025      08/18/2025
4817  TCE_1490         03 ( 07 ( 2023    3/7/2023      03/07/2023
4836   VIT_814        09 (26 ) 2024 .   9/26/2024      09/26/2024
4857   MIT_173          07 (02 ( 2025  07-02-2025      07/02/2025
4877   VIT_853          0 6farf2023 .   6/25/2023        0/6/2023
4898   VIT_716         00 (26 (2022 .   1/26/2022      00/26/2022
4938   VIT_772       OT ( 30 ) LOLs .   7/30/2025              30
4958   MIT_352        09 (30 ( 2024 .   9/30/2024      09/30/2024
4978   MIT_235          01/15 (2023 .   1/15/2023      01/15/2023
4998   MIT_250       08 ( 18 ( 2025 .   8/18/2025      08/18/2025
5018   VIT_972          021 12/2024 .   2/15/2024     021/12/2024
5038  TCE_1358            "119LSO.3 .  11/19/2023           119/3
5057  TCE_1304       05 ( 23 ( 2025 .   5/23/2025      05/23/2025
5076   VIT_839         0 4 ) 12P 2025  04-12-2025     0/4/12/2025
5096   VIT_804     0d ( 15 (000 d.3 .   2/15/2023      0/15/000/3
5116   MIT_155         03/26 ( 2024 .   3/26/2024      03/26/2024
5136   MIT_428             total 2005  10/12/2025            2005
5157  TCE_1407         ( 08/14/2024 .   8/14/2024      08/14/2024
5176  TCE_1059       06 ( 09 ( 2024 .    6/9/2024      06/09/2024
5195   VIT_726         07 ( 80 ( 2025   7/30/2025      07/80/2025
5215  TCE_1144           colorfaces .   10/5/2023
5234  TCE_1296           09 (09 (2023    9/9/2023      09/09/2023
5253   MIT_562        08 ( 18 (2024 .   8/18/2024      08/18/2024
5273  TCE_1400       07 (14 ( 202 4 .   7/14/2024     07/14/202/4
5292   VIT_938       06 1/02 ( 2024 .    6/2/2024    06/1/02/2024
5331   VIT_956         ob (21 (2029 .   3/21/2024         21/2029
5351   MIT_530          1/09 ( 2023 .   1/29/2023       1/09/2023
5371  TCE_1172         09 ( 03 ( 2024    9/3/2024      09/03/2024
5390   VIT_755        oil in ( 2024 .   1/14/2024            2024
5410   MIT_643         01 ) 1/202 4 .  01-11-2024      01/1/202/4
5430   VIT_868  " 08/04 " favorable .  08-04-2022           08/04
5450    MIT_55        01"1 271 2025 .   1/27/2025   01/1/271/2025
5470  TCE_1139          01/10 (2025 .   1/10/2025      01/10/2025
5489   MIT_444         02 (02 )2023 .  02-02-2023      02/02/2023
5524   VIT_942            01 # 202n .   1/30/2024          01/202
5544  TCE_1162          ( 2/91 2025 .  12/19/2025       2/91/2025
5563   MIT_129        06 (16 ( 2023 .   6/16/2023      06/16/2023
5583  TCE_1472          orlog l2024 .    7/9/2024            2024
5602   MIT_191            10 ( 30/3 .  10/30/2023         10/30/3
5622   VIT_722       or ( 99 ( 2022 .   7/19/2022         99/2022
5663   MIT_256       05 ( 01 ) 2024 .  05-01-2024      05/01/2024
5683   VIT_875         objob ( 2023 .  06-06-2023            2023
5722   MIT_120      03 ( 18 ( 202.5 .   3/18/2025     03/18/202/5
5742   VIT_878          09lobl 2025 .   9/16/2025         09/2025
5762  TCE_1265          08I 1012022 .   8/10/2022      08/1012022
5781  TCE_1206        01 ( 03 (2023 .    1/3/2023      01/03/2023
5800   MIT_128       07 ( ob ( 2022 .  07-06-2022         07/2022
5820   MIT_167        02 (07 ( 2024 .    2/7/2024      02/07/2024
5840   MIT_196          01 (03 ( 2025  07-03-2025      01/03/2025
5860  TCE_1008         0.9/25 (20.5 .   9/25/2025     0/9/25/20/5
5879   MIT_109       of it inl 2025 .   1/10/2025            2025
5899   VIT_861         08/31 ( 2023 .   8/31/2023      08/31/2023
5919  TCE_1007         06 (05 (2025 .    6/5/2025      06/05/2025
5938  TCE_1034           05 (0.2025 .    5/3/2025       05/0/2025
5957   MIT_220        06 ( 29 (2022 .   6/29/2022      06/29/2022
5977  TCE_1028      08 ( lb ( sorry .   8/16/2024              08
5996  TCE_1217          02 1 061 2025    2/6/2025   02/1/061/2025
6015   MIT_234         08 (05 (2023 .  08-05-2023      08/05/2023
6035   MIT_336           co ( 2612022  10/26/2022         2612022
6055  TCE_1401         104 (06 ( 2025    4/6/2025     104/06/2025
6074  TCE_1194               Ulagloas  11/29/2025
6093   VIT_883        08 (03 ( 2025 .  08-03-2025      08/03/2025
6113   MIT_194        " 1/24 ( 2025 .  11/27/2025       1/24/2025
6133   MIT_203        09 ( 061 2024 .  09-06-2024     09/061/2024
6153   MIT_546          "124 ( 2023 .  11/24/2023        124/2023
6173   MIT_245         021 2 0/2025 .   2/20/2025    021/2/0/2025
6193  TCE_1142         Ioan ( today .   2/10/2024
6212  TCE_1333         " for ( 2022 .   11/7/2022            2022
6230   MIT_133          04/26 (2022 .   4/26/2022      04/26/2022
6250   MIT_391           04/04 ( 2022   4/24/2022      04/04/2022
6270  TCE_1467       to ( 24 ( 2024 .  10/24/2024         24/2024
6289  TCE_1237         65 ( 291 20/25   5/29/2025    65/291/20/25
6308   VIT_771          10 ( 03 )2022  10-03-2022      10/03/2022
6328   MIT_515         02 ( 26 ( 2022   2/26/2022      02/26/2022
6348   MIT_632         19/24 ( 2025 .  10/24/2025      19/24/2025
6368  TCE_1010         10 6/12/20.2 .   6/12/2022    10/6/12/20/2
6387   MIT_148            11/0,5034 .  11-12-2024       11/0/5034

In [341]:
df_processed[df_processed['file'] =='date']['actual_text'].str.split("/")

5         [12-05-2025]
25      [11, 20, 2023]
45       [1, 14, 2022]
66      [12, 19, 2024]
86       [3, 30, 2022]
107       [07-06-2022]
127      [7, 29, 2025]
147      [3, 29, 2025]
167       [09-04-2023]
187      [7, 11, 2023]
206       [4, 7, 2023]
225     [10, 19, 2025]
245     [11, 23, 2024]
264      [1, 31, 2022]
283     [12, 18, 2024]
302      [2, 20, 2023]
320      [8, 11, 2025]
339      [12, 4, 2024]
358      [8, 26, 2023]
378       [1, 3, 2024]
397      [9, 15, 2024]
416      [1, 14, 2022]
435       [10-03-2025]
454      [8, 23, 2023]
474      [1, 23, 2022]
494       [10-02-2025]
514       [02-02-2023]
534      [1, 11, 2023]
553     [11, 17, 2022]
572      [2, 19, 2025]
593      [7, 13, 2025]
614      [9, 29, 2024]
633       [10-08-2025]
653       [8, 2, 2025]
672      [9, 15, 2023]
691       [04-12-2022]
710      [9, 17, 2023]
730     [12, 20, 2022]
749     [12, 26, 2025]
768      [1, 15, 2024]
788     [11, 27, 2024]
808       [1, 6, 2024]
828     [12, 21, 2023]
848      [10, 2, 2025]
867      [1, 30, 2024]
887      [9, 20, 2022]
906     [10, 18, 2024]
927     [12, 20, 2025]
946       [9, 4, 2023]
966       [8, 5, 2024]
986       [2, 8, 2024]
1007     [5, 12, 2025]
1027      [06-02-2024]
1047      [03-01-2022]
1067    [12, 25, 2025]
1087    [10, 18, 2023]
1106     [7, 24, 2023]
1126      [08-06-2022]
1146      [4, 1, 2022]
1164     [7, 19, 2022]
1184     [7, 20, 2024]
1204     [3, 27, 2023]
1223     [12, 3, 2025]
1242    [04, 06, 2025]
1262     [9, 15, 2025]
1282     [1, 22, 2024]
1301      [05-03-2024]
1320     [4, 24, 2024]
1340    [10, 24, 2025]
1360    [10, 28, 2024]
1380     [7, 22, 2023]
1399     [8, 16, 2022]
1419    [12, 16, 2024]
1439     [9, 19, 2024]
1459      [6, 1, 2022]
1479     [7, 15, 2025]
1498     [3, 14, 2024]
1517    [12, 20, 2022]
1537      [12-06-2024]
1557     [3, 10, 2023]
1576     [11, 4, 2023]
1595     [9, 26, 2024]
1615      [04-12-2024]
1635     [7, 20, 2022]
1655     [7, 19, 2025]
1675     [6, 28, 2022]
1695      [3, 3, 2022]
1714     [11, 7, 2023]
1733      [9, 8, 2023]
1752      [6, 7, 2023]
1771     [3, 11, 2024]
1790      [06-09-2022]
1810      [11-10-2024]
1830    [10, 15, 2022]
1849     [8, 28, 2023]
1869     [3, 16, 2024]
1889     [4, 12, 2022]
1908    [12, 29, 2022]
1928     [8, 13, 2023]
1947     [6, 26, 2023]
1966      [05-01-2024]
1986     [2, 17, 2023]
2006    [10, 10, 2023]
2025     [1, 25, 2024]
2045    [10, 14, 2023]
2064      [04-02-2022]
2084    [10, 16, 2023]
2103     [10, 4, 2024]
2122     [6, 28, 2023]
2141     [2, 21, 2023]
2160     [9, 23, 2024]
2180     [2, 10, 2025]
2200     [8, 13, 2025]
2221      [03-12-2022]
2241    [11, 24, 2024]
2260     [6, 18, 2023]
2280     [7, 16, 2025]
2300     [3, 22, 2025]
2320     [1, 29, 2024]
2339     [12, 2, 2023]
2358     [4, 24, 2025]
2378     [10, 1, 2023]
2397     [1, 29, 2022]
2417      [01-06-2024]
2437     [5, 29, 2025]
2457     [1, 21, 2024]
2477    [11, 29, 2025]
2497     [11, 3, 2024]
2516    [12, 27, 2022]
2536     [8, 13, 2022]
2556     [5, 22, 2023]
2575     [5, 27, 2023]
2595    [11, 17, 2024]
2615     [8, 25, 2024]
2634     [1, 19, 2022]
2655      [7, 1, 2022]
2675     [3, 31, 2024]
2694     [4, 17, 2024]
2714     [3, 20, 2023]
2733     [11, 6, 2023]
2752     [1, 16, 2025]
2792      [5, 1, 2022]
2810     [7, 26, 2024]
2830      [5, 5, 2024]
2850      [07-07-2023]
2870      [08-02-2022]
2890     [2, 24, 2023]
2909     [1, 26, 2024]
2929     [9, 23, 2025]
2948     [8, 15, 2025]
2968     [5, 19, 2024]
2987     [7, 15, 2025]
3007      [08-12-2023]
3046     [9, 13, 2024]
3067      [08-06-2023]
3105     [6, 10, 2022]
3124     [6, 10, 2025]
3144     [6, 22, 2023]
3181      [04-01-2023]
3201     [8, 29, 2023]
3220     [12, 8, 2023]
3239     [4, 15, 2024]
3259      [11-06-2023]
3279      [07-11-2024]
3299      [01-05-2024]
3319     [5, 16, 2022]
3339     [7, 28, 2024]
3358      [12-03-2025]
3379     [4, 25, 2025]
3399    [12, 31, 2022]
3419      [08-04-2025]
3458    [10, 16, 2024]
3459    [10, 16, 2024]
3478     [3, 29, 2023]
3499      [04-01-2022]
3519    [12, 31, 2022]
3540     [6, 25, 2023]
3559      [12-01-2023]
3578     [6, 20, 2022]
3598     [8, 19, 2025]
3617    [12, 20, 2024]
3636     [12, 4, 2022]
3655     [2, 18, 2023]
3675     [3, 29, 2024]
3695      [12-09-2024]
3714    [12, 30, 2023]
3734      [9, 1, 2022]
3753    [10, 28, 2025]
3773     [1, 24, 2024]
3792      [4, 1, 2025]
3811      [07-02-2023]
3831      [06-07-2023]
3851    [10, 12, 2022]
3870     [3, 30, 2022]
3890    [10, 27, 2024]
3911     [8, 14, 2023]
3931     [9, 27, 2025]
3950     [11, 4, 2023]
3969      [02-10-2022]
3989      [04-05-2024]
4010      [10-11-2023]
4031     [5, 30, 2025]
4050      [02-10-2025]
4070      [1, 5, 2023]
4089      [07-11-2023]
4109    [12, 29, 2022]
4129      [01-04-2022]
4149    [12, 25, 2024]
4168      [12-08-2022]
4188     [9, 19, 2023]
4208     [5, 28, 2025]
4228     [9, 15, 2025]
4247     [3, 21, 2025]
4267    [12, 20, 2025]
4287    [12, 26, 2025]
4306     [7, 21, 2025]
4326     [11, 2, 2024]
4345     [8, 23, 2025]
4365     [1, 19, 2023]
4385      [2, 1, 2023]
4404     [8, 24, 2022]
4424     [7, 30, 2022]
4444      [5, 5, 2024]
4463      [6, 2, 2025]
4483     [2, 27, 2024]
4502    [11, 27, 2024]
4521    [10, 22, 2023]
4540     [2, 14, 2022]
4559     [5, 23, 2022]
4579      [2, 2, 2022]
4598      [03-02-2024]
4618      [1, 7, 2023]
4638     [5, 28, 2024]
4657     [3, 11, 2025]
4678      [03-07-2024]
4698     [12, 6, 2024]
4718     [1, 12, 2023]
4738     [6, 21, 2023]
4758    [11, 28, 2024]
4777     [9, 22, 2022]
4797     [8, 18, 2025]
4817      [3, 7, 2023]
4836     [9, 26, 2024]
4857      [07-02-2025]
4877     [6, 25, 2023]
4898     [1, 26, 2022]
4917    [12, 15, 2022]
4938     [7, 30, 2025]
4958     [9, 30, 2024]
4978     [1, 15, 2023]
4998     [8, 18, 2025]
5018     [2, 15, 2024]
5038    [11, 19, 2023]
5057     [5, 23, 2025]
5076      [04-12-2025]
5096     [2, 15, 2023]
5116     [3, 26, 2024]
5136    [10, 12, 2025]
5157     [8, 14, 2024]
5176      [6, 9, 2024]
5195     [7, 30, 2025]
5215     [10, 5, 2023]
5234      [9, 9, 2023]
5253     [8, 18, 2024]
5273     [7, 14, 2024]
5292      [6, 2, 2024]
5311     [5, 25, 2024]
5331     [3, 21, 2024]
5351     [1, 29, 2023]
5371      [9, 3, 2024]
5390     [1, 14, 2024]
5410      [01-11-2024]
5430      [08-04-2022]
5450     [1, 27, 2025]
5470     [1, 10, 2025]
5489      [02-02-2023]
5524     [1, 30, 2024]
5544    [12, 19, 2025]
5563     [6, 16, 2023]
5583      [7, 9, 2024]
5602    [10, 30, 2023]
5622     [7, 19, 2022]
5642    [11, 20, 2024]
5663      [05-01-2024]
5683      [06-06-2023]
5703    [10, 27, 2025]
5722     [3, 18, 2025]
5742     [9, 16, 2025]
5762     [8, 10, 2022]
5781      [1, 3, 2023]
5800      [07-06-2022]
5820      [2, 7, 2024]
5840      [07-03-2025]
5860     [9, 25, 2025]
5879     [1, 10, 2025]
5899     [8, 31, 2023]
5919      [6, 5, 2025]
5938      [5, 3, 2025]
5957     [6, 29, 2022]
5977     [8, 16, 2024]
5996      [2, 6, 2025]
6015      [08-05-2023]
6035    [10, 26, 2022]
6055      [4, 6, 2025]
6074    [11, 29, 2025]
6093      [08-03-2025]
6113    [11, 27, 2025]
6133      [09-06-2024]
6153    [11, 24, 2023]
6173     [2, 20, 2025]
6193     [2, 10, 2024]
6212     [11, 7, 2022]
6230     [4, 26, 2022]
6250     [4, 24, 2022]
6270    [10, 24, 2024]
6289     [5, 29, 2025]
6308      [10-03-2022]
6328     [2, 26, 2022]
6348    [10, 24, 2025]
6368     [6, 12, 2022]
6387      [11-12-2024]
6407     [8, 22, 2025]
6426    [10, 23, 2023]
6446    [10, 23, 2025]
6483    [11, 19, 2022]
6502      [5, 9, 2024]
6522      [11-02-2023]
6542     [1, 14, 2025]
6563      [6, 4, 2022]
6583     [9, 30, 2022]
6603    [12, 21, 2024]
6622     [5, 17, 2024]
6641     [6, 14, 2025]
6661     [3, 23, 2025]
6680     [9, 22, 2023]
6700     [3, 25, 2024]
6720     [7, 15, 2024]
6740     [9, 17, 2025]
6760     [5, 26, 2024]
6779      [07-10-2023]
6799     [1, 12, 2025]
6818      [04-08-2022]
6838      [9, 6, 2022]
6858    [10, 30, 2024]
6879     [2, 20, 2023]
6899    [10, 13, 2022]
6918      [08-12-2024]
6957      [09-06-2024]
6977     [1, 10, 2025]
7016     [5, 20, 2022]
7036    [11, 15, 2022]
7056      [08-06-2024]
7076    [10, 13, 2023]
7095      [02-09-2023]
7116     [2, 28, 2024]
7137     [12, 5, 2025]
7156     [12, 6, 2024]
7175    [11, 21, 2022]
7195      [6, 2, 2023]
7215      [08-03-2023]
7235    [12, 31, 2024]
7255     [6, 26, 2023]
7274     [11, 4, 2025]
7293     [4, 29, 2023]
7313      [07-03-2025]
7332     [3, 20, 2023]
7352    [11, 27, 2024]
7371      [09-02-2025]
7391    [12, 14, 2023]
7411    [12, 25, 2024]
7431     [2, 25, 2022]
7450      [10-11-2025]
7489     [7, 29, 2025]
7509     [4, 13, 2025]
7529    [12, 30, 2022]
7547      [2, 5, 2022]
7565     [2, 11, 2025]
7584     [4, 20, 2023]
7603     [4, 20, 2023]
7623     [9, 19, 2024]
7643     [9, 13, 2023]
7662     [8, 20, 2023]
7682      [4, 2, 2024]
7702    [10, 13, 2025]
7722     [3, 10, 2025]
7742     [8, 20, 2022]
7762    [11, 11, 2024]
7781      [5, 1, 2023]
7801     [7, 18, 2025]
7821      [5, 3, 2024]
7841     [6, 17, 2024]
7860      [01-06-2022]
7880    [10, 14, 2025]
7900    [12, 17, 2025]
7920     [2, 16, 2025]
7940      [6, 7, 2024]
7959    [11, 11, 2022]
7980      [03-01-2023]
8001    [12, 24, 2022]
8020      [9, 3, 2023]
8040     [5, 27, 2025]
8060     [8, 11, 2023]
8079     [7, 17, 2022]
8099     [10, 5, 2022]
8118     [7, 20, 2022]
8137      [10-10-2025]
8156     [8, 31, 2022]
8174      [11-12-2022]
8194      [8, 4, 2023]
8214     [8, 25, 2023]
8234      [11-01-2024]
8255    [11, 20, 2022]
8292     [7, 26, 2022]
8312     [7, 27, 2022]
8333     [6, 20, 2022]
8353     [5, 18, 2023]
8372      [3, 6, 2022]
8392    [12, 22, 2022]
8411     [5, 17, 2022]
8431     [5, 23, 2024]
8450     [5, 20, 2024]
8470      [1, 9, 2022]
8489     [6, 26, 2022]
8508     [3, 31, 2024]
8528    [12, 18, 2024]
8547     [2, 21, 2025]
8567      [08-05-2024]
8587      [06-10-2023]
8607     [8, 11, 2022]
8626     [3, 26, 2023]
8646     [1, 15, 2025]
8665     [7, 19, 2023]
8684    [10, 27, 2023]
8703    [11, 16, 2025]
8723     [9, 28, 2022]
8742    [12, 29, 2023]
8762      [08-10-2024]
8782      [7, 1, 2023]
8801     [1, 14, 2022]
8820      [4, 6, 2023]
Name: actual_text, dtype: object

In [ ]:
sorted(df_processed[(df_processed['actual_text'].str.contains("-")) & (df_processed['file'] == 'Dateofbirth')]['folder'])

In [320]:
"07116".split("1")

['07', '', '6']

### Pancard

In [338]:
field_name = 'pancard'
df_processed[(df_processed['field_acc_processed'] == False) & (df_processed['file'] == field_name)]

,folder,file,pred_text,actual_text,processed_text,field_acc_pred,field_acc_processed
54,MIT_484,pancard,XIXS GO 726m.,XJXSG0726G,XIXSG0726M,False,False
95,VIT_778,pancard,VOX DB450P .,VOXDB4550P,VOXDB450P,False,False
796,MIT_35,pancard,HDE VHTO 7OOL,HDEVH6706L,HDEVHTO7OOL,False,False
836,MIT_385,pancard,ADOST 24 6H.,ADOST2463H,ADOST246H,False,False
915,MIT_174,pancard,VCJRH14937 .,VCJRH1493J,VCJRH1493T,False,False
974,MIT_488,pancard,Qumzh 374dn,QUMZH3740N,QUMZH374DN,False,False
1135,MIT_163,pancard,( BRUCIDOQV .,CBRUC1009V,BRUCIDOQV,False,False
1230,VIT_795,pancard,EPKKA3162Z ...,EPKKA3126Z,EPKKA3162Z,False,False
1447,MIT_142,pancard,TO I Q G.obby,JOIQG6906Y,TOIQGOBBY,False,False
1525,MIT_570,pancard,cehehisist .,CEHEH1313T,CEHEHISIST,False,False
1683,MIT_466,pancard,ONE 2T 9060H.,ONFZT9060H,ONEZT9060H,False,False
1954,MIT_612,pancard,LIVAF 4T4OB .,LZUAF4740B,LIVAF4740B,False,False
1974,MIT_398,pancard,CSWEP5459IF,CSWEP5459F,CSWEP5459IF,False,False
2033,MIT_7,pancard,CHCVB 70931 .,CGCVB7093Z,CHCVB7093I,False,False
2229,VIT_732,pancard,XQBBPI 2080 .,XQBBP1208Q,XQBBP1208O,False,False
2643,MIT_59,pancard,Do quh Otiz's,DOQUH0712S,DOQUH0TI2S,False,False
2956,MIT_588,pancard,MYKITS 76718 .,MYWTG7671B,MYKITS76718,False,False
2995,MIT_698,pancard,SP PRF 8542Y .,SFPRF8542Y,SPPRF8542Y,False,False
3015,MIT_545,pancard,TYOP96500,TIYOP9655G,TYOP96500,False,False
3093,VIT_876,pancard,BNVDH 2/7A U.,BNVDH2772U,BNVDH27AU,False,False
3407,MIT_16,pancard,OD SpugableA,ODSPG9964A,ODSPUGABLEA,False,False
3507,MIT_145,pancard,RBLR.6283 I .,RBZRG6283T,RBLR6283I,False,False
3528,MIT_238,pancard,H MIYP 861 bc.,HGIYP8616C,HMIYP8616C,False,False
3586,VIT_776,pancard,Q ASI AGIION .,QASIA6110M,QASIA6110N,False,False
3780,VIT_817,pancard,UN RMB 0027 (,UNRMB0027F,UNRMB0027,False,False
3899,MIT_359,pancard,DANQH 3826I,DGNQH3826I,DANQH3826I,False,False
3919,VIT_769,pancard,QFAYL GOGH D.,QFAYL9094P,QFAYL606HD,False,False
3977,MIT_430,pancard,LVCHH 8879W.,LVCHH8379W,LVCHH8879W,False,False
3998,MIT_414,pancard,ICB KP1718H.,IIBKP1718H,ICBKP1718H,False,False
4019,MIT_318,pancard,( WOHF29 6 4E,IWOHF2964E,WOHF2964E,False,False
4666,MIT_448,pancard,TT 2MC 357AL,TTZGC3574L,TTZMC357AL,False,False
4746,VIT_966,pancard,VIDEO KMS 100v,UJDKG8700V,VIDEOKMS100V,False,False
4845,VIT_814,pancard,SY EUF 1002 ) .,SYEUF7002I,SYEUF1002,False,False
4886,VIT_853,pancard,Okapg 0093x .,OKQPG0093X,OKAPG0093X,False,False
5145,MIT_428,pancard,UJNUBITSOR,UJNVB1732R,UJNUB17S0R,False,False
5418,MIT_643,pancard,PUID KB9464N.,PUDKB9464N,PUIDKB9464N,False,False
5438,VIT_868,pancard,VfJWFF4273P.,VFJWF4273P,VFJWFF4273P,False,False
5497,MIT_444,pancard,TUDOGTIP 3E,TUDCG7193E,TUDOG71P3E,False,False
5532,VIT_942,pancard,TRENP6236 R.,TZRNP6236R,TRENP6236R,False,False
5651,MIT_637,pancard,DULTITOIN .,DUILT1701N,DULTITOIN,False,False
6238,MIT_133,pancard,BILL J690TD .,BHLLJ6907D,BILLJ6907D,False,False
6395,MIT_148,pancard,POWB b.3/30-,PQIVB6348G,POWBB330,False,False
6434,MIT_529,pancard,UI WPA 8133 ) .,UIWPA8133I,UIWPA8133,False,False
6591,MIT_34,pancard,RLYL567AL,RLJYL5674L,RLYL567AL,False,False
6867,VIT_952,pancard,Gpana 67.8y .,GPANA6718Y,GPANA678Y,False,False
6985,TCE_1108,pancard,RXUOCID451 .,RXUOC1045I,RXUOC1D45I,False,False
7004,VIT_799,pancard,TGIXJ10510 .,TGJXJ1051O,TGIXJ1051O,False,False
7044,MIT_248,pancard,YMARBOD2YX,YMARB0027X,YMARB0D2YX,False,False
7125,MIT_680,pancard,AENT.6.0.,AEGTJ6310S,AENT60,False,False
7183,MIT_147,pancard,ERTL 1 633K .,ERHTL1633K,ERTL1633K,False,False
7223,MIT_659,pancard,FXOKLY 359H.,FXOKL4359H,FXOKLY359H,False,False
7340,VIT_811,pancard,PCI FC 11/9Y.,PCIFC1119Y,PCIFC119Y,False,False
7399,MIT_532,pancard,AVJ T2307N.,QVJJT2307N,AVJT2307N,False,False
7631,MIT_18,pancard,KDROPP 309so,KDRGP3095O,KDROPP309SO,False,False
7670,VIT_947,pancard,MANZT79 RIG-,HANZT7921G,MANZT79R1G,False,False
7829,MIT_183,pancard,FYXL268U.,FYXXL2668U,FYXL268U,False,False
7968,VIT_996,pancard,W. IWRC # 839 ) .,HIWRC1839J,WIWRC839,False,False
7989,VIT_829,pancard,DUP C648 132 .,QAPCG4813Z,DUPCG4813Z,False,False
8182,VIT_770,pancard,ICBm.H. J.40.56.,KBMHJ4056L,ICBMHJ405G,False,False
8222,MIT_89,pancard,YKFUF89870 .,YKTUF8987O,YKFUF8987O,False,False
8380,MIT_509,pancard,Iveyful 273D,IVFYF4273D,IVEYFUL273D,False,False
8595,MIT_322,pancard,QPEMGIT 750,QPEMG7755O,QPEMG1775O,False,False

In [87]:
df_processed[(df_processed['field_acc_processed'] == False) & (df_processed['file'] == field_name)].count()

folder                 62
file                   62
pred_text              62
actual_text            62
processed_text         62
field_acc_pred         62
field_acc_processed    62
dtype: int64

### Aadharcard

In [94]:
field_name = 'aadhaarcard'
df_processed[(df_processed['field_acc_processed'] == False) & (df_processed['file'] == field_name)]

,folder,file,pred_text,actual_text,processed_text,field_acc_pred,field_acc_processed
32,MIT_207,aadhaarcard,6058350000000,606000000000.0,6058350000000,False,False
52,MIT_484,aadhaarcard,151 68 1000000,751687000000,151681000000,False,False
73,MIT_101,aadhaarcard,502211800000,502000000000.0,502211800000,False,False
93,VIT_778,aadhaarcard,7874lbs000000 .0,787000000000.0,78740000000,False,False
114,MIT_587,aadhaarcard,b57.39200000,657000000000.0,5739200000,False,False
134,MIT_52,aadhaarcard,48 (583000000,482000000000.0,48583000000,False,False
174,MIT_565,aadhaarcard,"81 336,00000",813000000000.0,8133600000,False,False
232,MIT_233,aadhaarcard,223696000000,224000000000.0,223696000000,False,False
404,MIT_200,aadhaarcard,295208000000 .,295000000000.0,295208000000,False,False
441,MIT_110,aadhaarcard,"8k 44,680000bp .",864000000000.0,844680000,False,False
461,VIT_921,aadhaarcard,6 10692000000,670692000000,610692000000,False,False
481,MIT_547,aadhaarcard,76187200000,762000000000.0,76187200000,False,False
501,VIT_734,aadhaarcard,617 392000000,617000000000.0,617392000000,False,False
521,MIT_605,aadhaarcard,"89650100,000",897000000000.0,89650100000,False,False
579,MIT_416,aadhaarcard,940701000000,941000000000.0,940701000000,False,False
600,MIT_122,aadhaarcard,2863320000000,286000000000.0,2863320000000,False,False
640,MIT_501,aadhaarcard,"984550,000000",985000000000.0,984550000000,False,False
698,VIT_766,aadhaarcard,"88 309 300,000000.0",883000000000.0,883093000000000,False,False
717,MIT_447,aadhaarcard,487115000000,487000000000.0,487115000000,False,False
775,MIT_431,aadhaarcard,ITI 204000000,771000000000.0,204000000,False,False
815,VIT_877,aadhaarcard,718626000000,718026000000,718626000000,False,False
913,MIT_174,aadhaarcard,7.22.65 6000000,723000000000.0,722656000000,False,False
953,VIT_786,aadhaarcard,"8 43. 5490,0,000 #",843549000000,84354900000,False,False
1054,MIT_45,aadhaarcard,72976000000,730000000000.0,72976000000,False,False
1113,VIT_961,aadhaarcard,287806000000,287801000000,287806000000,False,False
1133,MIT_163,aadhaarcard,923 657000000,924000000000.0,923657000000,False,False
1171,MIT_456,aadhaarcard,26H8 56000000,264856000000,26856000000,False,False
1211,MIT_185,aadhaarcard,3lbs obopp000,317000000000.0,3000,False,False
1249,TCE_1402,aadhaarcard,274936000000 .0,274936000000,2749360000000,False,False
1269,MIT_558,aadhaarcard,284118000000 #,284000000000.0,284118000000,False,False
1308,VIT_727,aadhaarcard,41 550500000,416000000000.0,41550500000,False,False
1327,MIT_494,aadhaarcard,373114000000,373000000000.0,373114000000,False,False
1347,VIT_882,aadhaarcard,T356 1000000,735670000000,3561000000,False,False
1426,MIT_135,aadhaarcard,4087200000,441000000000.0,4087200000,False,False
1466,TCE_1394,aadhaarcard,68909 70000000 .0,689097000000,68909700000000,False,False
1544,MIT_99,aadhaarcard,243549000000,244000000000.0,243549000000,False,False
1602,MIT_323,aadhaarcard,5157900000,516000000000.0,5157900000,False,False
1622,VIT_879,aadhaarcard,3324 47000000,332000000000.0,332447000000,False,False
1642,MIT_424,aadhaarcard,"81851,000,000000",819000000000.0,81851000000000,False,False
1662,MIT_642,aadhaarcard,983219000000,983000000000.0,983219000000,False,False
1797,MIT_47,aadhaarcard,"3174-11,000000",317000000000.0,317411000000,False,False
1817,MIT_32,aadhaarcard,280017000000 .,280000000000.0,280017000000,False,False
1856,MIT_106,aadhaarcard,4.34 634000000,435000000000.0,434634000000,False,False
1876,MIT_692,aadhaarcard,333630000000,334000000000.0,333630000000,False,False
1915,VIT_957,aadhaarcard,AT480000000,947480000000,480000000,False,False
1993,MIT_340,aadhaarcard,912811000000,913000000000.0,912811000000,False,False
2071,MIT_604,aadhaarcard,85 3.88000000 .,853000000000.0,85388000000,False,False
2187,MIT_507,aadhaarcard,940023000000,440023000000,940023000000,False,False
2207,MIT_691,aadhaarcard,901359000000 #,901000000000.0,901359000000,False,False
2287,MIT_267,aadhaarcard,47997000000,470970000000,47997000000,False,False
2307,MIT_365,aadhaarcard,"99 1,5090000 0 .",992000000000.0,99150900000,False,False
2365,TCE_1415,aadhaarcard,6548 2200000 0.0,654822000000,6548220000000,False,False
2404,MIT_401,aadhaarcard,6488 95000000,649000000000.0,648895000000,False,False
2424,MIT_25,aadhaarcard,362430000000 #,362000000000.0,362430000000,False,False
2484,MIT_165,aadhaarcard,764116000000,764000000000.0,764116000000,False,False
2523,VIT_976,aadhaarcard,8279 550000000,827955000000,8279550000000,False,False
2543,MIT_224,aadhaarcard,93 0 986000000,931000000000.0,930986000000,False,False
2562,MIT_9,aadhaarcard,"5958 9,000000",596000000000.0,59589000000,False,False
2582,MIT_84,aadhaarcard,1308 450000000 .0,731000000000.0,13084500000000,False,False
2641,MIT_59,aadhaarcard,803 2/8000000,803278000000,80328000000,False,False
2759,VIT_741,aadhaarcard,456 297000000,456000000000.0,456297000000,False,False
2778,MIT_489,aadhaarcard,758551000000,759000000000.0,758551000000,False,False
2817,MIT_317,aadhaarcard,8u2h 3000000,842000000000.0,823000000,False,False
2837,MIT_541,aadhaarcard,57.301000000,576301000000,57301000000,False,False
2857,MIT_526,aadhaarcard,"8 493 46,000,000",848000000000.0,849346000000,False,False
2877,MIT_96,aadhaarcard,720326000000,720000000000.0,720326000000,False,False
3053,MIT_361,aadhaarcard,6 20382000000,620000000000.0,620382000000,False,False
3073,MIT_266,aadhaarcard,699 285000000,699000000000.0,699285000000,False,False
3131,VIT_782,aadhaarcard,"2,953 9,000,000 ...",295390000000,29539000000,False,False
3151,VIT_707,aadhaarcard,237100000000 .0,237000000000.0,2371000000000,False,False
3188,MIT_2,aadhaarcard,1926 16000000,793000000000.0,192616000000,False,False
3246,VIT_706,aadhaarcard,8164.91000000 . D,816000000000.0,816491000000,False,False
3266,MIT_390,aadhaarcard,baza be now000,698000000000.0,000,False,False
3286,MIT_131,aadhaarcard,"78.7.124,000000",787000000000.0,787124000000,False,False
3306,MIT_73,aadhaarcard,371662000000,372000000000.0,371662000000,False,False
3326,MIT_524,aadhaarcard,"433 27,000,000",433000000000.0,43327000000,False,False
3365,MIT_187,aadhaarcard,333099006000,333000000000.0,333099006000,False,False
3386,MIT_522,aadhaarcard,4119000000000 - 0,412000000000.0,41190000000000,False,False
3426,MIT_332,aadhaarcard,397231000000,397000000000.0,397231000000,False,False
3445,MIT_523,aadhaarcard,263979000000,264000000000.0,263979000000,False,False
3485,VIT_906,aadhaarcard,48256400 0000,483000000000.0,482564000000,False,False
3526,MIT_238,aadhaarcard,26 899600000 .,269000000000.0,26899600000,False,False
3565,MIT_272,aadhaarcard,"231 9,8000000",232000000000.0,23198000000,False,False
3605,VIT_739,aadhaarcard,"6,806 700,00,000 #",638000000000.0,680670000000,False,False
3662,MIT_553,aadhaarcard,80411 49000000,809000000000.0,8041149000000,False,False
3701,MIT_437,aadhaarcard,251054000000,251000000000.0,251054000000,False,False
3721,MIT_619,aadhaarcard,21 3894000000000 #,213894000000,213894000000000,False,False
3760,VIT_708,aadhaarcard,"4.2.48,000000 .0",425000000000.0,42480000000,False,False
3818,MIT_218,aadhaarcard,& 1994 5000000,274000000000.0,19945000000,False,False
3838,MIT_572,aadhaarcard,"78134 3,000 0,",781000000000.0,7813430000,False,False
3877,MIT_356,aadhaarcard,3237600000000,324000000000.0,3237600000000,False,False
3897,MIT_359,aadhaarcard,300 935000000,301000000000.0,300935000000,False,False
3996,MIT_414,aadhaarcard,48 51.83000000,485000000000.0,485183000000,False,False
4017,MIT_318,aadhaarcard,"58834 1,000000",588000000000.0,588341000000,False,False
4057,MIT_258,aadhaarcard,"9961 1,000,000 .",996000000000.0,99611000000,False,False
4096,MIT_681,aadhaarcard,"293 795,000000",294000000000.0,293795000000,False,False
4116,VIT_773,aadhaarcard,2079130000 0 0,208000000000.0,207913000000,False,False
4136,VIT_784,aadhaarcard,"584154000000,0",584000000000.0,5841540000000,False,False
4175,VIT_808,aadhaarcard,"652 0-500,000000-0",652000000000.0,65205000000000,False,False
4195,MIT_536,aadhaarcard,731036000000,731000000000.0,731036000000,False,False
4254,MIT_11,aadhaarcard,"350008,000000",350000000000.0,350008000000,False,False
4274,MIT_465,aadhaarcard,"51,000000",510000000000.0,51000000,False,False
4313,VIT_765,aadhaarcard,"4081 4,2,000,000 .0 .",408000000000.0,4081420000000,False,False
4352,MIT_50,aadhaarcard,519824 .,520000000000.0,519824,False,False
4372,VIT_945,aadhaarcard,72USYS000000 .,724548000000,72000000,False,False
4411,MIT_648,aadhaarcard,878024000000 . 0,878000000000.0,8780240000000,False,False
4431,MIT_10,aadhaarcard,6761 37000 00,676000000000.0,67613700000,False,False
4566,MIT_20,aadhaarcard,73974 6000000,740000000000.0,739746000000,False,False
4625,MIT_253,aadhaarcard,91 64570000000,916457000000,9164570000000,False,False
4685,MIT_68,aadhaarcard,"2382 400,000000",238000000000.0,2382400000000,False,False
4725,MIT_48,aadhaarcard,"S 601,000000",860130000000,601000000,False,False
4784,MIT_378,aadhaarcard,656926000000,657000000000.0,656926000000,False,False
4804,MIT_396,aadhaarcard,916 529000000,917000000000.0,916529000000,False,False
4843,VIT_814,aadhaarcard,69200000000 .0,692000000000.0,692000000000,False,False
4884,VIT_853,aadhaarcard,490231000000 .,490000000000.0,490231000000,False,False
4924,MIT_13,aadhaarcard,"4 4,686000000",449000000000.0,44686000000,False,False
4945,VIT_772,aadhaarcard,"7 247,000000 0",725000000000.0,72470000000,False,False
5005,MIT_250,aadhaarcard,913 Hz2000000,914000000000.0,9132000000,False,False
5083,VIT_839,aadhaarcard,5828 7.000000,583000000000.0,58287000000,False,False
5103,VIT_804,aadhaarcard,26 96 m.2000000 :0,270000000000.0,269620000000,False,False
5143,MIT_428,aadhaarcard,732I-700000,732177000000,732700000,False,False
5202,VIT_726,aadhaarcard,45387 1000000,454000000000.0,453871000000,False,False
5299,VIT_938,aadhaarcard,"720 37,000000 0",720371000000,720370000000,False,False
5318,MIT_445,aadhaarcard,57705 6000000,577000000000.0,577056000000,False,False
5358,MIT_530,aadhaarcard,455III000000 .,455000000000.0,455000000,False,False
5457,MIT_55,aadhaarcard,77 504 1 .,775000000000.0,775041,False,False
5570,MIT_129,aadhaarcard,624754000000,625000000000.0,624754000000,False,False
5609,MIT_191,aadhaarcard,a45941000000 .,946000000000.0,45941000000,False,False
5629,VIT_722,aadhaarcard,56339000000000,563000000000.0,56339000000000,False,False
5649,MIT_637,aadhaarcard,5314/9000000,331000000000.0,53149000000,False,False
5670,MIT_256,aadhaarcard,729035000000,729000000000.0,729035000000,False,False
5690,VIT_875,aadhaarcard,3322 15000000 #,332000000000.0,332215000000,False,False
5729,MIT_120,aadhaarcard,68.63 6.000000,686000000000.0,68636000000,False,False
5749,VIT_878,aadhaarcard,416729000000,417000000000.0,416729000000,False,False
5807,MIT_128,aadhaarcard,9 9 37.35000000,994000000000.0,993735000000,False,False
5847,MIT_196,aadhaarcard,350672000000,351000000000.0,350672000000,False,False
5886,MIT_109,aadhaarcard,"H. 73.4,000,000 .",417343000000,734000000,False,False
5906,VIT_861,aadhaarcard,694193000000,694000000000.0,694193000000,False,False
5964,MIT_220,aadhaarcard,H8604 )000000,486000000000.0,8604000000,False,False
6022,MIT_234,aadhaarcard,952464000000,952000000000.0,952464000000,False,False
6100,VIT_883,aadhaarcard,3 304/4000000,330000000000.0,33044000000,False,False
6120,MIT_194,aadhaarcard,285192000000,285000000000.0,285192000000,False,False
6160,MIT_546,aadhaarcard,721864000000 .,722000000000.0,721864000000,False,False
6180,MIT_245,aadhaarcard,9th 6815000000,947000000000.0,96815000000,False,False
6257,MIT_391,aadhaarcard,5071 92000000 0,507000000000.0,5071920000000,False,False
6315,VIT_771,aadhaarcard,8611 12wo0000,861000000000.0,8611120000,False,False
6335,MIT_515,aadhaarcard,23 2396000000,232000000000.0,232396000000,False,False
6355,MIT_632,aadhaarcard,880063000000,880000000000.0,880063000000,False,False
6453,VIT_744,aadhaarcard,4813200000000,481000000000.0,4813200000000,False,False
6489,MIT_527,aadhaarcard,"5521 8,000000 #",553000000000.0,55218000000,False,False
6509,MIT_422,aadhaarcard,45804 1000000,453041000000,458041000000,False,False
6549,VIT_1000,aadhaarcard,28525 (000000 .,285251000000,28525000000,False,False
6629,MIT_676,aadhaarcard,257623000000,258000000000.0,257623000000,False,False
6648,VIT_922,aadhaarcard,79( 1953000000,791853000000,791953000000,False,False
6687,VIT_764,aadhaarcard,"358 93,000000 .0",358931000000,358930000000,False,False
6707,MIT_268,aadhaarcard,95 2004000000,952000000000.0,952004000000,False,False
6767,MIT_177,aadhaarcard,"261.53,000000",262000000000.0,26153000000,False,False
6786,MIT_653,aadhaarcard,#4305000000 .,744000000000.0,4305000000,False,False
6805,MIT_470,aadhaarcard,"62994000,000",629940000000,62994000000,False,False
6825,MIT_384,aadhaarcard,2198 6 4000000,220000000000.0,219864000000,False,False
6925,MIT_60,aadhaarcard,316 771000000 .,317000000000.0,316771000000,False,False
7023,MIT_121,aadhaarcard,"4,8626000000",459000000000.0,48626000000,False,False
7063,MIT_560,aadhaarcard,"8999 800,000",900000000000.0,8999800000,False,False
7102,VIT_865,aadhaarcard,9488 8800000,949000000000.0,94888800000,False,False
7123,MIT_680,aadhaarcard,95 (186000000,951000000000.0,95186000000,False,False
7202,MIT_304,aadhaarcard,"88609 2,000,000-0 .",886092000000,8860920000000,False,False
7242,MIT_647,aadhaarcard,789007000000 .,780000000000.0,789007000000,False,False
7300,MIT_406,aadhaarcard,"9658 0.9,000000",966000000000.0,965809000000,False,False
7378,MIT_554,aadhaarcard,"4,500000 0,",450000000000.0,45000000,False,False
7418,MIT_119,aadhaarcard,"9176 59,000000",918000000000.0,917659000000,False,False
7476,VIT_753,aadhaarcard,"9. 37,0,500,000,000",237000000000.0,9370500000000,False,False
7496,VIT_974,aadhaarcard,after #300000,275113000000,300000,False,False
7516,MIT_278,aadhaarcard,561056000000,561000000000.0,561056000000,False,False
7689,VIT_843,aadhaarcard,9th h 0.6200000,944063000000,906200000,False,False
7709,MIT_162,aadhaarcard,"98 4.9,000000",984000000000.0,9849000000,False,False
7729,MIT_53,aadhaarcard,"6811 7,000000",681171000000,68117000000,False,False
7749,MIT_429,aadhaarcard,24 64/68000000000,256000000000.0,246468000000000,False,False
7788,VIT_842,aadhaarcard,Fo204 7000000,702047000000,2047000000,False,False
7808,MIT_56,aadhaarcard,"83665 3,000000 .",337000000000.0,836653000000,False,False
7867,MIT_375,aadhaarcard,"669 425 0,00060",669000000000.0,669425000060,False,False
7907,VIT_768,aadhaarcard,"8' 8 1/6,000000 .0",882000000000.0,88160000000,False,False
7927,VIT_866,aadhaarcard,"75563,000000",756000000000.0,75563000000,False,False
7966,VIT_996,aadhaarcard,"450,7800 0000",450178000000,45078000000,False,False
7987,VIT_829,aadhaarcard,22th 7.000000,228000000000.0,227000000,False,False
8047,MIT_499,aadhaarcard,"8.23030,00000",882000000000.0,82303000000,False,False
8086,MIT_151,aadhaarcard,8 4 5662000000000,846000000000.0,845662000000000,False,False
8241,MIT_617,aadhaarcard,"52.594,000000",528000000000.0,52594000000,False,False
8262,MIT_395,aadhaarcard,"276 37 lb,000000",278376000000,27637000000,False,False
8299,MIT_169,aadhaarcard,"661674,000000",662000000000.0,661674000000,False,False
8340,VIT_774,aadhaarcard,394038000000 .0 .,394000000000.0,3940380000000,False,False
8398,MIT_111,aadhaarcard,4486 28-000000 0,449000000000.0,4486280000000,False,False
8418,MIT_511,aadhaarcard,275592-000000,276000000000.0,275592000000,False,False
8457,MIT_590,aadhaarcard,"981 3.3,000000",981000000000.0,98133000000,False,False
8515,VIT_902,aadhaarcard,54 29.58000000,543000000000.0,542958000000,False,False
8554,VIT_730,aadhaarcard,"95 9 1 2,000000",959000000000.0,95912000000,False,False
8574,MIT_328,aadhaarcard,"5094 2,000000",509000000000.0,50942000000,False,False
8633,MIT_281,aadhaarcard,"2 2 1 2.4,000000",221000000000.0,22124000000,False,False
8710,MIT_576,aadhaarcard,69 lb 48000000,698000000000.0,6948000000,False,False
8749,MIT_379,aadhaarcard,7 3 2198000000,732000000000.0,732198000000,False,False
8769,MIT_19,aadhaarcard,9777083000000,977000000000.0,9777083000000,False,False

In [92]:
df_processed[(df_processed['field_acc_processed'] == False) & (df_processed['file'] == field_name)].count()

folder                 200
file                   200
pred_text              200
actual_text            200
processed_text         200
field_acc_pred         200
field_acc_processed    200
dtype: int64

### Contact Number

In [95]:
field_name = 'contactnumber'
print(df_processed[(df_processed['field_acc_processed'] == False) & (df_processed['file'] == field_name)].count())
df_processed[(df_processed['field_acc_processed'] == False) & (df_processed['file'] == field_name)]

folder                 233
file                   233
pred_text              233
actual_text            233
processed_text         233
field_acc_pred         233
field_acc_processed    233
dtype: int64

,folder,file,pred_text,actual_text,processed_text,field_acc_pred,field_acc_processed
15,MIT_290,contactnumber,99 28 524 27 .,9928524127,992852427,False,False
76,MIT_101,contactnumber,"9253 54,3 1 .",9253640631,92535431,False,False
117,MIT_587,contactnumber,8965IM0584 .,8965170584,89650584,False,False
137,MIT_52,contactnumber,9251995/15 .,9251995115,925199515,False,False
177,MIT_565,contactnumber,7713 4.8750 .,7713428750,771348750,False,False
254,TCE_1073,contactnumber,860-77bbbb36 .,8607766636,8607736,False,False
273,TCE_1390,contactnumber,207772976 ) .,7177219761,207772976,False,False
292,TCE_1039,contactnumber,9.89655359,9789655354,989655359,False,False
329,TCE_1266,contactnumber,82.5.2.2.237 .,8252492237,82522237,False,False
348,TCE_1174,contactnumber,94 68 68155,9468681555,946868155,False,False
368,MIT_274,contactnumber,96949195955,9694919955,96949195955,False,False
387,TCE_1157,contactnumber,"859 ,58 ) .",8592514281,85958,False,False
425,TCE_1413,contactnumber,"829 50 1,5056 .",8295075056,8295015056,False,False
444,MIT_110,contactnumber,"80446,60 bx",8044636065,8044660,False,False
464,VIT_921,contactnumber,18592 )3/9.,7859273795,1859239,False,False
504,VIT_734,contactnumber,74b14 71822,7461471822,741471822,False,False
524,MIT_605,contactnumber,91 1/2.39555,9113239555,911239555,False,False
562,TCE_1247,contactnumber,99 7 7.8 306 1 .,9977583061,997783061,False,False
604,MIT_122,contactnumber,810039 (53 ) .,8100391531,81003953,False,False
623,TCE_1262,contactnumber,1 3/96550,7373796550,1396550,False,False
643,MIT_501,contactnumber,8 547763 769 .,8547763789,8547763769,False,False
662,TCE_1310,contactnumber,889 8bbbb889,8898666689,8898889,False,False
681,TCE_1332,contactnumber,77 3. 458374 .,7732458374,773458374,False,False
758,TCE_1054,contactnumber,TI134 68217,7113468217,13468217,False,False
778,MIT_431,contactnumber,1723496565,7723496565,1723496565,False,False
798,MIT_35,contactnumber,8355 8 8356s .,8355883565,835588356,False,False
818,VIT_877,contactnumber,8M48 7P48 4/3 .,8748754843,84874843,False,False
838,MIT_385,contactnumber,1 085338052,7085338052,1085338052,False,False
896,TCE_1409,contactnumber,8 b 37.59 2.6 .,8637592216,8375926,False,False
976,MIT_488,contactnumber,8450588804 .,8450568804,8450588804,False,False
1037,VIT_870,contactnumber,1868196646 .,7868196646,1868196646,False,False
1077,VIT_867,contactnumber,99 20406H 58,9920406458,992040658,False,False
1137,MIT_163,contactnumber,"8545990 9,5bb """,8545909566,854599095,False,False
1174,MIT_456,contactnumber,F6 566 0 9H2O.,7656609420,6566092,False,False
1252,TCE_1402,contactnumber,18811402135,8811102135,18811402135,False,False
1272,MIT_558,contactnumber,F86469689,7364696859,86469689,False,False
1291,TCE_1168,contactnumber,"9 44418 4,20 #",9444847203,944418420,False,False
1311,VIT_727,contactnumber,TO 753 3.017 .,7075331017,7533017,False,False
1330,MIT_494,contactnumber,90117 24755 .,9017724755,9011724755,False,False
1350,VIT_882,contactnumber,"94""40,61 .",9477430261,944061,False,False
1370,VIT_894,contactnumber,926 9014 579 .,9269019579,9269014579,False,False
1389,TCE_1085,contactnumber,a 154 947 2/4 .,9154947234,15494724,False,False
1409,MIT_433,contactnumber,7650188199 .,7650188799,7650188199,False,False
1469,TCE_1394,contactnumber,839156942,8391569942,839156942,False,False
1488,VIT_927,contactnumber,"8.2,60 ( 8848 .",8296018848,82608848,False,False
1507,TCE_1041,contactnumber,19064100631 .,7964100631,19064100631,False,False
1547,MIT_99,contactnumber,"8288 3,0009 .",8288310009,828830009,False,False
1585,TCE_1096,contactnumber,"SO 24 9,0 4/68",8094904168,2490468,False,False
1625,VIT_879,contactnumber,90578 5673 .,9057835673,905785673,False,False
1685,MIT_466,contactnumber,80 51.9141 0 .,8051191410,805191410,False,False
1704,TCE_1023,contactnumber,9'6183 7.905,9678379085,961837905,False,False
1723,TCE_1357,contactnumber,1975 257167,7975257167,1975257167,False,False
1742,TCE_1435,contactnumber,7647278292 1,7647278292,76472782921,False,False
1761,TCE_1192,contactnumber,87612929096 .,8761229096,87612929096,False,False
1780,TCE_1050,contactnumber,921 7.30 lb .,9217713906,921730,False,False
1800,MIT_47,contactnumber,4 9.3.2598 91 .,7933259891,493259891,False,False
1820,MIT_32,contactnumber,7940521810,7990521810,7940521810,False,False
1898,TCE_1103,contactnumber,7 b 3b 55 24-5 .,7636552475,7355245,False,False
1956,MIT_612,contactnumber,9312684561 .,9312634561,9312684561,False,False
2035,MIT_7,contactnumber,7 7093 5.713 .,7709357713,770935713,False,False
2074,MIT_604,contactnumber,7194819.,7194819344,7194819,False,False
2093,TCE_1482,contactnumber,7740566424 .,7740565424,7740566424,False,False
2131,TCE_1344,contactnumber,01481 53215 .,9148153215,0148153215,False,False
2150,TCE_1030,contactnumber,71626 1 85A.8,7162618548,716261858,False,False
2190,MIT_507,contactnumber,18101089529,8101089529,18101089529,False,False
2211,MIT_691,contactnumber,93601 084 5,9360108451,936010845,False,False
2231,VIT_732,contactnumber,91 8502694 ) .,9185026971,918502694,False,False
2329,TCE_1489,contactnumber,80.5 9 93.970,8059939970,805993970,False,False
2368,TCE_1415,contactnumber,8 7.4.13925,8741139255,87413925,False,False
2407,MIT_401,contactnumber,9197 0 6.8.39 .,9197063639,919706839,False,False
2427,MIT_25,contactnumber,786413549 .,7864138549,786413549,False,False
2447,VIT_924,contactnumber,77 253.0.98 ),7725370983,77253098,False,False
2467,VIT_995,contactnumber,78 59953 4.4.4.4.4.4.4.4.,7859934741,785995344444444,False,False
2487,MIT_165,contactnumber,6076414647,8076414647,6076414647,False,False
2506,TCE_1469,contactnumber,19538 352948 .,9538352948,19538352948,False,False
2526,VIT_976,contactnumber,96 ( 70 ( 4856 .,9617019856,96704856,False,False
2565,MIT_9,contactnumber,2015014123 .,8563247385,2015014123,False,False
2585,MIT_84,contactnumber,955 93 5. 8.5 ),9557351851,95593585,False,False
2624,TCE_1388,contactnumber,217699 753 ) .,8176997531,217699753,False,False
2704,VIT_790,contactnumber,97748 (3501 .,9774813501,977483501,False,False
2860,MIT_526,contactnumber,91 3.2.9.443 .,9139219443,91329443,False,False
2899,TCE_1303,contactnumber,13129 89907,7312989907,1312989907,False,False
2938,TCE_1305,contactnumber,931618623 ),9316186231,931618623,False,False
2958,MIT_588,contactnumber,7 (2.2/6-2 .,7123201612,72262,False,False
2997,MIT_698,contactnumber,94 78 0.559 ) .,9478055391,94780559,False,False
3076,MIT_266,contactnumber,"malayalam , in arathi , Hindi",8481499940,,False,False
3095,VIT_876,contactnumber,97 9 9 9.58.37 .,9799995837,979995837,False,False
3154,VIT_707,contactnumber,1268525837 .,7268525837,1268525837,False,False
3229,TCE_1207,contactnumber,T3016 2/7.3 .,7301621723,3016273,False,False
3249,VIT_706,contactnumber,1 544 2 44 885,7544244885,1544244885,False,False
3269,MIT_390,contactnumber,8 3/8 58.5 ) .,8328583151,838585,False,False
3289,MIT_131,contactnumber,9295 50658 8,9295506558,9295506588,False,False
3369,MIT_187,contactnumber,F819222593 .,7819222593,819222593,False,False
3389,MIT_522,contactnumber,"76, BT 9.1 b.",7615793116,7691,False,False
3429,MIT_332,contactnumber,T230482418,7230482418,230482418,False,False
3448,MIT_523,contactnumber,"71, 9082 5.5.56 .",7190825156,7190825556,False,False
3468,TCE_1083,contactnumber,"0, 482 1/8 43.4 .",9482184324,048218434,False,False
3509,MIT_145,contactnumber,19239953/8 .,7923995378,192399538,False,False
3568,MIT_272,contactnumber,807 76613 (0,8077661310,807766130,False,False
3608,VIT_739,contactnumber,76326688,7632665898,76326688,False,False
3645,TCE_1314,contactnumber,1945 544695,7945544595,1945544695,False,False
3724,MIT_619,contactnumber,7926 0. 5509 .,7926045609,792605509,False,False
3743,TCE_1478,contactnumber,811 3.2311 ) .,8113223111,81132311,False,False
3801,TCE_1249,contactnumber,200714 3/8 2 .,9007143182,200714382,False,False
3821,MIT_218,contactnumber,96 9804 9491 .,9698049791,9698049491,False,False
3921,VIT_769,contactnumber,16th 35775 ),7674357751,1635775,False,False
3940,TCE_1112,contactnumber,7 3/93 8a18,7379380118,7393818,False,False
3959,TCE_1464,contactnumber,88031-01409 .,8803101909,8803101409,False,False
4000,MIT_414,contactnumber,7 433.733334 .,7433733384,7433733334,False,False
4079,TCE_1006,contactnumber,808506316,8085506316,808506316,False,False
4119,VIT_773,contactnumber,9 1321 6581 ),9132165871,913216581,False,False
4139,VIT_784,contactnumber,7923437000,7923437040,7923437000,False,False
4158,TCE_1016,contactnumber,8 9 4.52/5035 .,8945215035,894525035,False,False
4257,MIT_11,contactnumber,8 3 6/868909 .,8361868909,836868909,False,False
4296,TCE_1071,contactnumber,9 6 & 3542392,9683542392,963542392,False,False
4335,TCE_1419,contactnumber,18500802087 .,8500802087,18500802087,False,False
4394,TCE_1136,contactnumber,"9909 1/2,40",9909172540,99091240,False,False
4414,MIT_648,contactnumber,99666680503 .,9966580503,99666680503,False,False
4453,TCE_1282,contactnumber,8522 3.2 in,8522352714,852232,False,False
4492,TCE_1088,contactnumber,914TIS 4082 .,9147154082,9144082,False,False
4511,VIT_943,contactnumber,95592284841 .,9559228481,95592284841,False,False
4549,TCE_1498,contactnumber,75594-0807 .,7559460807,755940807,False,False
4588,TCE_1246,contactnumber,151797989 1 .,7517979891,1517979891,False,False
4608,VIT_792,contactnumber,"8'53 (7. bab """,8531721626,8537,False,False
4628,MIT_253,contactnumber,152329360,7523229360,152329360,False,False
4647,TCE_1152,contactnumber,T201234283 .,7201234283,201234283,False,False
4688,MIT_68,contactnumber,9 49876856,9498768656,949876856,False,False
4728,MIT_48,contactnumber,74 1.5.8.5.34 .,7415285239,74158534,False,False
4748,VIT_966,contactnumber,8579 296 59 .,8579729659,857929659,False,False
4767,TCE_1145,contactnumber,857 1657391 .,8571651391,8571657391,False,False
4807,MIT_396,contactnumber,73741 40458,7374140468,7374140458,False,False
4847,VIT_814,contactnumber,19.22 (6642,7932216642,19226642,False,False
4888,VIT_853,contactnumber,195613/69 .,7956131692,19561369,False,False
4907,VIT_716,contactnumber,"8998293100 ,",8998293190,8998293100,False,False
4948,VIT_772,contactnumber,9 2/3.76 23.5 .,9213762315,92376235,False,False
4968,MIT_352,contactnumber,97THI 5H8H9 .,9714154849,97589,False,False
4988,MIT_235,contactnumber,890560513 ) .,8905605131,890560513,False,False
5008,MIT_250,contactnumber,1966 3.93706,9663393706,1966393706,False,False
5028,VIT_972,contactnumber,8 9.2.8.6.344 .,8926876344,89286344,False,False
5066,TCE_1304,contactnumber,8531246717 .,8531246777,8531246717,False,False
5106,VIT_804,contactnumber,# 320 99 1992 .,7320991992,320991992,False,False
5185,TCE_1059,contactnumber,8 6 3.7.34.29.,8637342929,86373429,False,False
5224,TCE_1144,contactnumber,94273G 0136 .,9427320136,942730136,False,False
5263,MIT_562,contactnumber,96 37 4/9.79 .,9637419179,96374979,False,False
5302,VIT_938,contactnumber,909431322 ),9094313221,909431322,False,False
5341,VIT_956,contactnumber,as 4. 89108 .,9342897028,489108,False,False
5420,MIT_643,contactnumber,a 774 0 89968,9774089968,774089968,False,False
5460,MIT_55,contactnumber,99160388 964 .,9916038964,99160388964,False,False
5479,TCE_1139,contactnumber,7175 by 5453,7175645453,71755453,False,False
5499,MIT_444,contactnumber,946878bb46 .,9468786646,94687846,False,False
5534,VIT_942,contactnumber,896 3599339 .,8963589339,8963599339,False,False
5592,TCE_1472,contactnumber,83 2/21 69.89 .,8321216989,832216989,False,False
5632,VIT_722,contactnumber,86-m.2-46.44 .,8677124644,8624644,False,False
5653,MIT_637,contactnumber,9156558 4 .,9156556844,91565584,False,False
5673,MIT_256,contactnumber,9 3.20.2.597 .,9320223597,93202597,False,False
5732,MIT_120,contactnumber,"7.57, 608 b29 .",7571608629,75760829,False,False
5790,TCE_1206,contactnumber,9234 953 148 .,9234953748,9234953148,False,False
5810,MIT_128,contactnumber,754 3.58775,7543587795,754358775,False,False
5869,TCE_1008,contactnumber,7 50 215435,7502159435,750215435,False,False
5889,MIT_109,contactnumber,8564541068 .,8564547068,8564541068,False,False
5909,VIT_861,contactnumber,144 3300273 .,7443300273,1443300273,False,False
6025,MIT_234,contactnumber,1316672991 .,7316672991,1316672991,False,False
6163,MIT_546,contactnumber,96TT581804 .,9677581804,96581804,False,False
6183,MIT_245,contactnumber,857.53 956.3 .,8575395623,857539563,False,False
6202,TCE_1142,contactnumber,1968 547889 0,9685478890,19685478890,False,False
6240,MIT_133,contactnumber,8.2.29.9.504 .,8232979504,82299504,False,False
6279,TCE_1467,contactnumber,# 49965761 .,7349665761,49965761,False,False
6318,VIT_771,contactnumber,430 8883563 .,7308883563,4308883563,False,False
6377,TCE_1010,contactnumber,1 5.2.49 3.8.4.5,7524937845,152493845,False,False
6397,MIT_148,contactnumber,65 190 70916 .,8519070916,6519070916,False,False
6474,TCE_1062,contactnumber,"7 27,000688 .",7272606088,727000688,False,False
6492,MIT_527,contactnumber,"7 (2980830 """,7129806830,72980830,False,False
6512,MIT_422,contactnumber,8U13 714171 .,8013714171,813714171,False,False
6593,MIT_34,contactnumber,91624234443 .,9624234443,91624234443,False,False
6612,TCE_1477,contactnumber,1960s0-26,9601804726,1960026,False,False
6632,MIT_676,contactnumber,8749284840,8749284820,8749284840,False,False
6670,TCE_1107,contactnumber,"70,5976508",7015976508,705976508,False,False
6808,MIT_470,contactnumber,89618 15511 .,8967675577,8961815511,False,False
6869,VIT_952,contactnumber,732861452 .,7328614526,732861452,False,False
6928,MIT_60,contactnumber,82.5258221 .,8275258221,825258221,False,False
6947,TCE_1104,contactnumber,"99 ( 49 2 (336 """,9914921336,99492336,False,False
6987,TCE_1108,contactnumber,1862 1540387 .,8621540387,18621540387,False,False
7026,MIT_121,contactnumber,qvons 760459 .,9045760459,760459,False,False
7046,MIT_248,contactnumber,9008078542 .,9008078572,9008078542,False,False
7066,MIT_560,contactnumber,89r. 908047 .,8971908047,89908047,False,False
7085,TCE_1091,contactnumber,96916thoh3 .,9691614043,969163,False,False
7165,TCE_1418,contactnumber,8ITT648UT5 .,8177648475,86485,False,False
7185,MIT_147,contactnumber,74 90.85625 .,7490385625,749085625,False,False
7225,MIT_659,contactnumber,99 4 9 7 0.6.09 .,9949706309,994970609,False,False
7245,MIT_647,contactnumber,795 7679201927,7679201927,7957679201927,False,False
7283,TCE_1009,contactnumber,8269 6/ 4.8 .,8269614378,8269648,False,False
7303,MIT_406,contactnumber,7531865992 .,7531865592,7531865992,False,False
7342,VIT_811,contactnumber,81.286 6 150,8729866150,812866150,False,False
7361,TCE_1360,contactnumber,8848269874 .,8843269274,8848269874,False,False
7381,MIT_554,contactnumber,7473957695,7473957635,7473957695,False,False
7401,MIT_532,contactnumber,8' 1/5/2 .,8112152626,8152,False,False
7421,MIT_119,contactnumber,Fo 66 91 7.8.,7066917786,669178,False,False
7460,MIT_436,contactnumber,99821 16912 ) .,9921169121,9982116912,False,False
7479,VIT_753,contactnumber,94-23 ! 2.363 .,9442312363,94232363,False,False
7499,VIT_974,contactnumber,1946 563694 .,7946563694,1946563694,False,False
7633,MIT_18,contactnumber,"7 5.2,602974 .",7552602974,752602974,False,False
7652,TCE_1318,contactnumber,1244496962 .,7244496962,1244496962,False,False
7692,VIT_843,contactnumber,FOTGH G. 7 896,7034317896,7896,False,False
7712,MIT_162,contactnumber,89396 69838 .,8939609838,8939669838,False,False
7771,TCE_1404,contactnumber,8181355524 .,8181356524,8181355524,False,False
7791,VIT_842,contactnumber,"8,5,528233",8856528233,85528233,False,False
7910,VIT_768,contactnumber,73 68 5568 90 .,7368556820,7368556890,False,False
7949,TCE_1306,contactnumber,9227434/80 .,9227434780,922743480,False,False
7970,VIT_996,contactnumber,80 (7.4/4.4 .,8017341494,807444,False,False
7991,VIT_829,contactnumber,750 98/6267,7509816267,750986267,False,False
8050,MIT_499,contactnumber,"46 3559,4508 .",7635594508,4635594508,False,False
8069,TCE_1100,contactnumber,75534 7.585,7553473585,755347585,False,False
8089,MIT_151,contactnumber,"7 (1,3499260",7113499260,713499260,False,False
8108,TCE_1444,contactnumber,7/169514.3 .,7169514313,71695143,False,False
8127,TCE_1219,contactnumber,77 2080 942 ) .,7720809421,772080942,False,False
8147,VIT_752,contactnumber,800546 24.53 .,8388462253,8005462453,False,False
8164,TCE_1068,contactnumber,a 591 )78210,9591778210,59178210,False,False
8184,VIT_770,contactnumber,"976314 2,90 .",9763742790,976314290,False,False
8224,MIT_89,contactnumber,8538543990,8538543920,8538543990,False,False
8265,MIT_395,contactnumber,# 620240561,8820280561,620240561,False,False
8283,VIT_737,contactnumber,1999 1995 77,9991991577,1999199577,False,False
8323,MIT_657,contactnumber,70266 396176,7086396179,70266396176,False,False
8401,MIT_111,contactnumber,# 22898736 .,7622898736,22898736,False,False
8421,MIT_511,contactnumber,a brief 3/63-69 .,9943163569,36369,False,False
8440,TCE_1461,contactnumber,18589253747,7589253747,18589253747,False,False
8460,MIT_590,contactnumber,99 58 93 lb lb lb .,9958936166,995893,False,False
8557,VIT_730,contactnumber,"7 5.8 2,55667 .",7582155667,758255667,False,False
8577,MIT_328,contactnumber,923421 9175,9234219775,9234219175,False,False
8616,TCE_1105,contactnumber,851 7.5669,8517756684,85175669,False,False
8693,TCE_1244,contactnumber,9295 ft 24501 ) .,9295245011,929524501,False,False
8713,MIT_576,contactnumber,"970551,000",9705513000,970551000,False,False
8732,TCE_1375,contactnumber,18056028824 .,8056028824,18056028824,False,False
8830,VIT_981,contactnumber,89 #633637,8963633637,89633637,False,False

### Qualification

In [109]:
field_name = 'qualification'
print(df_processed[(df_processed['field_acc_processed'] == False) & (df_processed['file'] == field_name)].count())
df_processed[(df_processed['field_acc_processed'] == False) & (df_processed['file'] == field_name)]

folder                 257
file                   257
pred_text              257
actual_text            257
processed_text         257
field_acc_pred         257
field_acc_processed    257
dtype: int64

,folder,file,pred_text,actual_text,processed_text,field_acc_pred,field_acc_processed
10,MIT_290,qualification,10th pass .,10th Pass,10th pass,False,False
112,MIT_587,qualification,Ph D .,PhD,Ph D,False,False
152,MIT_482,qualification,12th pass .,12th Pass,12th pass,False,False
172,MIT_565,qualification,10th pass .,10th Pass,10th pass,False,False
192,TCE_1368,qualification,diploma .,Diploma,diploma,False,False
250,TCE_1073,qualification,post-graduate .,Post-Graduate,post-graduate,False,False
269,TCE_1390,qualification,cloth pass .,10th Pass,cloth pass,False,False
288,TCE_1039,qualification,diploma .,Diploma,diploma,False,False
344,TCE_1174,qualification,12th pass .,12th Pass,12th pass,False,False
363,MIT_274,qualification,Diplomat .,Diploma,Diplomat,False,False
421,TCE_1413,qualification,Gnaquate,Graduate,Gnaquate,False,False
439,MIT_110,qualification,post-Grachane,Post-Graduate,post-Grachane,False,False
459,VIT_921,qualification,12th place .,12th Pass,12th place,False,False
539,TCE_1203,qualification,10th pass .,10th Pass,10th pass,False,False
558,TCE_1247,qualification,12th Park .,12th Pass,12th Park,False,False
619,TCE_1262,qualification,Post-graduate .,Post-Graduate,Post-graduate,False,False
677,TCE_1332,qualification,Phud .,PhD,Phud,False,False
696,VIT_766,qualification,post-graduate .,Post-Graduate,post-graduate,False,False
735,TCE_1193,qualification,10th pass .,10th Pass,10th pass,False,False
754,TCE_1054,qualification,12th pass,12th Pass,12th pass,False,False
773,MIT_431,qualification,phD .,PhD,phD,False,False
793,MIT_35,qualification,10th pass .,10th Pass,10th pass,False,False
853,TCE_1468,qualification,18th P.,12th Pass,18th P,False,False
872,VIT_914,qualification,IPHD .,PhD,IPHD,False,False
911,MIT_174,qualification,12th pass .,12th Pass,12th pass,False,False
951,VIT_786,qualification,12th parts .,12th Pass,12th parts,False,False
971,MIT_488,qualification,phD .,PhD,phD,False,False
1012,MIT_199,qualification,Ph D .,PhD,Ph D,False,False
1052,MIT_45,qualification,pho .,PhD,pho,False,False
1072,VIT_867,qualification,phD .,PhD,phD,False,False
1092,TCE_1201,qualification,post-graduate,Post-Graduate,post-graduate,False,False
1111,VIT_961,qualification,( 2thpary .,12th Pass,2thpary,False,False
1131,MIT_163,qualification,graduate,Graduate,graduate,False,False
1150,TCE_1129,qualification,1 PhD .,PhD,1 PhD,False,False
1169,MIT_456,qualification,10th pass .,10th Pass,10th pass,False,False
1209,MIT_185,qualification,12th pass .,12th Pass,12th pass,False,False
1227,VIT_795,qualification,12th pass .,12th Pass,12th pass,False,False
1247,TCE_1402,qualification,ph D,PhD,ph D,False,False
1267,MIT_558,qualification,pho .,PhD,pho,False,False
1287,TCE_1168,qualification,12th pans .,12th Pass,12th pans,False,False
1325,MIT_494,qualification,10th pass . 1976,10th Pass,10th pass 1976,False,False
1365,VIT_894,qualification,10th pass .,12th Pass,10th pass,False,False
1385,TCE_1085,qualification,phD .,PhD,phD,False,False
1444,MIT_142,qualification,post-onadvate,Post-Graduate,post-onadvate,False,False
1484,VIT_927,qualification,post-Graduate .,Post-Graduate,post-Graduate,False,False
1503,TCE_1041,qualification,12th pass .,12th Pass,12th pass,False,False
1522,MIT_570,qualification,Ph D .,PhD,Ph D,False,False
1581,TCE_1096,qualification,12th pass,12th Pass,12th pass,False,False
1600,MIT_323,qualification,php .,PhD,php,False,False
1640,MIT_424,qualification,18th pass .,12th Pass,18th pass,False,False
1660,MIT_642,qualification,Post-lygraduate .,Post-Graduate,Post-lygraduate,False,False
1680,MIT_466,qualification,10th pass .,10th Pass,10th pass,False,False
1700,TCE_1023,qualification,10th pass .,10th Pass,10th pass,False,False
1738,TCE_1435,qualification,Ph D.,PhD,Ph D,False,False
1757,TCE_1192,qualification,12th pass .,12th Pass,12th pass,False,False
1776,TCE_1050,qualification,post . Graduate .,Post-Graduate,post Graduate,False,False
1795,MIT_47,qualification,12th pass .,12th Pass,12th pass,False,False
1854,MIT_106,qualification,graduate,Graduate,graduate,False,False
1894,TCE_1103,qualification,18th Pass .,10th Pass,18th Pass,False,False
1913,VIT_957,qualification,With Pass .,12th Pass,With Pass,False,False
1933,TCE_1421,qualification,Orraduate .,Graduate,Orraduate,False,False
1951,MIT_612,qualification,giraduate .,Graduate,giraduate,False,False
1991,MIT_340,qualification,Ph D .,PhD,Ph D,False,False
2030,MIT_7,qualification,broaduate .,Graduate,broaduate,False,False
2089,TCE_1482,qualification,Guarduate .,Graduate,Guarduate,False,False
2108,TCE_1381,qualification,10thpass,10th Pass,10thpass,False,False
2146,TCE_1030,qualification,post - Graduate .,Post-Graduate,post - Graduate,False,False
2165,VIT_721,qualification,Post graduate .,Post-Graduate,Post graduate,False,False
2205,MIT_691,qualification,circumative,Graduate,circumative,False,False
2226,VIT_732,qualification,diploma .,Diploma,diploma,False,False
2285,MIT_267,qualification,Post-Groradvate,Post-Graduate,Post-Groradvate,False,False
2402,MIT_401,qualification,Post-graduate,Post-Graduate,Post-graduate,False,False
2442,VIT_924,qualification,10 lb pass .,10th Pass,10 lb pass,False,False
2462,VIT_995,qualification,Ph D.,PhD,Ph D,False,False
2521,VIT_976,qualification,10th pass .,10th Pass,10th pass,False,False
2541,MIT_224,qualification,Deploma .,Diploma,Deploma,False,False
2560,MIT_9,qualification,currently pursuing BE.ECE .,Diploma,currently pursuing BEECE,False,False
2580,MIT_84,qualification,Coraduate .,Graduate,Coraduate,False,False
2600,VIT_852,qualification,10th pass .,10th Pass,10th pass,False,False
2620,TCE_1388,qualification,go on pass .,10th Pass,go on pass,False,False
2639,MIT_59,qualification,12th pass .,12th Pass,12th pass,False,False
2680,TCE_1230,qualification,pho .,PhD,pho,False,False
2699,VIT_790,qualification,diploma .,Diploma,diploma,False,False
2719,TCE_1158,qualification,Post-graduate .,Post-Graduate,Post-graduate,False,False
2738,TCE_1223,qualification,diploma .,Diploma,diploma,False,False
2757,VIT_741,qualification,pho .,PhD,pho,False,False
2776,MIT_489,qualification,Orradupte .,Graduate,Orradupte,False,False
2797,TCE_1324,qualification,12th pass .,12th Pass,12th pass,False,False
2815,MIT_317,qualification,10th pass .,10th Pass,10th pass,False,False
2835,MIT_541,qualification,the,PhD,the,False,False
2875,MIT_96,qualification,10th Paris .,10th Pass,10th Paris,False,False
2895,TCE_1303,qualification,phD .,PhD,phD,False,False
2973,TCE_1485,qualification,18th pass .,12th Pass,18th pass,False,False
2992,MIT_698,qualification,both pass .,10th Pass,both pass,False,False
3012,MIT_545,qualification,Diphoma .,Diploma,Diphoma,False,False
3072,MIT_266,qualification,diploma .,Diploma,diploma,False,False
3110,TCE_1346,qualification,graduate .,Graduate,graduate,False,False
3149,VIT_707,qualification,12th pass .,12th Pass,12th pass,False,False
3186,MIT_2,qualification,graduate .,Graduate,graduate,False,False
3206,TCE_1131,qualification,10th pass .,10th Pass,10th pass,False,False
3225,TCE_1207,qualification,12th pass .,12th Pass,12th pass,False,False
3284,MIT_131,qualification,12th pass .,12th Pass,12th pass,False,False
3304,MIT_73,qualification,Ph D,PhD,Ph D,False,False
3324,MIT_524,qualification,post - Gerardwhite,Post-Graduate,post - Gerardwhite,False,False
3344,TCE_1442,qualification,IP PhD .,PhD,IP PhD,False,False
3363,MIT_187,qualification,phD .,PhD,phD,False,False
3384,MIT_522,qualification,ph D .,PhD,ph D,False,False
3404,MIT_16,qualification,10th pass .,10th Pass,10th pass,False,False
3443,MIT_523,qualification,p n. D.,PhD,p n D,False,False
3464,TCE_1083,qualification,""" both pass",10th Pass,both pass,False,False
3483,VIT_906,qualification,10th Paris .,10th Pass,10th Paris,False,False
3504,MIT_145,qualification,Dipaloma .,Diploma,Dipaloma,False,False
3524,MIT_238,qualification,1 2th pass .,12th Pass,1 2th pass,False,False
3563,MIT_272,qualification,Post-graduate .,Post-Graduate,Post-graduate,False,False
3583,VIT_776,qualification,to the pass .,10th Pass,to the pass,False,False
3603,VIT_739,qualification,post graduate .,Post-Graduate,post graduate,False,False
3622,TCE_1179,qualification,I graduate .,Graduate,I graduate,False,False
3699,MIT_437,qualification,10th pass .,10th Pass,10th pass,False,False
3719,MIT_619,qualification,faten pans .,12th Pass,faten pans,False,False
3739,TCE_1478,qualification,diploma .,Diploma,diploma,False,False
3777,VIT_817,qualification,P b. D.,PhD,P b D,False,False
3974,MIT_430,qualification,10th pass .,10th Pass,10th pass,False,False
4015,MIT_318,qualification,post-graduate,Post-Graduate,post-graduate,False,False
4036,TCE_1458,qualification,12th pass .,12th Pass,12th pass,False,False
4055,MIT_258,qualification,12th pass .,12th Pass,12th pass,False,False
4075,TCE_1006,qualification,Post- graduate .,Post-Graduate,Post- graduate,False,False
4094,MIT_681,qualification,Iain Pass .,12th Pass,Iain Pass,False,False
4154,TCE_1016,qualification,Post-graduate .,Post-Graduate,Post-graduate,False,False
4173,VIT_808,qualification,10th pass .,10th Pass,10th pass,False,False
4193,MIT_536,qualification,ph D .,PhD,ph D,False,False
4213,MIT_81,qualification,post-Graduate,Post-Graduate,post-Graduate,False,False
4233,TCE_1248,qualification,phD .,PhD,phD,False,False
4252,MIT_11,qualification,10th pass .,10th Pass,10th pass,False,False
4292,TCE_1071,qualification,IRTH Pass,12th Pass,IRTH Pass,False,False
4331,TCE_1419,qualification,12th Paris .,12th Pass,12th Paris,False,False
4390,TCE_1136,qualification,join pass .,10th Pass,join pass,False,False
4429,MIT_10,qualification,12th Paris .,12th Pass,12th Paris,False,False
4449,TCE_1282,qualification,Post - graduate .,Post-Graduate,Post - graduate,False,False
4468,VIT_939,qualification,graduate .,Graduate,graduate,False,False
4488,TCE_1088,qualification,120th Pass .,12th Pass,120th Pass,False,False
4526,TCE_1228,qualification,post- Graduate,Post-Graduate,post- Graduate,False,False
4584,TCE_1246,qualification,12th pass .,12th Pass,12th pass,False,False
4643,TCE_1152,qualification,phD .,PhD,phD,False,False
4723,MIT_48,qualification,10th pass .,10th Pass,10th pass,False,False
4763,TCE_1145,qualification,post -- Confederate,Post-Graduate,post -- Confederate,False,False
4822,TCE_1490,qualification,10th pass .,10th Pass,10th pass,False,False
4841,VIT_814,qualification,lph D',PhD,lph D,False,False
4862,MIT_173,qualification,diploma .,Diploma,diploma,False,False
4963,MIT_352,qualification,12th pass .,12th Pass,12th pass,False,False
5003,MIT_250,qualification,12th pass .,12th Pass,12th pass,False,False
5062,TCE_1304,qualification,Post-Inraduate .,Post-Graduate,Post-Inraduate,False,False
5101,VIT_804,qualification,Post-Girachheach,Post-Graduate,Post-Girachheach,False,False
5162,TCE_1407,qualification,12th pass .,12th Pass,12th pass,False,False
5181,TCE_1059,qualification,10th pass .,10th Pass,10th pass,False,False
5239,TCE_1296,qualification,POST - GRADUATE,Post-Graduate,POST - GRADUATE,False,False
5316,MIT_445,qualification,12th pass .,12th Pass,12th pass,False,False
5336,VIT_956,qualification,p hd .,PhD,p hd,False,False
5356,MIT_530,qualification,PHD .,PhD,PHD,False,False
5395,VIT_755,qualification,Post Graduate .,Post-Graduate,Post Graduate,False,False
5415,MIT_643,qualification,12th pass .,12th Pass,12th pass,False,False
5529,VIT_942,qualification,( Dilloma .,Diploma,Dilloma,False,False
5588,TCE_1472,qualification,0th Pass .,10th Pass,0th Pass,False,False
5627,VIT_722,qualification,12th pass .,12th Pass,12th pass,False,False
5668,MIT_256,qualification,php.,PhD,php,False,False
5727,MIT_120,qualification,PUD .,PhD,PUD,False,False
5767,TCE_1265,qualification,Iain Pass,12th Pass,Iain Pass,False,False
5786,TCE_1206,qualification,Inthpars .,12th Pass,Inthpars,False,False
5865,TCE_1008,qualification,URADA TE.,Graduate,URADA TE,False,False
5884,MIT_109,qualification,ph'd .,PhD,phd,False,False
5924,TCE_1007,qualification,Diplomo .,Diploma,Diplomo,False,False
5943,TCE_1034,qualification,giraduate .,Graduate,giraduate,False,False
6001,TCE_1217,qualification,Iorn pass .,10th Pass,Iorn pass,False,False
6020,MIT_234,qualification,Ph D .,PhD,Ph D,False,False
6040,MIT_336,qualification,graduate .,Graduate,graduate,False,False
6060,TCE_1401,qualification,IphD .,PhD,IphD,False,False
6098,VIT_883,qualification,Pho .O .,PhD,Pho O,False,False
6118,MIT_194,qualification,Ph D .,PhD,Ph D,False,False
6138,MIT_203,qualification,Post-graduate .,Post-Graduate,Post-graduate,False,False
6198,TCE_1142,qualification,Post-Couraduate .,Post-Graduate,Post-Couraduate,False,False
6217,TCE_1333,qualification,Post - Great rate,Post-Graduate,Post - Great rate,False,False
6255,MIT_391,qualification,12th Passes .,12th Pass,12th Passes,False,False
6275,TCE_1467,qualification,10th pass .,10th Pass,10th pass,False,False
6294,TCE_1237,qualification,loth pans .,10th Pass,loth pans,False,False
6313,VIT_771,qualification,Phd .,PhD,Phd,False,False
6353,MIT_632,qualification,by graduate .,Graduate,by graduate,False,False
6392,MIT_148,qualification,sipoloma .,Diploma,sipoloma,False,False
6412,TCE_1497,qualification,20th Pier .,10th Pass,20th Pier,False,False
6470,TCE_1062,qualification,"Gradue ,ah .",Graduate,Gradue ah,False,False
6488,MIT_527,qualification,both parts .,10th Pass,both parts,False,False
6507,MIT_422,qualification,pHD .,PhD,pHD,False,False
6547,VIT_1000,qualification,Giraduate,Graduate,Giraduate,False,False
6568,VIT_915,qualification,Ph D .,PhD,Ph D,False,False
6588,MIT_34,qualification,10th pass .,10th Pass,10th pass,False,False
6745,VIT_946,qualification,Arraduate .,Graduate,Arraduate,False,False
6765,MIT_177,qualification,Post-Gruchate .,Post-Graduate,Post-Gruchate,False,False
6803,MIT_470,qualification,post-Graduate .,Post-Graduate,post-Graduate,False,False
6843,MIT_658,qualification,12th pass .,12th Pass,12th pass,False,False
6863,VIT_952,qualification,12th Paris .,12th Pass,12th Paris,False,False
6884,MIT_392,qualification,Ph D .,PhD,Ph D,False,False
6904,TCE_1165,qualification,Post-burduate .,Post-Graduate,Post-burduate,False,False
6923,MIT_60,qualification,Prost-graduate,Post-Graduate,Prost-graduate,False,False
6982,TCE_1108,qualification,post-graduate,Post-Graduate,post-graduate,False,False
7001,VIT_799,qualification,10th pans .,10th Pass,10th pans,False,False
7041,MIT_248,qualification,Post-On graduate .,Post-Graduate,Post-On graduate,False,False
7081,TCE_1091,qualification,Disloma .,Diploma,Disloma,False,False
7121,MIT_680,qualification,12th pale .,12th Pass,12th pale,False,False
7142,TCE_1084,qualification,php .,PhD,php,False,False
7161,TCE_1418,qualification,Post-Gisaduate,Post-Graduate,Post-Gisaduate,False,False
7180,MIT_147,qualification,Post-Inraduate .,Post-Graduate,Post-Inraduate,False,False
7260,TCE_1135,qualification,10th pass .,10th Pass,10th pass,False,False
7317,VIT_818,qualification,P L D .,PhD,P L D,False,False
7337,VIT_811,qualification,birachate,Graduate,birachate,False,False
7357,TCE_1360,qualification,Post-biradvate .,Post-Graduate,Post-biradvate,False,False
7376,MIT_554,qualification,10th pass .,10th Pass,10th pass,False,False
7396,MIT_532,qualification,Post-Cunadvable .,Post-Graduate,Post-Cunadvable,False,False
7474,VIT_753,qualification,graduate .,Graduate,graduate,False,False
7494,VIT_974,qualification,12th pass .,12th Pass,12th pass,False,False
7514,MIT_278,qualification,Post-Gushachuate,Post-Graduate,Post-Gushachuate,False,False
7551,TCE_1106,qualification,10th Pars .,10th Pass,10th Pars,False,False
7570,TCE_1340,qualification,Corraduate .,Graduate,Corraduate,False,False
7589,TCE_1315,qualification,Ph D .,PhD,Ph D,False,False
7628,MIT_18,qualification,12th pass .,12th Pass,12th pass,False,False
7687,VIT_843,qualification,10th peers .,10th Pass,10th peers,False,False
7707,MIT_162,qualification,ouraduate .,Graduate,ouraduate,False,False
7767,TCE_1404,qualification,12th Paris .,12th Pass,12th Paris,False,False
7826,MIT_183,qualification,Ph D .,PhD,Ph D,False,False
7865,MIT_375,qualification,G raduate .,Graduate,G raduate,False,False
7885,VIT_949,qualification,10th pass .,10th Pass,10th pass,False,False
7905,VIT_768,qualification,p h D .,PhD,p h D,False,False
7925,VIT_866,qualification,post - graduate,Post-Graduate,post - graduate,False,False
7964,VIT_996,qualification,curedate .,Graduate,curedate,False,False
8006,TCE_1364,qualification,12th pass .,12th Pass,12th pass,False,False
8025,MIT_668,qualification,10th pass .,10th Pass,10th pass,False,False
8045,MIT_499,qualification,12th pass .,12th Pass,12th pass,False,False
8065,TCE_1100,qualification,Post-circulate .,Post-Graduate,Post-circulate,False,False
8123,TCE_1219,qualification,12th pass .,12th Pass,12th pass,False,False
8142,VIT_752,qualification,post graduate .,Post-Graduate,post graduate,False,False
8179,VIT_770,qualification,Post-graduate .,Post-Graduate,Post-graduate,False,False
8199,MIT_434,qualification,10th pass .,10th Pass,10th pass,False,False
8239,MIT_617,qualification,j2th Pass .,12th Pass,j2th Pass,False,False
8279,VIT_737,qualification,Post dysfunction .,Post-Graduate,Post dysfunction,False,False
8297,MIT_169,qualification,10th pass .,10th Pass,10th pass,False,False
8317,MIT_657,qualification,post-headuate .,Post-Graduate,post-headuate,False,False
8338,VIT_774,qualification,10th pass .,10th Pass,10th pass,False,False
8396,MIT_111,qualification,Diplomar .,Diploma,Diplomar,False,False
8416,MIT_511,qualification,with purse .,12th Pass,with purse,False,False
8494,TCE_1420,qualification,graduate .,Graduate,graduate,False,False
8533,TCE_1126,qualification,6 PhP.,PhD,6 PhP,False,False
8552,VIT_730,qualification,12th pass .,12th Pass,12th pass,False,False
8572,MIT_328,qualification,phD .,PhD,phD,False,False
8631,MIT_281,qualification,Post-Orraduate .,Post-Graduate,Post-Orraduate,False,False
8670,TCE_1079,qualification,12th pass .,12th Pass,12th pass,False,False
8689,TCE_1244,qualification,12th pass .,12th Pass,12th pass,False,False
8728,TCE_1375,qualification,Post Graduate .,Post-Graduate,Post Graduate,False,False
8767,MIT_19,qualification,post-graduate .,Post-Graduate,post-graduate,False,False
8787,TCE_1293,qualification,phD .,PhD,phD,False,False
8825,VIT_981,qualification,Diflorna .,Diploma,Diflorna,False,False

In [ ]:
keys = list(cer.keys())
val1 = [cer[k][0] for k in keys]
val2 = [cer[k][1] for k in keys]
x = np.arange(len(keys))  # Positions for keys
width = 0.35  # Width of each bar

plt.figure(figsize=(10, 4))
plt.bar(x - width/2, val1, width, label='Predicted')
plt.bar(x + width/2, val2, width, label='Processed')
plt.xticks(x, keys, rotation=90)
plt.title('CER')
plt.legend()
plt.show()

In [ ]:
keys = list(wer.keys())
val1 = [wer[k][0] for k in keys]
val2 = [wer[k][1] for k in keys]
x = np.arange(len(keys))  # Positions for keys
width = 0.35  # Width of each bar

plt.figure(figsize=(10, 4))
plt.bar(x - width/2, val1, width, label='Predicted')
plt.bar(x + width/2, val2, width, label='Processed')
plt.xticks(x, keys, rotation=90)
plt.title('WER')
plt.legend()
plt.show()

### CER/WER Analysis
- CER: Blood Group
- WER: perm/present Address, DOB/Date, Blood Group, language known,

## Blood Group Analysis

In [ ]:
field = 'bloodgroup'
df_temp = df_processed[df_processed['file'] == field]
print(df_temp[df_temp['actual_text'] != df_temp['processed_text']][['pred_text','actual_text','processed_text']])

## Language Group Analysis

In [ ]:
pd.set_option('display.max_rows', None)
field = 'languageknown'
df_temp = df_processed[df_processed['file'] == field]
print("CER: ", char_error_rate(df_temp['actual_text'], df_temp['processed_text']))
print("WER: ", word_error_rate(df_temp['actual_text'], df_temp['processed_text']))
df_temp[df_temp['actual_text'] != df_temp['processed_text']][['pred_text','actual_text','processed_text']]

# Permanent Address

In [ ]:
pd.set_option('display.max_rows', None)
field = 'permanentaddress'
df_temp = df_processed[df_processed['file'] == field]
print("CER: ", char_error_rate(df_temp['actual_text'], df_temp['processed_text']))
print("WER: ", word_error_rate(df_temp['actual_text'], df_temp['processed_text']))
df_temp[df_temp['actual_text'] != df_temp['processed_text']][['pred_text','actual_text','processed_text']]

In [ ]:
len(df_temp[df_temp['actual_text'] != df_temp['processed_text']][['pred_text','actual_text','processed_text']])

# Date Analysis

In [ ]:
pd.set_option('display.max_rows', None)
field = 'date'
df_temp = df_processed[df_processed['file'] == field]
print("CER: ", char_error_rate(df_temp['actual_text'], df_temp['processed_text']))
print("WER: ", word_error_rate(df_temp['actual_text'], df_temp['processed_text']))
df_temp[df_temp['actual_text'] != df_temp['processed_text']][['pred_text','actual_text','processed_text']]

In [ ]:
len(df_temp[df_temp['actual_text'] != df_temp['processed_text']][['pred_text','actual_text','processed_text']])

In [ ]:
field_name = 'Dateofbirth'
df_temp = df_processed[df_processed['file'] == field_name]
df_processed.loc[df_processed['file'] == field_name, 'processed_text'] = df_processed[['file', 'pred_text']].apply(post_processing, axis=1)
df_processed
# df_processed[df_processed['file'] == 'nationality'][['pred_text', 'processed_text']]
# char_error_rate(df_processed[df_processed['file'] == field_name]['actual_text'], df_processed[df_processed['file'] == field_name]['processed_text'])

In [ ]:
field_name = 'Dateofbirth'
df_processed.loc[df_processed['file'] == field_name, 'processed_text'] =  df_processed[df_processed['file'] == field_name]['pred_text'].apply(date_specific)
# df_processed[df_processed['file'] == 'nationality'][['pred_text', 'processed_text']]
char_error_rate(df_processed[df_processed['file'] == field_name]['actual_text'], df_processed[df_processed['file'] == field_name]['processed_text'])

In [ ]:
field_name = 'date'
df_processed.loc[df_processed['file'] == field_name, 'processed_text'] =  df_processed[df_processed['file'] == field_name]['pred_text'].apply(date_specific)
# df_processed[df_processed['file'] == 'nationality'][['pred_text', 'processed_text']]
char_error_rate(df_processed[df_processed['file'] == field_name]['actual_text'], df_processed[df_processed['file'] == field_name]['processed_text'])

In [ ]:
field_name = 'bloodgroup'
df_processed.loc[df_processed['file'] == field_name, 'processed_text'] =  df_processed[df_processed['file'] == field_name]['pred_text'].apply(bloodgroup_specific)
# df_processed[df_processed['file'] == 'nationality'][['pred_text', 'processed_text']]
char_error_rate(df_processed[df_processed['file'] == field_name]['actual_text'], df_processed[df_processed['file'] == field_name]['processed_text'])

## Nationality

In [ ]:
df_processed.loc[df_processed['file'] == field_name, 'processed_text'] =  df_processed[df_processed['file'] == 'nationality']['pred_text'].apply(remove_special_char)
df_processed[df_processed['file'] == 'nationality'][['pred_text', 'processed_text']]
char_error_rate(df_processed[df_processed['file'] == 'nationality']['actual_text'], df_processed[df_processed['file'] == 'nationality']['processed_text'])

In [ ]:
field_name = 'pancard'
df_processed.loc[df_processed['file'] == field_name, 'processed_text'] =  df_processed[df_processed['file'] == field_name]['pred_text'].apply(remove_special_char)
# df_processed[df_processed['file'] == 'nationality'][['pred_text', 'processed_text']]
char_error_rate(df_processed[df_processed['file'] == field_name]['actual_text'], df_processed[df_processed['file'] == field_name]['processed_text'])

In [ ]:
field_name = 'maritalstatus'
df_processed.loc[df_processed['file'] == field_name, 'processed_text'] =  df_processed[df_processed['file'] == field_name]['pred_text'].apply(remove_special_char)
# df_processed[df_processed['file'] == 'nationality'][['pred_text', 'processed_text']]
char_error_rate(df_processed[df_processed['file'] == field_name]['actual_text'], df_processed[df_processed['file'] == field_name]['processed_text'])

In [ ]:
field_name = 'gender'
df_processed.loc[df_processed['file'] == field_name, 'processed_text'] =  df_processed[df_processed['file'] == field_name]['pred_text'].apply(remove_special_char)
# df_processed[df_processed['file'] == 'nationality'][['pred_text', 'processed_text']]
char_error_rate(df_processed[df_processed['file'] == field_name]['actual_text'], df_processed[df_processed['file'] == field_name]['processed_text'])

In [ ]:
field_name = 'contactnumber'
df_processed.loc[df_processed['file'] == field_name, 'processed_text'] =  df_processed[df_processed['file'] == field_name]['pred_text'].apply(numeric_only)
df_processed[df_processed['file'] == field_name][['pred_text', 'processed_text']]
char_error_rate(df_processed[df_processed['file'] == field_name]['actual_text'], df_processed[df_processed['file'] == field_name]['processed_text'])

In [ ]:
field_name = 'AlternateNo'
df_processed.loc[df_processed['file'] == field_name, 'processed_text'] =  df_processed[df_processed['file'] == field_name]['pred_text'].apply(numeric_only)
df_processed[df_processed['file'] == field_name][['pred_text', 'processed_text']]
char_error_rate(df_processed[df_processed['file'] == field_name]['actual_text'], df_processed[df_processed['file'] == field_name]['processed_text'])

In [ ]:
field_name = 'aadhaarcard'
df_processed.loc[df_processed['file'] == field_name, 'processed_text'] =  df_processed[df_processed['file'] == field_name]['pred_text'].apply(numeric_only)
df_processed[df_processed['file'] == field_name][['pred_text', 'processed_text']]
char_error_rate(df_processed[df_processed['file'] == field_name]['actual_text'], df_processed[df_processed['file'] == field_name]['processed_text'])

In [ ]:
field_name = 'candidatename'
df_processed.loc[df_processed['file'] == field_name, 'processed_text'] =  df_processed[df_processed['file'] == field_name]['pred_text'].apply(char_space)
df_processed[df_processed['file'] == field_name][['pred_text', 'processed_text']]
char_error_rate(df_processed[df_processed['file'] == field_name]['actual_text'], df_processed[df_processed['file'] == field_name]['processed_text'])

In [ ]:
field_name = 'Fatherhusbandname'
df_processed.loc[df_processed['file'] == field_name, 'processed_text'] = df_processed[df_processed['file'] == field_name]['pred_text'].apply(char_space)
df_processed[df_processed['file'] == field_name][['pred_text', 'processed_text']]
char_error_rate(df_processed[df_processed['file'] == field_name]['actual_text'], df_processed[df_processed['file'] == field_name]['processed_text'])

In [ ]:
field_name = 'place'
df_processed.loc[df_processed['file'] == field_name, 'processed_text'] = df_processed[df_processed['file'] == field_name]['pred_text'].apply(char_space)
df_processed[df_processed['file'] == field_name][['pred_text', 'processed_text']]
char_error_rate(df_processed[df_processed['file'] == field_name]['actual_text'], df_processed[df_processed['file'] == field_name]['processed_text'])

In [ ]:
char_error_rate(df_processed['actual_text'], df_processed['pred_text'])

In [ ]:
word_error_rate(df_processed['actual_text'], df_processed['pred_text'])

In [ ]:
char_error_rate(df_processed['actual_text'], df_processed['processed_text'])

In [ ]:
word_error_rate(df_processed['actual_text'], df_processed['processed_text'])

In [ ]:
# No. of words
# Date: 
# Only numeric
# Only Alpha numeric
#

# Anand OCR Model Results Analysis

In [140]:
import jellyfish
noisy_word = "sngl"
valid_labels = ['Single', 'Married']
similarities = [jellyfish.jaro_winkler_similarity(noisy_word.lower(), label.lower()) for label in valid_labels]
max_index = similarities.index(max(similarities))
valid_labels[max_index], max(similarities)

('Single', 0.8999999999999999)

In [142]:
df_temp = df_processed[df_processed['file'] == 'maritalstatus'][['pred_text', 'actual_text', 'processed_text']].copy()

In [155]:
def find_distance(texts):
    return [levenshtein_distance('Single', texts[1]), levenshtein_distance('Married', texts[1]), levenshtein_distance('UnMarried', texts[1])]

In [152]:
valid_labels = ['Single', 'Married']
def find_wink_similarity(texts):
    noisy_word = texts[1]
    similarities = [jellyfish.jaro_winkler_similarity(noisy_word.lower(), label.lower()) for label in valid_labels]
    max_index = similarities.index(max(similarities))
#     valid_labels[max_index], max(similarities)
    return max(similarities)

In [156]:
df_temp['l_dist'] = df_temp[['actual_text', 'processed_text']].apply(find_distance, axis=1)

In [153]:
df_temp['wink_sim'] = df_temp['processed_text'].apply(find_wink_similarity)

In [159]:
df_temp[df_temp['actual_text'] != df_temp['processed_text']]

         pred_text actual_text processed_text     l_dist  wink_sim
136      Mounied .     Married        Mounied  [6, 3, 5]  0.000000
156      I married     Married       Imarried  [7, 2, 3]  0.742857
291       manned .     Married         Manned  [5, 3, 5]  0.714286
347     turn old .      Single        Turnold  [5, 5, 7]  0.000000
367      I married     Married       Imarried  [7, 2, 3]  0.742857
443    Sing live .      Single       Singlive  [2, 7, 8]  0.722222
503     Niaquied .     Married       Niaquied  [6, 4, 5]  0.722222
561      Marneed .     Married        Marneed  [6, 2, 4]  0.714286
680    I Marnied .     Married       Imarnied  [7, 3, 4]  0.742857
738      Mazzied .     Married        Mazzied  [6, 2, 4]  0.714286
1153     I married     Married       Imarried  [7, 2, 3]  0.742857
1213     Marcled .     Married        Marcled  [5, 2, 4]  0.714286
1506     manneed .     Married        Manneed  [5, 3, 5]  0.714286
1584    Marrice of     Married      Marriceof  [8, 3, 5]  0.714286
1624     Marsied .     Married        Marsied  [6, 1, 3]  0.714286
2149        Mauved     Married         Mauved  [6, 3, 5]  0.714286
2328     Marmied .     Married        Marmied  [6, 1, 3]  0.714286
2386     Mannied .     Married        Mannied  [5, 2, 4]  0.714286
2564   Unmarried .     Married      Unmarried  [8, 3, 1]  0.722222
2819       sinal .      Single          Sinal  [2, 7, 8]  0.722222
2859       Mani et     Married         Maniet  [5, 3, 5]  0.714286
2976     Marnied .     Married        Marnied  [6, 1, 3]  0.714286
2996      manned .     Married         Manned  [5, 3, 5]  0.714286
3016      Singla .      Single         Singla  [1, 7, 9]  0.722222
3308      simple .      Single         Simple  [2, 6, 8]  0.722222
3428     Marsied .     Married        Marsied  [6, 1, 3]  0.714286
3567    Marrived .     Married       Marrived  [7, 1, 3]  0.714286
3859        sigh .      Single           Sigh  [3, 6, 8]  0.722222
4177        sing's      Single          Sings  [2, 7, 9]  0.722222
4413     Singles .      Single        Singles  [1, 6, 8]  0.722222
4747      haried .     Married         Haried  [6, 2, 4]  0.714286
5085     Monsued .     Married        Monsued  [5, 4, 6]  0.000000
5105   Mouri eel .     Married       Mourieel  [7, 4, 6]  0.000000
5204    Mauveled .     Married       Mauveled  [6, 4, 6]  0.714286
5262      Bingle .      Single         Bingle  [1, 6, 8]  0.722222
5301   Mississed .     Married      Mississed  [7, 5, 7]  0.722222
5379    mavri ed .     Married        Mavried  [6, 1, 3]  0.714286
5459      market .     Married         Market  [6, 3, 5]  0.714286
5591     tarried .     Married        Tarried  [6, 1, 3]  0.714286
5631      singly .      Single         Singly  [1, 7, 9]  0.722222
5751    Maroried .     Married       Maroried  [7, 1, 3]  0.714286
5966       qing le      Single         Qingle  [1, 6, 8]  0.722222
6063       Marries     Married        Marries  [6, 1, 3]  0.714286
6122    Marquied .     Married       Marquied  [7, 2, 4]  0.714286
6278    I single .      Single        Isingle  [2, 7, 8]  0.750000
6396    Marrived .     Married       Marrived  [7, 1, 3]  0.714286
6455     Massied .     Married        Massied  [6, 2, 4]  0.714286
6473     Marered .     Married        Marered  [6, 2, 4]  0.714286
6491    Marvined .     Married       Marvined  [7, 2, 4]  0.714286
6669      Maired .     Married         Maired  [6, 2, 4]  0.714286
6788     maesied .     Married        Maesied  [6, 2, 4]  0.714286
6868       Mamed .     Married          Mamed  [6, 3, 5]  0.714286
6927  Mr married .     Married      Mrmarried  [8, 2, 3]  0.714286
7380       marfred     Married        Marfred  [6, 2, 4]  0.714286
7478     Marsied .     Married        Marsied  [6, 1, 3]  0.714286
7711     Mauvied .     Married        Mauvied  [6, 2, 4]  0.714286
7790    Marrieel .     Married       Marrieel  [7, 2, 4]  0.714286
7849       Marused     Married        Marused  [6, 2, 4]  0.714286
8009   I married .     Married       Imarried  [7, 2, 3]  0.742857
8107     larmied .     Married        Larmied  [6, 2, 4]  0.714286
8439    I single .      Single        Isingle  [2, 7, 8]  0.750000
8536     MARRIGP .     Married        Marrigp  [7, 2, 4]  0.714286
8751    Marvined .     Married       Marvined  [7, 2, 4]  0.714286

In [161]:
label_file = root_dir + "/" + r"Dataset\temp\train.csv"
df_act_train = pd.read_csv(label_file)

df_act_train['folder'] = df_act_train['image'].apply(lambda x: x.split("/")[2])
df_act_train['file'] = df_act_train['image'].apply(lambda x: x.split("/")[-1].replace(".jpg", ""))
df_act_train.drop('image', axis=1, inplace=True)
df_act_train.head()

            text folder               file
0  Dayita Bakshi  MIT_1      candidatename
1   Laksh Bakshi  MIT_1  Fatherhusbandname
2     12/27/1975  MIT_1        Dateofbirth
3  Post-Graduate  MIT_1      qualification
4        Married  MIT_1      maritalstatus

In [162]:
gender_labels = df_act_train[df_act_train['file'] == 'gender']['text'].unique()
gender_labels

array(['Female', 'Male'], dtype=object)

In [163]:
marital_labels = df_act_train[df_act_train['file'] == 'maritalstatus']['text'].unique()
marital_labels

array(['Married', 'Single'], dtype=object)

In [164]:
qualification_labels = df_act_train[df_act_train['file'] == 'qualification']['text'].unique()
qualification_labels

array(['Post-Graduate', 'Graduate', 'Diploma', '10th Pass', '12th Pass',
       'PhD', 'Integrated M.tech', 'B.Tech'], dtype=object)

In [166]:
nationality_labels = df_act_train[df_act_train['file'] == 'nationality']['text'].unique()
nationality_labels

array(['Indian'], dtype=object)

In [176]:
language = df_act_train[df_act_train['file'] == 'languageknown']['text']
lang_labels = []
for i in range(len(language)):
    text = language.iloc[i]
    text = re.sub(r"[^A-Za-z0-9 ]+", "", text)
#     text = [ele.strip() for ele in text.split()]
    for ele in text.split():
        ele = ele.strip()
        if ele not in lang_labels:
            lang_labels.append(ele)
lang_labels

['Marathi',
 'English',
 'Telugu',
 'Hindi',
 'Bengali',
 'Kannada',
 'Malayalam',
 'Gujarati',
 'Tamil',
 'Kanada']

In [260]:
place_labels = df_act_train[df_act_train['file'] == 'place']['text'].unique()
place_labels

array(['Dehradun', 'Bhopal', 'Itanagar', 'Kolkata', 'Jaipur',
       'Gandhinagar', 'Imphal', 'Panaji', 'Shillong', 'Lucknow', 'Dispur',
       'Thiruvananthapuram', 'Patna', 'Agartala', 'Gangtok', 'Kohima',
       'Chennai', 'Chandigarh', 'Shimla', 'Ranchi', 'Kavaratti', 'Mumbai',
       'Aizawl', 'Hyderabad', 'Raipur', 'Delhi', 'Bengaluru', 'Nellore',
       'koilkuntla', 'Ternekal'], dtype=object)

In [263]:
field_vocabulary = {}
field_vocabulary['gender'] = list(gender_labels)
field_vocabulary['maritalstatus'] = list(marital_labels)
field_vocabulary['nationality'] = list(nationality_labels)
field_vocabulary['qualification'] = list(qualification_labels)
field_vocabulary['language'] = lang_labels
field_vocabulary['place'] = list(place_labels)
field_vocabulary

{'gender': ['Female', 'Male'],
 'maritalstatus': ['Married', 'Single'],
 'nationality': ['Indian'],
 'qualification': ['Post-Graduate',
  'Graduate',
  'Diploma',
  '10th Pass',
  '12th Pass',
  'PhD',
  'Integrated M.tech',
  'B.Tech'],
 'language': ['Marathi',
  'English',
  'Telugu',
  'Hindi',
  'Bengali',
  'Kannada',
  'Malayalam',
  'Gujarati',
  'Tamil',
  'Kanada'],
 'place': ['Dehradun',
  'Bhopal',
  'Itanagar',
  'Kolkata',
  'Jaipur',
  'Gandhinagar',
  'Imphal',
  'Panaji',
  'Shillong',
  'Lucknow',
  'Dispur',
  'Thiruvananthapuram',
  'Patna',
  'Agartala',
  'Gangtok',
  'Kohima',
  'Chennai',
  'Chandigarh',
  'Shimla',
  'Ranchi',
  'Kavaratti',
  'Mumbai',
  'Aizawl',
  'Hyderabad',
  'Raipur',
  'Delhi',
  'Bengaluru',
  'Nellore',
  'koilkuntla',
  'Ternekal']}

In [264]:
import json
with open("field_vocabulary.json", "w") as f:
    json.dump(field_vocabulary, f)

# Load the dictionary from the JSON file